src/main/resources/xsd/EDXL-DE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     Emergency Data Exchange Language (EDXL) Distribution Element Version 2.0
     Committee Specification 02
     19 September 2013
     Copyright (c) OASIS Open 2013. All Rights Reserved.
     Source: http://docs.oasis-open.org/emergency/edxl-de/v2.0/cs02/schema/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:edxl-gsf="urn:oasis:names:tc:emergency:edxl:gsf:1.0"
           xmlns:ct="urn:oasis:names:tc:emergency:edxl:ct:1.0"
           xmlns="urn:oasis:names:tc:emergency:EDXL:DE:2.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:ext="urn:oasis:names:tc:emergency:edxl:extension:1.0"
           targetNamespace="urn:oasis:names:tc:emergency:EDXL:DE:2.0"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0CD">
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="other-supporting-schema/xlink.xsd"/>
    <xs:import namespace="urn:oasis:names:tc:emergency:edxl:gsf:1.0"
               schemaLocation="other-supporting-schema/EDXLCT_wd06/edxl-gsf.v1.0.xsd"/>
    <xs:import namespace="urn:oasis:names:tc:emergency:edxl:ct:1.0"
               schemaLocation="other-supporting-schema/EDXLCT_wd06/edxl-ct-v1.0-wd05.xsd"/>

    <xs:import namespace="urn:oasis:names:tc:emergency:edxl:extension:1.0"
               schemaLocation="other-supporting-schema/EDXLCT_wd06/edxl-ext-v1.0.xsd"/>

    <!--       Hub Santé extensions -->
    <xs:import namespace="urn:emergency:cisu:2.0" schemaLocation="./RC-EDA.xsd"/>
    <!--       Hub Santé extensions -->

    <xs:element name="edxlDistribution" type="DEDistributionType"/>
    <xs:complexType name="DEDistributionType">
        <xs:complexContent>
            <xs:extension base="DEEnvelopeType">
                <xs:sequence>
                    <xs:element ref="descriptor" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="content" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="other" type="AnyXMLType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="xlink:extendedAttrs"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DEEnvelopeType">
        <xs:sequence>
            <xs:element name="distributionID" type="ct:EDXLStringType" minOccurs="1"/>
            <xs:element name="senderID" type="ct:EDXLStringType" minOccurs="1"/>
            <xs:element name="dateTimeSent" type="ct:EDXLDateTimeType" minOccurs="1"/>
            <xs:element name="dateTimeExpires" type="ct:EDXLDateTimeType" minOccurs="1"/>
            <xs:element name="distributionStatus" type="DistributionStatusType" minOccurs="1"/>
            <xs:element name="distributionKind" type="DistributionKindType" minOccurs="1"/>
            <xs:element ref="ext:extension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="descriptor" type="DEDescriptorType"/>
    <xs:complexType name="DEDescriptorType">
        <xs:sequence>
            <xs:element name="combinedConfidentiality" type="ConfidentialityType" minOccurs="0"/>
            <xs:element name="language" type="xs:language" minOccurs="0"/>
            <xs:element name="senderRole" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="recipientRole" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="keyword" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="explicitAddress" type="ValueSchemeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="targetAreas" type="TargetAreasType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="urgency" type="UrgencyType" minOccurs="0"/>
            <xs:element name="severity" type="SeverityType" minOccurs="0"/>
            <xs:element name="certainty" type="CertaintyType" minOccurs="0"/>
            <xs:element name="incidentID" type="ct:EDXLStringType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="incidentDescription" type="ct:EDXLStringType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="ext:extension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="xlink:resourceAttrs"/>
    </xs:complexType>
    <xs:element name="content" type="DEContentType"/>
    <xs:complexType name="DEContentType">
        <xs:sequence>
            <xs:element ref="contentObject" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="xlink:resourceAttrs"/>
    </xs:complexType>
    <xs:element name="link" type="DELinkType"/>
    <xs:complexType name="DELinkType">
        <xs:attributeGroup ref="xlink:arcAttrs"/>
    </xs:complexType>
    <xs:element name="contentDescriptor" type="DEContentDescriptorType"/>
    <xs:complexType name="DEContentDescriptorType">
        <xs:sequence>
            <xs:element name="contentDescription" type="ct:EDXLStringType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contentKeyword" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="originatorRole" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="consumerRole" type="ct:ValueListType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="contentID" type="ct:EDXLStringType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="confidentiality" type="ConfidentialityType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contentLanguage" type="xs:language" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="ext:extension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="contentObject" type="DEContentObjectType"/>
    <xs:complexType name="DEContentObjectType">
        <xs:sequence>
            <xs:element ref="contentDescriptor" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="contentXML" type="ContentXmlType"/>
                <xs:element name="otherContent" type="OtherContentType"/>
            </xs:choice>
            <xs:element name="other" type="AnyXMLType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="xlink:resourceAttrs"/>
    </xs:complexType>
    <xs:complexType name="OtherContentType" mixed="false">
        <xs:sequence>
            <xs:element name="mimeType" type="ct:EDXLStringType" minOccurs="1"/>
            <xs:element name="size" type="xs:integer" minOccurs="0"/>
            <xs:element name="digest" type="xs:base64Binary" minOccurs="0"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="uri" type="xs:anyURI"/>
                    <xs:element name="contentData" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
                <xs:element name="contentData" type="xs:base64Binary"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentXmlType" mixed="false">
        <xs:sequence>
            <xs:element name="keyXMLContent" type="AnyXMLType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="embeddedXMLContent" type="AnyXMLType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnyXMLType">
        <xs:sequence>
            <xs:any namespace="##other" processContents="strict" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="TargetAreasType">
        <xs:sequence>
            <xs:element name="areaKind" type="AreaKindType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="areaGrouping" type="AreaGroupingType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="targetArea" type="TargetAreaType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TargetAreaType">
        <xs:choice>
            <xs:element ref="edxl-gsf:EDXLGeoLocation" minOccurs="1" maxOccurs="1"/>
            <xs:element name="geoPoliticalLocation" type="ct:EDXLGeoPoliticalLocationType" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValueSchemeType">
        <xs:sequence>
            <xs:element name="explicitAddressScheme" type="ct:EDXLStringType"/>
            <xs:element name="explicitAddressValue" type="ct:EDXLStringType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AreaKindType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="SourceTargetArea"/>
            <xs:enumeration value="DistributionTargetArea"/>
            <xs:enumeration value="OtherTargetArea"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AreaGroupingType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Intersection"/>
            <xs:enumeration value="Union"/>
            <xs:enumeration value="ExclusiveOr"/>
            <xs:enumeration value="Complement"/>
            <xs:enumeration value="OtherGroupingType"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConfidentialityType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Unclassified"/>
            <xs:enumeration value="Classified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CertaintyType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Observed"/>
            <xs:enumeration value="Likely"/>
            <xs:enumeration value="Possible"/>
            <xs:enumeration value="Unlikely"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionKindType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Report"/>
            <xs:enumeration value="Update"/>
            <xs:enumeration value="Cancel"/>
            <xs:enumeration value="Request"/>
            <xs:enumeration value="Response"/>
            <xs:enumeration value="Dispatch"/>
            <xs:enumeration value="Ack"/>
            <xs:enumeration value="Error"/>
            <xs:enumeration value="SensorConfiguration"/>
            <xs:enumeration value="SensorControl"/>
            <xs:enumeration value="SensorStatus"/>
            <xs:enumeration value="SensorDetection"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionStatusType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Actual"/>
            <xs:enumeration value="Exercise"/>
            <xs:enumeration value="System"/>
            <xs:enumeration value="Test"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SeverityType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Extreme"/>
            <xs:enumeration value="Severe"/>
            <xs:enumeration value="Moderate"/>
            <xs:enumeration value="Minor"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UrgencyType">
        <xs:restriction base="ct:EDXLStringType">
            <xs:enumeration value="Immediate"/>
            <xs:enumeration value="Expected"/>
            <xs:enumeration value="Future"/>
            <xs:enumeration value="Past"/>
            <xs:enumeration value="Unknown"/>
            <xs:enumeration value="NoAppropriateDefault"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
