src/main/resources/xsd/EMSI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:x="urn:emergency:cisu:2.0" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0" xmlns="http://www.w3.org/2001/XMLSchema">
	<complexType name="EMSI">
		<sequence>
			<element name="emsi" type="x:emsi"/>
		</sequence>
	</complexType>
	<complexType name="emsi">
		<sequence>
			<element name="CONTEXT" type="x:context"/>
			<element name="EVENT" type="x:event"/>
			<element maxOccurs="unbounded" minOccurs="0" name="MISSION" type="x:mission"/>
			<element maxOccurs="unbounded" minOccurs="0" name="RESOURCE" type="x:resource"/>
		</sequence>
	</complexType>
	<complexType name="context">
		<sequence>
			<element name="ID" type="string">
				<annotation>
					<documentation>A constituer par le rédacteur du présent EMSI pour être unique, il est préconisé de reprendre la valeur du champ messageId de l'entête RC-DE.</documentation>
				</annotation>
			</element>
			<element name="MODE">
				<annotation>
					<documentation>Valeur constante dans le cadre des échanges LRM-NexSIS : ACTUAL</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ACTUAL"/>
						<enumeration value="EXERCS"/>
						<enumeration value="SYSTEM"/>
						<enumeration value="TEST"/>
					</restriction>
				</simpleType>
			</element>
			<element name="MSGTYPE">
				<annotation>
					<documentation>- A valoriser avec la valeur "ALERT" lors du premier échange entre systèmes.
- A valoriser avec la valeur constante "UPDATE" ensuite.
Peut ne pas être interprété par les LRM.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ACK"/>
						<enumeration value="ALERT"/>
						<enumeration value="CANCEL"/>
						<enumeration value="ERROR"/>
						<enumeration value="UPDATE"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="CREATION" type="dateTime">
				<annotation>
					<documentation>Obligatoire dans le cadre d'une demande de concours, contient la date de création de la demande de concours dans le système du partenaire requérant.
A valoriser avec le même horaire que dateTimeSent dans le message RC-DE associé.
Dans le cadre d'une demande de concours, obligatoire. Ce champ est valorisée avec l'heure de création de la demande de concours chez le partenaire emetteur. L'heure d'envoi du message peut être obtenue via l'enveloppe EDXL-DE (se référer au DST)</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="LINK" type="x:link"/>
			<element minOccurs="0" name="LEVEL">
				<annotation>
					<documentation>A valoriser avec la valeur constante "OPR" dans le cadre du message EMSI-EO</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="STRTGC"/>
						<enumeration value="OPR"/>
						<enumeration value="TACTCL"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="SECLASS">
				<annotation>
					<documentation>Optionnel

Dans NexSIS ; 
Les messages transmis par NexSIS auront un champ valorisé avec systématiquement le même code: "RESTRC"=restricted
Les LRM doivent également renseigner la valeur "RESTRC"</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="CONFID"/>
						<enumeration value="RESTRC"/>
						<enumeration value="SECRET"/>
						<enumeration value="TOPSRT"/>
						<enumeration value="UNCLAS"/>
						<enumeration value="UNMARK"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Texte libre, optionnel

Dans NexSIS;
 Fonction de l'événement générateur
RG 1 : la valeur de &lt;context&gt;&lt;freetext&gt; reste à  'Création d'un événement opérationnel EMSI' &amp; version &amp; 'suite à réception d'une affaire*' dans le cadre de la création d'une opération commune (conforme RG 2 de NEXSIS-6618)
RG 3 : les événements générateurs sont ceux définis au sein de NEXSIS-6619 RG 1 de traçabilité  ( input = &lt;Evenement à l'origine&gt; = CREATION_OPERATION / MAJ_MODIFICATION_ETAT_OPERATION / AJOUT_RESSOURCE / RETRAIT_RESSOURCE / MAJ_ETAT_SITUATION_RESSOURCE / MAJ_LOCALISATION_ADRESSE) auxquels seront ajoutés  les éventuels événements à venir.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ORIGIN" type="x:origin"/>
			<element maxOccurs="unbounded" minOccurs="0" name="EXTERNAL_INFO" type="x:externalInfo"/>
			<element minOccurs="0" name="URGENCY">
				<annotation>
					<documentation>Niveau d'urgence pour l'affaire en cours
Dans le cadre des échanges LRM-NexSIS, optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="URGENT"/>
						<enumeration value="NOT_URGENT"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="event">
		<sequence>
			<element name="ID" type="string">
				<annotation>
					<documentation>Identifiant local de l'affaire dans le système du partenaire emetteur</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="NAME" type="string">
				<annotation>
					<documentation>Optionnel
Dans nexSIS; [libelle NF 1 métier] &amp; " - " &amp; [libelle TL 1 métier] &amp; " - " &amp; [libellé commune]</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MAIN_EVENT_ID" type="string">
				<annotation>
					<documentation>Identifiant d’affaire partagé issu du message RC-EDA transmis en amont
NB : Dans le cas d’un partage initié par un SAMU, on peut avoir EVENT.ID = EVENT.MAIN_EVENT_ID</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ETYPE" type="x:etype"/>
			<element minOccurs="0" name="SOURCE">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="COMFOR"/>
						<enumeration value="HUMDED"/>
						<enumeration value="HUMOBS"/>
						<enumeration value="SENSOR"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="SCALE">
				<annotation>
					<documentation>Optionnel, Niveau de criticité de l'opération</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="1"/>
						<enumeration value="2"/>
						<enumeration value="3"/>
						<enumeration value="4"/>
						<enumeration value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="CERTAINTY" type="int">
				<annotation>
					<documentation>Prend une valeur entière entre 0 et 100, et décrit à quel point l'alerte associée à l'événement est fiable
Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="DECL_DATIME" type="dateTime">
				<annotation>
					<documentation>Dans le cadre d'une demande de concours, ce champ est valorisé avec la date/heure de création de l'affaire ou de l'opération.
NexSIS transmettra la date/heure de création de l'opération dans ses systèmes (qui peut diverger de la date/heure de création de l'affaire)</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="OCC_DATIME" type="dateTime">
				<annotation>
					<documentation>Dans le cadre d'une demande de concours, ce champ est valorisé avec la date de la première alerte ou la date évaluée de début de la situation d'urgence.
Par exemple :
Si un incendie est déclaré est 9h02, il a pu démarré à 8h55 par exemple.
NB : temporairement, NexSIS renseignera ce champ avec la date de réception de l'alerte initiale</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="OBS_DATIME" type="dateTime">
				<annotation>
					<documentation>Ce champ est idéalement à valoriser avec la date/heure à laquelle l'observation de la situation d'urgence de l'affaire la plus récente a été réalisée.
NexSIS transmettra la date/heure d'envoi de la demande de concours dans son système.
NB : temporairement, NexSIS renseignera ce champ avec la date de réception de l'alerte initiale</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="STATUS">
				<annotation>
					<documentation>Permet de décrire le status de l'affaire en cours.
Ce champ suit une nomenclature EMSI. (COM = event complete, IPR = event in progress, NST = event not started, STOP = STOP = event under control, no need for additional resource)
Dans le cadre d'une opération :
- si l'opération est encore en cours : rensigner 'IPR',
- si le dispatching de moyens est encore en cours ou que seulement des qualifications d'alertes ont été échangées sans aucune décision de régulation 'NST',
- si l'opération est en pause/veille : 'STOP'
- si le message d'échange opérationnel décrit une fin d'opération, à renseigner avec 'COM'
Un message EMSI-EO sans RESSOURCE ni </documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="COM"/>
						<enumeration value="IPR"/>
						<enumeration value="NST"/>
						<enumeration value="STOP"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="RISK_ASSESMENT">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="NCREA"/>
						<enumeration value="DECREA"/>
						<enumeration value="STABLE"/>
					</restriction>
				</simpleType>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="REFERENCE" type="x:reference"/>
			<element maxOccurs="unbounded" minOccurs="0" name="CASUALTIES" type="x:casualties"/>
			<element maxOccurs="unbounded" minOccurs="0" name="EVAC" type="x:evac"/>
			<element maxOccurs="unbounded" minOccurs="0" name="EGEO" type="x:egeo"/>
			<element minOccurs="0" name="CAUSE">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ACC"/>
						<enumeration value="DEL"/>
						<enumeration value="NAT"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="mission">
		<sequence>
			<element name="TYPE">
				<annotation>
					<documentation>Le champ MISSION TYPE permet d'identifier l'effet à obtenir souhaité à partir de la combinaison du code ACTOR et du code TYPE.
=&gt; La table de transcodage permettant d'identifier les concourants et les effets à obtenir à partir d'un code EMSI est fournie en annexe "Référentiel Effets à Obtenir - correspondance EMSI".
Dans le cadre d'une réponse à DC :
- reprendre le type de la DC si le code réponse choisi est vien "VALIDE"
Dans le cadre d'une mission décrivant les opérations en cours :
- reprendre la nomenclature EMSI pour caractériser la mission en cours.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="C2"/>
						<enumeration value="CBRN"/>
						<enumeration value="FF"/>
						<enumeration value="FSTT"/>
						<enumeration value="GEN"/>
						<enumeration value="INT"/>
						<enumeration value="MAC"/>
						<enumeration value="MIL"/>
						<enumeration value="NET"/>
						<enumeration value="OPR"/>
						<enumeration value="POL"/>
						<enumeration value="REC"/>
						<enumeration value="RSC"/>
						<enumeration value="SAV"/>
						<enumeration value="SCS"/>
						<enumeration value="SOC"/>
						<enumeration value="C2/DEBRIF"/>
						<enumeration value="C2/DNRSKA"/>
						<enumeration value="C2/INASSM"/>
						<enumeration value="C2/OIC"/>
						<enumeration value="C2/POA"/>
						<enumeration value="C2/THRTAS"/>
						<enumeration value="CBRN/CBRNCH"/>
						<enumeration value="CBRN/CBRNDC"/>
						<enumeration value="CBRN/NTRCH"/>
						<enumeration value="CBRN/NUCWS"/>
						<enumeration value="FF/IN"/>
						<enumeration value="FF/OA"/>
						<enumeration value="FF/SALVAG"/>
						<enumeration value="FF/STR"/>
						<enumeration value="FF/TRP"/>
						<enumeration value="FSTT/DI"/>
						<enumeration value="FSTT/RRHAZ"/>
						<enumeration value="FSTT/TA"/>
						<enumeration value="GEN/AIRLAU"/>
						<enumeration value="GEN/ASSMBL"/>
						<enumeration value="GEN/CRWDCT"/>
						<enumeration value="GEN/DEMO"/>
						<enumeration value="GEN/DEPLOY"/>
						<enumeration value="GEN/DSTRBT"/>
						<enumeration value="GEN/FINANC"/>
						<enumeration value="GEN/MARKNG"/>
						<enumeration value="GEN/MOVE"/>
						<enumeration value="GEN/RECVRN"/>
						<enumeration value="GEN/RECVRY"/>
						<enumeration value="GEN/REDPLN"/>
						<enumeration value="GEN/REORGN"/>
						<enumeration value="GEN/REPAIR"/>
						<enumeration value="GEN/RESPLN"/>
						<enumeration value="GEN/RESTNG"/>
						<enumeration value="GEN/RETIRE"/>
						<enumeration value="GEN/RLFPLC"/>
						<enumeration value="GEN/RNDZVS"/>
						<enumeration value="GEN/SCNMNG"/>
						<enumeration value="GEN/SECRNG"/>
						<enumeration value="GEN/STNGUP"/>
						<enumeration value="GEN/SUPRTN"/>
						<enumeration value="GEN/TRNSPN"/>
						<enumeration value="INT/BIOSMP"/>
						<enumeration value="INT/CHMSMP"/>
						<enumeration value="INT/IDENT"/>
						<enumeration value="INT/ILLUMN"/>
						<enumeration value="INT/LOCTNG"/>
						<enumeration value="INT/NUCSMP"/>
						<enumeration value="INT/OBSRNG"/>
						<enumeration value="INT/PLUMOD"/>
						<enumeration value="INT/PTRLNG"/>
						<enumeration value="INT/RECCE"/>
						<enumeration value="INT/SRVMET"/>
						<enumeration value="INT/SRVSEN"/>
						<enumeration value="INT/WITNSN"/>
						<enumeration value="MAC/AII"/>
						<enumeration value="MAC/COL"/>
						<enumeration value="MIL/BCESC"/>
						<enumeration value="MIL/BLOCKN"/>
						<enumeration value="MIL/BOMBNG"/>
						<enumeration value="MIL/CAPTUR"/>
						<enumeration value="MIL/CTRATK"/>
						<enumeration value="MIL/DEFEND"/>
						<enumeration value="MIL/DISENG"/>
						<enumeration value="MIL/DIVRSN"/>
						<enumeration value="MIL/DLBATK"/>
						<enumeration value="MIL/DSRPTN"/>
						<enumeration value="MIL/ENVLPN"/>
						<enumeration value="MIL/FIX"/>
						<enumeration value="MIL/HARASS"/>
						<enumeration value="MIL/HIDE"/>
						<enumeration value="MIL/HLDDEF"/>
						<enumeration value="MIL/HLDOFF"/>
						<enumeration value="MIL/INFLTN"/>
						<enumeration value="MIL/INTCPN"/>
						<enumeration value="MIL/INTDCT"/>
						<enumeration value="MIL/MASFOR"/>
						<enumeration value="MIL/MIL"/>
						<enumeration value="MIL/WPNFIR"/>
						<enumeration value="NET/COMDEA"/>
						<enumeration value="NET/DATTRF"/>
						<enumeration value="NET/NETJAM"/>
						<enumeration value="NET/NETSEI"/>
						<enumeration value="NET/SGNC"/>
						<enumeration value="NET/SGNLE"/>
						<enumeration value="POL/NTRCOM"/>
						<enumeration value="POL/NTREXP"/>
						<enumeration value="POL/SCNMNG"/>
						<enumeration value="POL/SCNPRS"/>
						<enumeration value="POL/SHELTR"/>
						<enumeration value="POL/SUSHOS"/>
						<enumeration value="POL/WITDRL"/>
						<enumeration value="REC/CLROBS"/>
						<enumeration value="REC/COMACT"/>
						<enumeration value="REC/COMRES"/>
						<enumeration value="REC/CONSTN"/>
						<enumeration value="REC/ENGCN"/>
						<enumeration value="REC/ENGCNN"/>
						<enumeration value="REC/PROCUR"/>
						<enumeration value="REC/PRVACC"/>
						<enumeration value="REC/PRVAGR"/>
						<enumeration value="REC/PRVBDD"/>
						<enumeration value="REC/PRVCMP"/>
						<enumeration value="REC/PRVCNS"/>
						<enumeration value="REC/PRVDCN"/>
						<enumeration value="REC/PRVEDU"/>
						<enumeration value="REC/PRVHLT"/>
						<enumeration value="REC/PRVHSN"/>
						<enumeration value="REC/PRVINF"/>
						<enumeration value="REC/PRVLND"/>
						<enumeration value="REC/PRVRPR"/>
						<enumeration value="REC/PRVSCY"/>
						<enumeration value="REC/PRVSHL"/>
						<enumeration value="REC/PRVSTG"/>
						<enumeration value="REC/PRVTRS"/>
						<enumeration value="REC/PSO"/>
						<enumeration value="REC/SPLLDB"/>
						<enumeration value="REC/SPLWAT"/>
						<enumeration value="REC/UTILTY"/>
						<enumeration value="REC/WATER"/>
						<enumeration value="RSC/COVERN"/>
						<enumeration value="RSC/FRFGTN"/>
						<enumeration value="RSC/MEDEVC"/>
						<enumeration value="RSC/SAR"/>
						<enumeration value="SAV/AR"/>
						<enumeration value="SAV/ASC"/>
						<enumeration value="SAV/RHD"/>
						<enumeration value="SAV/RTA"/>
						<enumeration value="SAV/SARCSL"/>
						<enumeration value="SAV/SARHHA"/>
						<enumeration value="SAV/SRW"/>
						<enumeration value="SAV/USAR"/>
						<enumeration value="SAV/UW"/>
						<enumeration value="SCS/EDU"/>
						<enumeration value="SOC/CNDCNF"/>
						<enumeration value="SOC/CNDMED"/>
						<enumeration value="SOC/CNDRCR"/>
						<enumeration value="SOC/CNDSCL"/>
						<enumeration value="SOC/CNDSPT"/>
						<enumeration value="SOC/ISSMDA"/>
						<enumeration value="SOC/ISSMDD"/>
						<enumeration value="SOC/ISSPRS"/>
						<enumeration value="SOC/MN"/>
						<enumeration value="SOC/PUBMDA"/>
						<enumeration value="SOC/PUBMDD"/>
						<enumeration value="SOC/PUBPRS"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Contient des commentaires relatifs aux objectifs et  moyens sollicités dans le cadre de la demande de concours. Les équipements supplémentaires souhaités ou le nom/ prénom des patients à prendre en charge peuvent être explicitement indiqués ici.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ID" type="string">
				<annotation>
					<documentation>Contient un identifiant de demande de concours unique. Cet identifiant sera réutilisable par le partenaire pour répondre à cette demande.
Identifiant unique de la mission dans le système du partenaire la conduisant.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ORG_ID" type="string">
				<annotation>
					<documentation>Indique l'organisation du partenaire concerné par la Demande de Concours (voir DSF 8.4). Le code CRRA ou le code du SIS peut être utilisé.
Indique l'organisation du service réalisant la mission. Dans le cas d'une réponse, c'est l'organisation du concourant qui doit être indiquée.
Se référer au DSF pour la structure normée des organisations
Le format est le suivant {pays}:{domaine}:{code département}:{organisation}:{structure interne}*:{unité fonctionnelle}*.
identique à &lt;CONTEXT&gt;&lt;ORIGIN&gt;&lt;ORG_ID&gt;</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="NAME" type="string">
				<annotation>
					<documentation>Le nom de la mission est construit à partir de l'expression régulière suivante :
"#DEMANDE_CONCOURS#"{libelle_cadre_conventionnel}"#"{code_cadre_conventionnel}"#"
où le code_cadre_conventionnel est issue d'une nomenclature CISU-Cadre Conventionnel (A Venir)
NB : ce champ est détourné par rapport au standard EMSI pour permettre l'expression d'une demande de concours et indiquer le cadre conventionnel dans lequel elle est effectuée.
Pour une réponse à demande de concours :
- Le nom de la mission est construit à partir de l'expression régulière suivante :
"#REPONSE_DEMANDE_CONCOURS#"{code_reponse}"#"
où le code_reponse peut prendre les valeurs ACCEPTE, REFUS, PARTIELLE, DIVERGENTE
- sinon libre</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="STATUS">
				<annotation>
					<documentation>Les valeurs possibles avec lesquelles valoriser ce champ sont détaillées au sein d'une nomenclature EMSI
- ABO : mission refusée (ABOrted)
- CANCLD : mission annulée (CANCeLeD)**
- NST : mission non débuté pour le métier (Not STarted)
- IPR :  mission débuté pour le métier (In PRogress). la valeur IPR peut être suivi d'une valeur numérique de 00 à 100 (IPRnn) spécifiant le degré d'avancement de la mission. Ce principe n'est pas retenu au sein de NexSIS qui ne transmettra pas d'indication sur le degré d'avancement de la mission via ce champ.
- PAU : événement arrêté, en pause pour métier, pas de besoin supplémentaire
- COM : événement terminé pour le métier (COMplete)
Le status de la mission et celui des RESSOURCE associées doit être cohérent et transcodable avec un status ANTARES (voir DSF)

Dans le cas d'un objet MISSION générique de réponse à demande de concours, le champ doit être valorisé à "NST"</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ABO"/>
						<enumeration value="NST"/>
						<enumeration value="CANCLD"/>
						<enumeration value="COM"/>
						<enumeration value="IPR"/>
						<enumeration value="PAU"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="START_TIME" type="dateTime">
				<annotation>
					<documentation>- Dans le cadre d'une réponse à Demande de Concours
Horraire cible pour l'arrivée sur les lieux décrites (peut diverger de l'horaire demandé)
- Dans le cadre d'une mission décrivant les opérations en cours :
Horaire effectif de début de la mission</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="END_TIME" type="dateTime">
				<annotation>
					<documentation>A valoriser selon la catégorie de mission :
- Dans le cadre d'une mission de réponse à demande de concours : ne pas renseigner
- Dans le cadre d'une mission décrivant les opérations en cours :
 Si c'est un déplacement, l'heure d'arrivée, si c'est une prise en charge patient/victime, la fin de la prise en charge.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="RESOURCE_ID" type="string"/>
			<element maxOccurs="unbounded" minOccurs="0" name="PARENT_MISSION_ID" type="string"/>
			<element maxOccurs="unbounded" minOccurs="0" name="CHILD_MISSION_ID" type="string"/>
			<element minOccurs="0" name="MAIN_MISSION_ID" type="string">
				<annotation>
					<documentation>- Dans le cas d'une mission générique de réponse à demande de concours, indiquer l'ID de la mission générique utilisée pour modéliser la demande de concours
- Dans le cas d'une mission déclenchée dans le cadre d'une réponse à demande de concours, l'ID de la mission générique de réponse peut être utilisée dans ce champ pour indiquer qu'elle est liée à une réponse</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="POSITION" type="x:position"/>
			<element minOccurs="0" name="PRIORITY">
				<annotation>
					<documentation>Indique une échelle de priorité pour la demande de concours. Dans le cadre du standard EMSI, cette échelle doit être comprise entre 0 et 5. Ce champ peut ne pas être interprété ni alimenté par les LRMs.
Dans le cadre d'un échange des opérations, optionnel. Le champ peut ne pas être émis ni interprété.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="0"/>
						<enumeration value="1"/>
						<enumeration value="2"/>
						<enumeration value="3"/>
						<enumeration value="4"/>
						<enumeration value="5"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="resource">
		<sequence>
			<element name="RTYPE" type="x:rtype"/>
			<element minOccurs="0" name="ID" type="string">
				<annotation>
					<documentation>Identifiant unique de la ressource  dans le système du partenaire propriétaire. Les systèmes sont garants de l'unicité et de l'invariablité des ids de véhicule dans le temps. Ils peuvent se servir des ids dans les référentiels existants si ils sont uniques et stables.
Dans le cas d'un véhicule agrégé par un LRM (comme un SMUR), l'ID doit être valorisé avec son immatriculation.
Dans le cas d'un véhicule agrégé par NexSIS, l'ID fournit peut ne pas correspondre à une immatriculation.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ORG_ID" type="string">
				<annotation>
					<documentation>Identifiant de l'organisation à laquelle la ressource est rattachée (caserne, SAMU etc).
Se référer au DSF pour la structure normée des organisations
Le format est le suivant {pays}.{domaine}.{code département}.{organisation}.{structure interne}*.{unité fonctionnelle}*.
Dans le cas où le LRM/NexSIS sert d'aggrégateur pour des véhicules appartenant à un partenaire tiers (type ambulance privée), l'identifiant d'organisation permet d'identifier ce tiers
A constituer par le rédacteur du présent EMSI pour être unique, identique à &lt;CONTEXT&gt;&lt;ORIGIN&gt;&lt;ORG_ID&gt;</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="NAME" type="string">
				<annotation>
					<documentation>Nom donné à la ressource par le partenaire. L'immatriculation peut être utilisée dans le nom courant des véhicules.
Dans le cas pompier, les véhicules sont nommés
Dans le cas d'équipier, cela peut être leur nom</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Texte libre permettant de décrire la ressource où d'ajouter des précisions sur son engagement.
Permet aussi notamment de décrire des attributs librement pour la ressource.
Par exemple, pour un véhicule, sa plaque d'immatriculation.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="RGEO" type="x:rgeo"/>
			<element minOccurs="0" name="QUANTITY" type="decimal">
				<annotation>
					<documentation>Dans le cadre d'un échange d'opération, optionnel. Permet de quantifier une ressource :
- à ne pas utiliser pour les véhicules ni le personnel
- utilisable pour du matériel
- utilisable pour des consommables (dans le cas de consommable, à compléter avec le champ UM)</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="UM">
				<annotation>
					<documentation>Dans le cadre d'un échange d'opération, optionnel. Unité de mesure pour des ressources consommables</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="LSV"/>
						<enumeration value="OTH"/>
						<enumeration value="PKG"/>
						<enumeration value="TIM"/>
						<enumeration value="WGT"/>
						<enumeration value="LSV/CM"/>
						<enumeration value="LSV/CMH"/>
						<enumeration value="LSV/CNTLTR"/>
						<enumeration value="LSV/DEG"/>
						<enumeration value="LSV/HCTLTR"/>
						<enumeration value="LSV/HCTMTR"/>
						<enumeration value="LSV/KM"/>
						<enumeration value="LSV/KPH"/>
						<enumeration value="LSV/LI"/>
						<enumeration value="LSV/LTPRHR"/>
						<enumeration value="LSV/LTPRMN"/>
						<enumeration value="LSV/METRE"/>
						<enumeration value="LSV/MILLTR"/>
						<enumeration value="LSV/MILMTR"/>
						<enumeration value="LSV/SMH"/>
						<enumeration value="LSV/SQM"/>
						<enumeration value="OTH/COIL"/>
						<enumeration value="OTH/DOZEN"/>
						<enumeration value="OTH/EA"/>
						<enumeration value="OTH/GROSS"/>
						<enumeration value="OTH/MANHUR"/>
						<enumeration value="OTH/MHPRHR"/>
						<enumeration value="PKG/BALE"/>
						<enumeration value="PKG/BARREL"/>
						<enumeration value="PKG/BLK"/>
						<enumeration value="PKG/BOX"/>
						<enumeration value="PKG/CASE"/>
						<enumeration value="PKG/CONTNR"/>
						<enumeration value="PKG/CRATE"/>
						<enumeration value="PKG/DRM"/>
						<enumeration value="PKG/JERCAN"/>
						<enumeration value="PKG/PAK"/>
						<enumeration value="PKG/PAL"/>
						<enumeration value="PKG/RATION"/>
						<enumeration value="TIM/DAY"/>
						<enumeration value="TIM/HR"/>
						<enumeration value="TIM/MINUTE"/>
						<enumeration value="TIM/MON"/>
						<enumeration value="TIM/SECOND"/>
						<enumeration value="TIM/WEK"/>
						<enumeration value="TIM/YEA"/>
						<enumeration value="WGT/CNTGRM"/>
						<enumeration value="WGT/GRAM"/>
						<enumeration value="WGT/KG"/>
						<enumeration value="WGT/KGH"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="STATUS">
				<annotation>
					<documentation>Définit le statut de disponibilité d'une ressource.
- AVAILB : Lorsqu'une mission est terminée, une ressource redevient disponible
- RESRVD : Lorsque la ressource est réservée pour intervenir sur l'affaire mais pas encore engagée dans l'opération. Par exemple : un SMUR termine un autre transfert patient/victime avant de rejoindre une autre intervention : il est alors RESRVD
- IN_USE/MOBILE : à utiliser pour les véhicules et le personnel lorsqu'ils se déplaces
- IN_USE/ON_SCENE : à utiliser pour les véhicules et le personnel lorsqu'ils sont sur les lieux de l'affaire</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="AVAILB"/>
						<enumeration value="UNAV"/>
						<enumeration value="MAINTC"/>
						<enumeration value="RESRVD"/>
						<enumeration value="VIRTUAL"/>
						<enumeration value="IN_USE/MOBILE"/>
						<enumeration value="IN_USE/ON_SCENE"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="NATIONALITY" type="string">
				<annotation>
					<documentation>Nationalité d'une ressource, réemployer ISO 3166-1-alpha-2 code elements.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="CONTACTS" type="x:contact"/>
		</sequence>
	</complexType>
	<complexType name="link">
		<sequence>
			<element name="ID" type="string">
				<annotation>
					<documentation>A renseigner avec l'identifiant local de l'affaire du partenaire requérant
Dans NexSIS;
RG 1  – : création du premier message EMSi suite réception Affaire
• &lt;LINK&gt;&lt;LINK ID&gt; = &lt;Numéro d'affaire initiale&gt;
• &lt;LINK&gt;&lt;LINK ROLE&gt; = 'ADDSTO',
RG 2 : Pour tous les messages créés après le premier, EMSI &lt;LINK&gt; est complété par &lt;LINK&gt;&lt;LINK ID&gt; contenant l'ID de message EMSI précédent créé au sein du SGO rédacteur * &lt;LINK&gt;&lt;LINK ROLE&gt; = 'SPRSDS'</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="LINK_ROLE">
				<annotation>
					<documentation>Optionnel : à valoriser avec la constante "SPRSDS" en EMSI-EO et avec le libellé ADDSTO en EMSI-DC

Dans Nexsis;
RG 1  – : création du premier message EMSi suite réception Affaire * &lt;LINK&gt;&lt;LINK ID&gt; = &lt;Numéro d'affaire initiale&gt;
• &lt;LINK&gt;&lt;LINK ROLE&gt; = 'ADDSTO',
RG 2 : Pour tous les messages créés après le premier, EMSI &lt;LINK&gt; est complété par &lt;LINK&gt;&lt;LINK ID&gt; contenant l'ID de message EMSI précédent créé au sein du SGO rédacteur * &lt;LINK&gt;&lt;LINK ROLE&gt; = 'SPRSDS'</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ADDSTO"/>
						<enumeration value="SPRSDS"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="origin">
		<sequence>
			<element minOccurs="0" name="ORG_ID" type="string">
				<annotation>
					<documentation>Optionnel, identifiant du service à l'origine de l'EMSI
Se référer au DSF pour la structure normée des organisations
Le format est le suivant {pays}.{domaine}.{code département}.{organisation}.{structure interne}*.{unité fonctionnelle}*.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="USER_ID" type="string">
				<annotation>
					<documentation>Optionnel, identifiant de l'opérateur du service à l'origine de l'EMSI</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="NAME" type="string">
				<annotation>
					<documentation>Optionnel

A constituer par le rédacteur pour être intelligible (exemple [structure].[nom])</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="externalInfo">
		<sequence>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element name="URI" type="string">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TYPE">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="MANUAL"/>
						<enumeration value="MAP"/>
						<enumeration value="OTHER"/>
						<enumeration value="PHOTO"/>
						<enumeration value="WEBSIT"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="etype">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="CATEGORY" type="enum"/>
			<element maxOccurs="unbounded" minOccurs="0" name="ACTOR" type="enum"/>
			<element maxOccurs="unbounded" minOccurs="0" name="LOCTYPE" type="string"/>
			<element minOccurs="0" name="ENV">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="CDIS"/>
						<enumeration value="DIS"/>
						<enumeration value="TER"/>
						<enumeration value="CDIS/RIOT"/>
						<enumeration value="DIS/CBRN"/>
						<enumeration value="DIS/ERTHQK"/>
						<enumeration value="DIS/FIRE"/>
						<enumeration value="DIS/FLOOD"/>
						<enumeration value="DIS/INDHAZ"/>
						<enumeration value="DIS/LNDSLD"/>
						<enumeration value="DIS/PWROUT"/>
						<enumeration value="DIS/RADCNT"/>
						<enumeration value="DIS/SNOW"/>
						<enumeration value="DIS/STCLPS"/>
						<enumeration value="DIS/STORM"/>
						<enumeration value="DIS/TRSPRT"/>
						<enumeration value="DIS/TSNAMI"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="reference">
		<sequence>
			<element name="ORG_ID" type="string">
				<annotation>
					<documentation>Identification de l'organisation partenaire</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="OTHER_EVENT_ID" type="string"/>
		</sequence>
	</complexType>
	<complexType name="casualties">
		<sequence>
			<element name="CONTEXT" type="string">
				<annotation>
					<documentation>Le champ doit être renseigné mais peut ne pas être interprété</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="DATIME" type="dateTime">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="DECONT" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TRIAGERED" type="int">
				<annotation>
					<documentation>Optionnel, Triage victime au sens EMSI</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TRIAGEYELLOW" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TRIAGEGREEN" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TRIAGEBLACK" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MISSING" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="evac">
		<sequence>
			<element minOccurs="0" name="DATIME" type="dateTime">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="DISPLACED" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="EVACUATED" type="int">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="egeo">
		<sequence>
			<element minOccurs="0" name="DATIME" type="dateTime">
				<annotation>
					<documentation>Optionnel
La localisation de l'affaire est transmise en amont dans un message RC-EDA et le lieu souhaité pour l'intervention est systématiquement reprécisé dans un objet MISSION</documentation>
				</annotation>
			</element>
			<element name="TYPE">
				<annotation>
					<documentation>Optionnel
La localisation de l'affaire est transmise en amont dans un message RC-EDA et le lieu souhaité pour l'intervention est systématiquement reprécisé dans un objet MISSION.
A constituer depuis ref_mapping_EMSI_EVENT_EGEO_TYPE_NEXSIS_
/!\ plusieurs champs NEXSIS
/!\ plusieurs valeurs par champs d'où un groupe&lt;EGEO&gt; à créer par type différents</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="AIR"/>
						<enumeration value="CMB"/>
						<enumeration value="DGR"/>
						<enumeration value="FLAME"/>
						<enumeration value="GEN"/>
						<enumeration value="PLUME"/>
						<enumeration value="SMOKE"/>
						<enumeration value="VULN"/>
						<enumeration value="AIR/COR"/>
						<enumeration value="AIR/FLDZ"/>
						<enumeration value="AIR/LZ"/>
						<enumeration value="AIR/NOFLZN"/>
						<enumeration value="AIR/PZ"/>
						<enumeration value="AIR/UAVASP"/>
						<enumeration value="CMB/CZ"/>
						<enumeration value="CMB/DNGR"/>
						<enumeration value="CMB/EXTZN"/>
						<enumeration value="CMB/IMPTPT"/>
						<enumeration value="DGR/BIO"/>
						<enumeration value="DGR/BOMB"/>
						<enumeration value="DGR/CBRNHZ"/>
						<enumeration value="DGR/CBRNRSD"/>
						<enumeration value="DGR/CHM"/>
						<enumeration value="DGR/HZD"/>
						<enumeration value="DGR/MIND"/>
						<enumeration value="DGR/NGA"/>
						<enumeration value="DGR/NGACIV"/>
						<enumeration value="DGR/NUKCNL"/>
						<enumeration value="DGR/OBSGEN"/>
						<enumeration value="DGR/PRHBAR"/>
						<enumeration value="DGR/RAD"/>
						<enumeration value="DGR/RADCLD"/>
						<enumeration value="DGR/RSTR"/>
						<enumeration value="DGR/SGA"/>
						<enumeration value="DGR/SITKIL"/>
						<enumeration value="DGR/UNXOD"/>
						<enumeration value="GEN/AOR"/>
						<enumeration value="GEN/ASYGEN"/>
						<enumeration value="GEN/ASYSPL"/>
						<enumeration value="GEN/BDYOR"/>
						<enumeration value="GEN/BDYPOA"/>
						<enumeration value="GEN/BDYPT"/>
						<enumeration value="GEN/CKPGEN"/>
						<enumeration value="GEN/CNTPTL"/>
						<enumeration value="GEN/COLDZ"/>
						<enumeration value="GEN/COMCKP"/>
						<enumeration value="GEN/COMLOW"/>
						<enumeration value="GEN/COMMZ"/>
						<enumeration value="GEN/COMUP"/>
						<enumeration value="GEN/CONTAR"/>
						<enumeration value="GEN/CORDON"/>
						<enumeration value="GEN/CRDPNT"/>
						<enumeration value="GEN/DIVRT"/>
						<enumeration value="GEN/DROPPT"/>
						<enumeration value="GEN/ENTPT"/>
						<enumeration value="GEN/EVENT"/>
						<enumeration value="GEN/EXITPT"/>
						<enumeration value="GEN/FWCTPT"/>
						<enumeration value="GEN/HOTZ"/>
						<enumeration value="GEN/INCGRD"/>
						<enumeration value="GEN/LA"/>
						<enumeration value="GEN/LIMARE"/>
						<enumeration value="GEN/LOCAT"/>
						<enumeration value="GEN/MSR"/>
						<enumeration value="GEN/PSSGPT"/>
						<enumeration value="GEN/PTINT"/>
						<enumeration value="GEN/RCNSAR"/>
						<enumeration value="GEN/RNDZPT"/>
						<enumeration value="GEN/ROUTE"/>
						<enumeration value="GEN/SAFERT"/>
						<enumeration value="GEN/SAFZ"/>
						<enumeration value="GEN/SARPNT"/>
						<enumeration value="GEN/SEARAR"/>
						<enumeration value="GEN/SPRISK"/>
						<enumeration value="GEN/STRTPT"/>
						<enumeration value="GEN/SUPARE"/>
						<enumeration value="GEN/SUPPT"/>
						<enumeration value="GEN/TRSTRT"/>
						<enumeration value="GEN/WARMZ"/>
					</restriction>
				</simpleType>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="WEATHER" type="enum"/>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Optionnel
La localisation de l'affaire est transmise en amont dans un message RC-EDA et le lieu souhaité pour l'intervention est systématiquement reprécisé dans un objet MISSION</documentation>
				</annotation>
			</element>
			<element name="POSITION" type="x:position"/>
		</sequence>
	</complexType>
	<complexType name="position">
		<sequence>
			<element name="LOC_ID" type="string">
				<annotation>
					<documentation>Optionnel
La localisation de l'affaire est transmise en amont dans un message RC-EDA et le lieu souhaité pour l'intervention est systématiquement reprécisé dans un objet MISSION. 
Lorsque le lieu d'intervention est identique à celle d'une position de l'affaire partagée dans le message RC-EDA, le champ MISSION.RGEO.POSITION.LOC_ID doit être alimenté valorisé comme le champ eventLocation.locId du message RC-EDA envoyé en amont. </documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="NAME" type="string">
				<annotation>
					<documentation>Optionnel, non utilisé par NexSIS nom de lieu</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="TYPE" type="string">
				<annotation>
					<documentation>Optionnel
Dans le cadre de l'interface LRM NexSIS, seul le libellé POINT doit obligatoirement être interprétable par les deux partenaires.
Cf. Nomenclature EMSI - POSITION pour plus de détails</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="HEIGHT_ROLE" type="string">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="COORDSYS" type="string">
				<annotation>
					<documentation>Optionnel</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="COORD" type="x:coord"/>
			<element maxOccurs="unbounded" minOccurs="0" name="ADDRESS" type="string"/>
		</sequence>
	</complexType>
	<complexType name="coord">
		<sequence>
			<element name="LAT" type="decimal">
				<annotation>
					<documentation>dernière coordonnée x  connue de la ressource</documentation>
				</annotation>
			</element>
			<element name="LONG" type="decimal">
				<annotation>
					<documentation>Optionnel. Dans le cas où aucun LOC_ID n'est transféré, permet de localiser le lieu d'intervention souhaité
dernière coordonnée y  connue de la ressource
between −90 and +90</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="HEIGHT" type="decimal">
				<annotation>
					<documentation>Optionnel. Dans le cas où aucun LOC_ID n'est transféré, permet de localiser le lieu d'intervention souhaité
dernière coordonnée z  connue de la ressource
between −180 and +180</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="rtype">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="RCLASS" type="enum"/>
			<element maxOccurs="unbounded" minOccurs="0" name="CAPABILITY" type="string"/>
			<element maxOccurs="unbounded" minOccurs="0" name="CHARACTERISTICS" type="string"/>
		</sequence>
	</complexType>
	<complexType name="rgeo">
		<sequence>
			<element minOccurs="0" name="DATIME" type="dateTime">
				<annotation>
					<documentation>Horaire associé à l'arrivée de la ressource sur la position. En fonction du TYPE de possition, peut indiquer un horaire de relevé de position, un horaire cible d'arrivée.</documentation>
				</annotation>
			</element>
			<element name="TYPE">
				<annotation>
					<documentation>Type de position indiqué pour la ressource :
- ASP : assembly point. Point de rassemblement par défaut des ressources liées à la mission. Peut ne pas être utilisé
- CUR : current. Position actualisée de la ressource permettant le suivi géolocalisé des véhicules notamment. Peut ne pas être utilisé
- INC : incident. Consigne relative au positionnement de la ressource sur le lieu d'intervention. Peut ne pas être utilisé
- STG : staging point. Consigne relative au stationnement des véhicules ou au stockage du matériel par exemple. peut ne pas être utilisé
- TGT : targer location. Si renseigné, doit être cohérent avec la position renseignée pour la mission.
Plusieurs positions du même type avec des horodatages différents peuvent être fournies. </documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ASP"/>
						<enumeration value="CUR"/>
						<enumeration value="INC"/>
						<enumeration value="STG"/>
						<enumeration value="TGT"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="FREETEXT" type="string">
				<annotation>
					<documentation>Permet de rajouter des précisions sur la localisation de la ressource transmise</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ID" type="string">
				<annotation>
					<documentation>Identifiant unique de la position dans le système du partenaire</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="POSITION" type="x:position"/>
		</sequence>
	</complexType>
	<complexType name="contact">
		<sequence>
			<element name="TYPE">
				<annotation>
					<documentation>Type de contact, voir énumération associée

1. PMRADD (si RFGI disponible)
2. PHNADD pour téléphonie</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="PSTADD"/>
						<enumeration value="EMLADD"/>
						<enumeration value="IPADD"/>
						<enumeration value="FTPADD"/>
						<enumeration value="WWWADD"/>
						<enumeration value="PHNADD"/>
						<enumeration value="FAXADD"/>
						<enumeration value="PMRADD"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DETAIL" type="string">
				<annotation>
					<documentation>1. RFGI du moyen NEXSIS (si RFGI disponible)
2. Numéro de téléphone</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>