src/main/resources/xsd/GEO-RES.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:georesourcesdetails" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:georesourcesdetails" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="geoResourcesDetails" type="x:geoResourcesDetails"/>
    <complexType name="geoResourcesDetails">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="resource" type="x:resource"/>
        </sequence>
    </complexType>
    <complexType name="resource">
        <sequence>
            <element name="resourceId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé unique de la ressource engagée, normé comme suit :
{orgID}.resource.{ID unique de la ressource partagée}
OU - uniquement dans le cas où un ID unique de ressource ne peut pas être garanti par l'organisation propriétaire :
{orgID}.resource.{sendercaseId}.{n° d’ordre chronologique de la ressource}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}resource(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="orgId" type="string">
                <annotation>
                    <documentation>Identifiant unique de l'organisme :  {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*
*données facultatives</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom donné à la ressource par l'organisme propriétaire. 
L'immatriculation peut être utilisée dans le nom courant des véhicules.</documentation>
                </annotation>
            </element>
            <element name="resourceType">
                <annotation>
                    <documentation>Catégorie de la ressource (SMUR, SDIS, TSU, SNP, MSPE, navire)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SMUR"/>
                        <enumeration value="SDIS"/>
                        <enumeration value="TSU"/>
                        <enumeration value="SNP"/>
                        <enumeration value="MSPE"/>
                        <enumeration value="SHIP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="nature">
                <annotation>
                    <documentation>Nature de la ressource (effecteur, base)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EFFECTEUR"/>
                        <enumeration value="BASE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="mobility">
                <annotation>
                    <documentation>Mobilité de la ressource (fixe, vehicule, heliporté, navire)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FIXE"/>
                        <enumeration value="VEHICULE"/>
                        <enumeration value="HELICOPTERE"/>
                        <enumeration value="SHIP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="capacity">
                <annotation>
                    <documentation>Capacité de transport d'un patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="URGENCE"/>
                        <enumeration value="MEDICALE"/>
                        <enumeration value="PARAMEDICALE"/>
                        <enumeration value="INCONNUE"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="contacts" type="x:contact"/>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>Type de contact, voir énumération associée
1. PMRADD (si RFGI disponible)
2. PHNADD pour téléphonie</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PMRADD"/>
                        <enumeration value="PHNADD"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="details" type="string">
                <annotation>
                    <documentation>1. RFGI (si RFGI disponible)
2. Numéro de téléphone</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
