src/main/resources/xsd/GEO-POS.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:geopositionsupdate" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:geopositionsupdate" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="geoPositionsUpdate" type="x:geoPositionsUpdate"/>
    <complexType name="geoPositionsUpdate">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="1" name="position" type="x:position"/>
        </sequence>
    </complexType>
    <complexType name="position">
        <sequence>
            <element name="resourceId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé unique de la ressource engagée, normé comme suit :
{orgID}.resource.{ID unique de la ressource partagée}
OU - uniquement dans le cas où un ID unique de ressource ne peut pas être garanti par l'organisation propriétaire :
{orgID}.resource.{sendercaseId}.{n° d’ordre chronologique de la ressource}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}resource(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>Date et heure de réception des coordonnées transmises</documentation>
                </annotation>
            </element>
            <element name="coord" type="x:coord"/>
            <element minOccurs="0" name="speed" type="decimal">
                <annotation>
                    <documentation>Vitesse de la ressource enregistrée, exprimée en km/h</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="cap" type="decimal">
                <annotation>
                    <documentation>Direction de la ressource, exprimé en degrés</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="move">
                <annotation>
                    <documentation>Indique si la ressource est en mouvement (MOBILE) ou non (STATIQUE)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MOBILE"/>
                        <enumeration value="STATIQUE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="engineOn" type="boolean">
                <annotation>
                    <documentation>Indique si le moteur de la ressource est éteint (FAUX) ou allumé/en marche (VRAI)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="groundStatus" type="boolean">
                <annotation>
                    <documentation>Indique si l'hélicoptère est au sol (VRAI) ou en l'air (FAUX)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>Définit le statut de disponibilité d'une ressource.
- DISPONIBLE : Lorsque la ressource est disponible
- INDISPONIBLE : Lorsque la ressource n'est pas disponible, celle-ci peut être engagée ou en maintenance
- INCONNU : Lorsque le status est inconnu</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DISPONIBLE"/>
                        <enumeration value="INDISPONIBLE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="engagedStatus">
                <annotation>
                    <documentation>Précise le statut d'une ressource qui est engagée sur une mission</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="ALERTEE"/>
                        <enumeration value="PARTIE"/>
                        <enumeration value="ARRIVEE_LIEU"/>
                        <enumeration value="TRANSPORT_DESTINATION"/>
                        <enumeration value="ARRIVEE_DESTINATION"/>
                        <enumeration value="FIN_MED"/>
                        <enumeration value="QUITTE_DESTINATION"/>
                        <enumeration value="RETOUR_DISPONIBLE"/>
                        <enumeration value="RETOUR_INDISPONIBLE"/>
                        <enumeration value="ARRIVEE_CENTRE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>Dernière coordonnée x connue de la ressource, entre −90 and +90</documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>Dernière coordonnée y connue de la ressource, entre −180 and +180</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>Dernière coordonnée z connue de la ressource, en mètres sans bornes</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
