src/main/resources/xsd/RC-EDA.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:createCase" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:createCase" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCase" type="x:createCase"/>
    <complexType name="createCase">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>Identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro du dossier dans le SI de l'émetteur du message.
</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création du dossier/affaire.

Spécificité 15-18 : A valoriser avec le groupe date heure de début de partage lié à la création de l'affaire (et donc de génération du caseId). 
Lors de l'ajout d'une nouvelle alerte, la valeur de ce champ ne doit pas être modifiée.  
L'indicateur de fuseau horaire Z ne doit pas être utilisé.
Il doit être renseigné à la fin du processus de la  création de la première alerte.</documentation>
                </annotation>
            </element>
            <element name="referenceVersion" type="string">
                <annotation>
                    <documentation>Indique le numéro de version du référentiel des nomenclatures des codes transmis. 
Cela permet aux différents systèmes de s'assurer qu'ils utilisent la même version des codes de nomenclature que leurs partenaires.</documentation>
                </annotation>
            </element>
            <element name="qualification" type="x:qualification"/>
            <element name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element maxOccurs="unbounded" minOccurs="0" name="newAlert" type="x:alert"/>
            <element maxOccurs="unbounded" minOccurs="0" name="freetext" type="string"/>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element name="whatsHappen" type="x:whatsHappen"/>
            <element minOccurs="0" name="locationKind" type="x:locationKind"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="victims" type="x:victims"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element name="locID" type="string">
                <annotation>
                    <documentation>ID technique et provisoire permettant d'identifier le lieu dans le cadre des échanges de cette affaire.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="locLabel" type="string">
                <annotation>
                    <documentation>Donne les informations minimales d'identification du lieu d'intervention, qui permet d'identifier rapidement le lieu pour les équipes opérationnelles. Comprend au maximum 255 caractères.
15-18 : Dans les messages NexSIS, va souvent correspondre à la concaténation suivant des règles métiers de différentes informations, dont le "name" (toponyme) et l'adresse.
</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de lieu : nom commercial, nom d'établissement, forêt de Fontainebleau, lac du Der, etc.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
            <element minOccurs="0" name="access" type="x:access"/>
            <element minOccurs="0" name="geometry" type="x:geometry"/>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
            <element name="country">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AF"/>
                        <enumeration value="AX"/>
                        <enumeration value="AL"/>
                        <enumeration value="DZ"/>
                        <enumeration value="AS"/>
                        <enumeration value="AD"/>
                        <enumeration value="AO"/>
                        <enumeration value="AI"/>
                        <enumeration value="AQ"/>
                        <enumeration value="AG"/>
                        <enumeration value="AR"/>
                        <enumeration value="AM"/>
                        <enumeration value="AW"/>
                        <enumeration value="AU"/>
                        <enumeration value="AT"/>
                        <enumeration value="AZ"/>
                        <enumeration value="BS"/>
                        <enumeration value="BH"/>
                        <enumeration value="BD"/>
                        <enumeration value="BB"/>
                        <enumeration value="BY"/>
                        <enumeration value="BE"/>
                        <enumeration value="BZ"/>
                        <enumeration value="BJ"/>
                        <enumeration value="BM"/>
                        <enumeration value="BT"/>
                        <enumeration value="BO"/>
                        <enumeration value="BA"/>
                        <enumeration value="BW"/>
                        <enumeration value="BV"/>
                        <enumeration value="BR"/>
                        <enumeration value="IO"/>
                        <enumeration value="BN"/>
                        <enumeration value="BG"/>
                        <enumeration value="BF"/>
                        <enumeration value="BI"/>
                        <enumeration value="CV"/>
                        <enumeration value="KH"/>
                        <enumeration value="CM"/>
                        <enumeration value="CA"/>
                        <enumeration value="KY"/>
                        <enumeration value="CF"/>
                        <enumeration value="TD"/>
                        <enumeration value="CL"/>
                        <enumeration value="CN"/>
                        <enumeration value="CX"/>
                        <enumeration value="CC"/>
                        <enumeration value="CO"/>
                        <enumeration value="KM"/>
                        <enumeration value="CG"/>
                        <enumeration value="CK"/>
                        <enumeration value="CR"/>
                        <enumeration value="CI"/>
                        <enumeration value="HR"/>
                        <enumeration value="CU"/>
                        <enumeration value="CW"/>
                        <enumeration value="CY"/>
                        <enumeration value="CZ"/>
                        <enumeration value="DK"/>
                        <enumeration value="DJ"/>
                        <enumeration value="DM"/>
                        <enumeration value="DO"/>
                        <enumeration value="EC"/>
                        <enumeration value="EG"/>
                        <enumeration value="SV"/>
                        <enumeration value="GQ"/>
                        <enumeration value="ER"/>
                        <enumeration value="EE"/>
                        <enumeration value="SZ"/>
                        <enumeration value="ET"/>
                        <enumeration value="FK"/>
                        <enumeration value="FO"/>
                        <enumeration value="FJ"/>
                        <enumeration value="FI"/>
                        <enumeration value="FR"/>
                        <enumeration value="GF"/>
                        <enumeration value="PF"/>
                        <enumeration value="TF"/>
                        <enumeration value="GA"/>
                        <enumeration value="GM"/>
                        <enumeration value="GE"/>
                        <enumeration value="DE"/>
                        <enumeration value="GH"/>
                        <enumeration value="GI"/>
                        <enumeration value="GR"/>
                        <enumeration value="GL"/>
                        <enumeration value="GD"/>
                        <enumeration value="GP"/>
                        <enumeration value="GU"/>
                        <enumeration value="GT"/>
                        <enumeration value="GG"/>
                        <enumeration value="GN"/>
                        <enumeration value="GW"/>
                        <enumeration value="GY"/>
                        <enumeration value="HT"/>
                        <enumeration value="HM"/>
                        <enumeration value="VA"/>
                        <enumeration value="HN"/>
                        <enumeration value="HK"/>
                        <enumeration value="HU"/>
                        <enumeration value="IS"/>
                        <enumeration value="IN"/>
                        <enumeration value="ID"/>
                        <enumeration value="IR"/>
                        <enumeration value="IQ"/>
                        <enumeration value="IE"/>
                        <enumeration value="IM"/>
                        <enumeration value="IL"/>
                        <enumeration value="IT"/>
                        <enumeration value="JM"/>
                        <enumeration value="JP"/>
                        <enumeration value="JE"/>
                        <enumeration value="JO"/>
                        <enumeration value="KZ"/>
                        <enumeration value="KE"/>
                        <enumeration value="KI"/>
                        <enumeration value="KP"/>
                        <enumeration value="KW"/>
                        <enumeration value="KG"/>
                        <enumeration value="LA"/>
                        <enumeration value="LV"/>
                        <enumeration value="LB"/>
                        <enumeration value="LS"/>
                        <enumeration value="LR"/>
                        <enumeration value="LY"/>
                        <enumeration value="LI"/>
                        <enumeration value="LT"/>
                        <enumeration value="LU"/>
                        <enumeration value="MO"/>
                        <enumeration value="MG"/>
                        <enumeration value="MW"/>
                        <enumeration value="MY"/>
                        <enumeration value="MV"/>
                        <enumeration value="ML"/>
                        <enumeration value="MT"/>
                        <enumeration value="MH"/>
                        <enumeration value="MQ"/>
                        <enumeration value="MR"/>
                        <enumeration value="MU"/>
                        <enumeration value="YT"/>
                        <enumeration value="MX"/>
                        <enumeration value="FM"/>
                        <enumeration value="MC"/>
                        <enumeration value="MN"/>
                        <enumeration value="ME"/>
                        <enumeration value="MS"/>
                        <enumeration value="MA"/>
                        <enumeration value="MZ"/>
                        <enumeration value="MM"/>
                        <enumeration value="NA"/>
                        <enumeration value="NR"/>
                        <enumeration value="NP"/>
                        <enumeration value="NL"/>
                        <enumeration value="NC"/>
                        <enumeration value="NZ"/>
                        <enumeration value="NI"/>
                        <enumeration value="NE"/>
                        <enumeration value="NG"/>
                        <enumeration value="NU"/>
                        <enumeration value="NF"/>
                        <enumeration value="MK"/>
                        <enumeration value="MP"/>
                        <enumeration value="NO"/>
                        <enumeration value="OM"/>
                        <enumeration value="PK"/>
                        <enumeration value="PW"/>
                        <enumeration value="PA"/>
                        <enumeration value="PG"/>
                        <enumeration value="PY"/>
                        <enumeration value="PE"/>
                        <enumeration value="PH"/>
                        <enumeration value="PN"/>
                        <enumeration value="PL"/>
                        <enumeration value="PT"/>
                        <enumeration value="PR"/>
                        <enumeration value="QA"/>
                        <enumeration value="RE"/>
                        <enumeration value="RO"/>
                        <enumeration value="RU"/>
                        <enumeration value="RW"/>
                        <enumeration value="BL"/>
                        <enumeration value="KN"/>
                        <enumeration value="LC"/>
                        <enumeration value="MF"/>
                        <enumeration value="PM"/>
                        <enumeration value="VC"/>
                        <enumeration value="WS"/>
                        <enumeration value="SM"/>
                        <enumeration value="ST"/>
                        <enumeration value="SA"/>
                        <enumeration value="SN"/>
                        <enumeration value="RS"/>
                        <enumeration value="SC"/>
                        <enumeration value="SL"/>
                        <enumeration value="SG"/>
                        <enumeration value="SX"/>
                        <enumeration value="SK"/>
                        <enumeration value="SI"/>
                        <enumeration value="SB"/>
                        <enumeration value="SO"/>
                        <enumeration value="ZA"/>
                        <enumeration value="GS"/>
                        <enumeration value="SS"/>
                        <enumeration value="ES"/>
                        <enumeration value="LK"/>
                        <enumeration value="SD"/>
                        <enumeration value="SR"/>
                        <enumeration value="SJ"/>
                        <enumeration value="SE"/>
                        <enumeration value="CH"/>
                        <enumeration value="SY"/>
                        <enumeration value="TJ"/>
                        <enumeration value="TH"/>
                        <enumeration value="TL"/>
                        <enumeration value="TG"/>
                        <enumeration value="TK"/>
                        <enumeration value="TO"/>
                        <enumeration value="TT"/>
                        <enumeration value="TN"/>
                        <enumeration value="TR"/>
                        <enumeration value="TM"/>
                        <enumeration value="TC"/>
                        <enumeration value="TV"/>
                        <enumeration value="UG"/>
                        <enumeration value="UA"/>
                        <enumeration value="AE"/>
                        <enumeration value="GB"/>
                        <enumeration value="US"/>
                        <enumeration value="UM"/>
                        <enumeration value="UY"/>
                        <enumeration value="UZ"/>
                        <enumeration value="VU"/>
                        <enumeration value="VE"/>
                        <enumeration value="VN"/>
                        <enumeration value="VG"/>
                        <enumeration value="VI"/>
                        <enumeration value="WF"/>
                        <enumeration value="EH"/>
                        <enumeration value="YE"/>
                        <enumeration value="ZM"/>
                        <enumeration value="ZW"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations liées à la localisation.

Spécificités 15-15 :
En envoi, il est souhaitable de mapper ici toute valeur en lien avec la localisation de l'intervention qui ne pourrait pas être transmise de manière structurée dans l'objet location. 
En réception, il est très important d'intégrer et d'afficher la valeur de cet attribut, qui est suceptible de contenir des informations d'accès importantes.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element name="id" type="string">
                <annotation>
                    <documentation>Identifiant technique unique de l'alerte. Il doit pouvoir être généré automatiquement par le système émetteur et ne doit pas avoir de signification / utilisation particulière par les différents systèmes pour garantir leur découplage.
Voir la description de l'identifiant de l'affaire pour voir le format.
Lorsqu’une alerte est générée dans NexSIS et crée une affaire, elle est qualifiée d’Alerte Initiale.
a)	Si cette dernière concerne un partenaire (caractère médical pour la Santé par exemple), elle est relayée seule dans le message. Il y’a un seul objet initialAlert.
b)	Sinon, une autre alerte liée à la même affaire peut être déclarée ultérieurement, concernant cette fois le partenaire. Lorsqu’elle est déclarée cette Nouvelle Alerte est relayée avec l’Alerte Initiale pour partager un contexte commun. Dans le message de création d’affaire il y’a deux objets alerte : initialAlert et newAlert.
Le rattachement des messages à une affaire doivent s'appuyer sur les caseId et non les alertId qui peuvent varier d'un système à l'autre.</documentation>
                </annotation>
            </element>
            <element name="reception" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de réception de l'alerte/appel</documentation>
                </annotation>
            </element>
            <element name="reporting">
                <annotation>
                    <documentation>Permet d'attirer l'attention des forces partenaires sur une affaire pour le faire sortir du lot.
Eventuellement automatisé en fonction des critères saisis et de leur paramétrage, ou renseigné par l'opérateur. 
Prend les valeurs définies dans la nomenclature CISU :
- standard : STANDARD
- signalé : ATTENTION
Les systèmes peuvent proposer des fonctionnalités faisant ressortir les dossiers avec le libellé ATTENTION</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="STANDARD"/>
                        <enumeration value="ATTENTION"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="notes" type="x:notes"/>
            <element name="caller" type="x:caller"/>
            <element name="location" type="x:location"/>
            <element name="qualification" type="x:qualification"/>
            <element name="callTaker" type="x:callTaker"/>
            <element maxOccurs="unbounded" minOccurs="0" name="attachment" type="x:attachment"/>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="R\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="whatsHappen">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="C\d{2}(\.\d{2}){2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="locationKind">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="L\d{2}(\.\d{2}){2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="healthMotive">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="M\d{2}\.\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="victims">
        <sequence>
            <element minOccurs="0" name="count">
                <annotation>
                    <documentation>Indique le nombre de victimes selon la nomenclature du référentiel CISU</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="PLUSIEURS"/>
                        <enumeration value="BEAUCOUP"/>
                        <enumeration value="INCONNU"/>
                        <enumeration value="NON DEFINI"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="mainVictim">
                <annotation>
                    <documentation>Identifie le type de la principale victime (celle dont l'état de santé provoque le déclenchement de l'envoi des secours). Prend les valeurs du référentiel CISU. Entre dans la détermination des partenaires impliqués par NexSIS.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NOURRISSON"/>
                        <enumeration value="ENFANT"/>
                        <enumeration value="ADULTE"/>
                        <enumeration value="SENIOR"/>
                        <enumeration value="ENCEINTE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Permet de complémenter en commentaire libre la(les) victime(s)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalLocationId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>A valoriser avec le type de l'identifiant fourni. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FINESS_ADMINISTRATIF"/>
                        <enumeration value="FINESS_GEOGRAPHIQUE"/>
                        <enumeration value="SIREN"/>
                        <enumeration value="SIRET"/>
                        <enumeration value="APE_NAF"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value">
                <annotation>
                    <documentation>A valoriser avec l'identifiant en lui-même</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([0-9A-Z]{2}0\d{5}\d|\d{9}|\d{14}|\d{4}[A-Za-z])"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedAddress">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro, le type et le nom de la voie.
En réception, il est possible que seul cette information soit remplie. 

Spécificités 15-15 : si les informations pour les autoroutes (voie férée ou voie navigable) ne sont pas structurées, il est possible de passer le nom, PK et sens ici, de manière concaténée.

Spécificités 15-18 : Obligatoire et seule valeur des détails de l'adresse fournie par NexSIS.
Utilisé pour tout type de voie :  autoroute (PK, nom et sens), voie ferrée, voie navigable…</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="number" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro dans l'adresse. La valeur de l'attribut inclut l'indice de répétition associé au numéro (par exemple bis, a…).

Spécificités 15-18 :  inclut le point kilométrique sur l'autoroute, voie ferrée ou voie navigable.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="wayName" type="x:wayName"/>
        </sequence>
    </complexType>
    <complexType name="city">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom officiel de la commune</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="inseeCode">
                <annotation>
                    <documentation>A valoriser avec le code INSEE de la commune actuelle sur la base du Code Officiel géographique en vigueur. 
La valeur du code INSEE est obligatoire dès que le nom de la commune est renseigné (city.name).</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="detail" type="string">
                <annotation>
                    <documentation>Informations complémentaires permettant de préciser le quartier, lieu-dit, ancienne commune, … ou autre information aidant à préciser l'adresse et notamment gérer les cas de communes fusionnées pour le système émetteur
NB : dans tous les cas, la localisation GPS de la commune doit être fournie afin d'éviter une trop forte ambiguïté.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="access">
        <sequence>
            <element minOccurs="0" name="floor" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro ou nom de l'étage </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="roomNumber" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro d'appartement, de chambre, de bureau</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="interphone" type="string">
                <annotation>
                    <documentation>A valoriser avec les informations nécessaires à l'identification de l'interphone (numéro, nom)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="accessCode" type="string"/>
            <element minOccurs="0" name="elevator" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom ou le numéro de l'ascenseur ou de la cage d'escalier </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="buildingName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du bâtiment</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entrance" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'entrée</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entity" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du service concerné au sein de l'établissement : infirmerie, service finance, service comptabilité.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="phoneNumber">
                <annotation>
                    <documentation>A valoriser avec le numéro de téléphone du lieu de l'intervention, par exemple : téléphone du secrétariat, téléphone du service administratif ou se trouve le patient/ la victime.
Le format attendu est le suivant : +{indicatif pays}{numéro de téléphone}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\+\d{5,18}"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="geometry">
        <sequence>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de renseignement des coordonnées du point clé de la localisation. 
Permet de connaître la fraîcheur et donc la pertinence des informations pour intervenir.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="point" type="x:point"/>
            <element minOccurs="0" name="sketch" type="string">
                <annotation>
                    <documentation>Objet gml (équivalent xml du geojson). Le langage GML permet de décrire une forme dans un système de projection donné. 
Dans le cas d'une alerte donnée sur une zone géographique non précise (par exemple une section d'autoroute ou une zone sur un chemin de randonnée), une indication sur la zone de recherche peut être fournie.
En XML, un objet gml est encapsulé dans une balise &lt;sketch xmlns:gml='http://www.opengis.net/gml' version='1.0' &gt; &lt;/sketch&gt;
En JSON, les balises sont reprises depuis le modèle gml
Voir http://www.opengis.net/gml pour le format de l'objet sketch</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>A valoriser avec le système fournissant le localisant</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NEXSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec la définition du type d'objet dans le système

Exemple : SIG NexSIS / OSM ont plusieurs types de données (EGA, POI, tronçon de route, …)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUEL"/>
                        <enumeration value="CARTE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="SITE_INTERNET"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant dans le système concerné</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="wayName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le type et le nom de la voie.
Si les attributs "type" et "name" de "wayName" sont également renseignés, alors "complete" doit être valorisé ainsi : "{type} {nom}".</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>A valoriser avec le type de la voie</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la voie</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="point">
        <sequence>
            <element name="coord" type="x:coord"/>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la latitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la longitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>A valoriser avec l'altitude du point clé de la localisation, en mètres.

Spécificité 15-18 :  ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="heading" type="decimal">
                <annotation>
                    <documentation>A valoriser avec le cap, en degré</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="speed" type="decimal">
                <annotation>
                    <documentation>Vitesse en km/h, notamment fournie par eCall, tel, nouveau AML, …</documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
VILLE : Précision à l'échelle de la ville, 
RUE : Précision à l'échelle de la rue, 
ADRESSE : Adresse précise, 
EXACTE : Point coordonnée GPS exact, 
INCONNUE : Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="VILLE"/>
                        <enumeration value="RUE"/>
                        <enumeration value="ADRESSE"/>
                        <enumeration value="EXACTE"/>
                        <enumeration value="INCONNUE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="notes">
        <sequence>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'information complémentaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>A valoriser avec un texte libre contenant les indications complémentaires renseignées sur l'alerte/appel.

Spécificités 15-15 : cet attribut ne doit pas être valorisé avec des notes à caractère médical, qui serait liée à un interrogatoire ARM ou médecin, ou à un patient en particulier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caller">
        <sequence>
            <element name="callerContact" type="x:contact"/>
            <element minOccurs="0" name="callbackContact" type="x:contact"/>
            <element minOccurs="0" name="language">
                <annotation>
                    <documentation>A valoriser avec la langue parlée par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="aa"/>
                        <enumeration value="ab"/>
                        <enumeration value="ae"/>
                        <enumeration value="af"/>
                        <enumeration value="ak"/>
                        <enumeration value="am"/>
                        <enumeration value="an"/>
                        <enumeration value="ar"/>
                        <enumeration value="as"/>
                        <enumeration value="av"/>
                        <enumeration value="ay"/>
                        <enumeration value="az"/>
                        <enumeration value="ba"/>
                        <enumeration value="be"/>
                        <enumeration value="bg"/>
                        <enumeration value="bi"/>
                        <enumeration value="bm"/>
                        <enumeration value="bn"/>
                        <enumeration value="bo"/>
                        <enumeration value="br"/>
                        <enumeration value="bs"/>
                        <enumeration value="ca"/>
                        <enumeration value="ce"/>
                        <enumeration value="ch"/>
                        <enumeration value="co"/>
                        <enumeration value="cr"/>
                        <enumeration value="cs"/>
                        <enumeration value="cu"/>
                        <enumeration value="cv"/>
                        <enumeration value="cy"/>
                        <enumeration value="da"/>
                        <enumeration value="de"/>
                        <enumeration value="dv"/>
                        <enumeration value="dz"/>
                        <enumeration value="ee"/>
                        <enumeration value="el"/>
                        <enumeration value="en"/>
                        <enumeration value="eo"/>
                        <enumeration value="es"/>
                        <enumeration value="et"/>
                        <enumeration value="eu"/>
                        <enumeration value="fa"/>
                        <enumeration value="ff"/>
                        <enumeration value="fi"/>
                        <enumeration value="fj"/>
                        <enumeration value="fo"/>
                        <enumeration value="fr"/>
                        <enumeration value="fy"/>
                        <enumeration value="ga"/>
                        <enumeration value="gd"/>
                        <enumeration value="gl"/>
                        <enumeration value="gn"/>
                        <enumeration value="gu"/>
                        <enumeration value="gv"/>
                        <enumeration value="ha"/>
                        <enumeration value="he"/>
                        <enumeration value="hi"/>
                        <enumeration value="ho"/>
                        <enumeration value="hr"/>
                        <enumeration value="ht"/>
                        <enumeration value="hu"/>
                        <enumeration value="hy"/>
                        <enumeration value="hz"/>
                        <enumeration value="ia"/>
                        <enumeration value="id"/>
                        <enumeration value="ie"/>
                        <enumeration value="ig"/>
                        <enumeration value="ii"/>
                        <enumeration value="ik"/>
                        <enumeration value="io"/>
                        <enumeration value="is"/>
                        <enumeration value="it"/>
                        <enumeration value="iu"/>
                        <enumeration value="ja"/>
                        <enumeration value="jv"/>
                        <enumeration value="ka"/>
                        <enumeration value="kg"/>
                        <enumeration value="ki"/>
                        <enumeration value="kj"/>
                        <enumeration value="kk"/>
                        <enumeration value="kl"/>
                        <enumeration value="km"/>
                        <enumeration value="kn"/>
                        <enumeration value="ko"/>
                        <enumeration value="kr"/>
                        <enumeration value="ks"/>
                        <enumeration value="ku"/>
                        <enumeration value="kv"/>
                        <enumeration value="kw"/>
                        <enumeration value="ky"/>
                        <enumeration value="la"/>
                        <enumeration value="lb"/>
                        <enumeration value="lg"/>
                        <enumeration value="li"/>
                        <enumeration value="ln"/>
                        <enumeration value="lo"/>
                        <enumeration value="lt"/>
                        <enumeration value="lu"/>
                        <enumeration value="lv"/>
                        <enumeration value="mg"/>
                        <enumeration value="mh"/>
                        <enumeration value="mi"/>
                        <enumeration value="mk"/>
                        <enumeration value="ml"/>
                        <enumeration value="mn"/>
                        <enumeration value="mr"/>
                        <enumeration value="ms"/>
                        <enumeration value="mt"/>
                        <enumeration value="my"/>
                        <enumeration value="na"/>
                        <enumeration value="nb"/>
                        <enumeration value="nd"/>
                        <enumeration value="ne"/>
                        <enumeration value="ng"/>
                        <enumeration value="nl"/>
                        <enumeration value="nn"/>
                        <enumeration value="no"/>
                        <enumeration value="nr"/>
                        <enumeration value="nv"/>
                        <enumeration value="ny"/>
                        <enumeration value="oc"/>
                        <enumeration value="oj"/>
                        <enumeration value="om"/>
                        <enumeration value="or"/>
                        <enumeration value="os"/>
                        <enumeration value="pa"/>
                        <enumeration value="pi"/>
                        <enumeration value="pl"/>
                        <enumeration value="ps"/>
                        <enumeration value="pt"/>
                        <enumeration value="qu"/>
                        <enumeration value="rm"/>
                        <enumeration value="rn"/>
                        <enumeration value="ro"/>
                        <enumeration value="ru"/>
                        <enumeration value="rw"/>
                        <enumeration value="sa"/>
                        <enumeration value="sc"/>
                        <enumeration value="sd"/>
                        <enumeration value="se"/>
                        <enumeration value="sg"/>
                        <enumeration value="si"/>
                        <enumeration value="sk"/>
                        <enumeration value="sl"/>
                        <enumeration value="sm"/>
                        <enumeration value="sn"/>
                        <enumeration value="so"/>
                        <enumeration value="sq"/>
                        <enumeration value="sr"/>
                        <enumeration value="ss"/>
                        <enumeration value="st"/>
                        <enumeration value="su"/>
                        <enumeration value="sv"/>
                        <enumeration value="sw"/>
                        <enumeration value="ta"/>
                        <enumeration value="te"/>
                        <enumeration value="tg"/>
                        <enumeration value="th"/>
                        <enumeration value="ti"/>
                        <enumeration value="tk"/>
                        <enumeration value="tl"/>
                        <enumeration value="tn"/>
                        <enumeration value="to"/>
                        <enumeration value="tr"/>
                        <enumeration value="ts"/>
                        <enumeration value="tt"/>
                        <enumeration value="tw"/>
                        <enumeration value="ty"/>
                        <enumeration value="ug"/>
                        <enumeration value="uk"/>
                        <enumeration value="ur"/>
                        <enumeration value="uz"/>
                        <enumeration value="ve"/>
                        <enumeration value="vi"/>
                        <enumeration value="vo"/>
                        <enumeration value="wa"/>
                        <enumeration value="wo"/>
                        <enumeration value="xh"/>
                        <enumeration value="yi"/>
                        <enumeration value="yo"/>
                        <enumeration value="za"/>
                        <enumeration value="zh"/>
                        <enumeration value="zu"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la relation du requérant avec l'incident / le patient / la victime.
cf. nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SUJET"/>
                        <enumeration value="FAMILLE"/>
                        <enumeration value="TIERS"/>
                        <enumeration value="POMPIER"/>
                        <enumeration value="AMBULANC"/>
                        <enumeration value="AMBULANC.AASC"/>
                        <enumeration value="AMBULANC.AUTRESEC"/>
                        <enumeration value="SECOUR"/>
                        <enumeration value="MED"/>
                        <enumeration value="MED.MEDSOS"/>
                        <enumeration value="MED.MRL"/>
                        <enumeration value="MED.EFFML"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="SANTE.INF"/>
                        <enumeration value="SANTE.AIDESOIN"/>
                        <enumeration value="SANTE.SF"/>
                        <enumeration value="SANTE.AIDEDOM"/>
                        <enumeration value="SANTE.PHARMA"/>
                        <enumeration value="SANTE.DENTISTE"/>
                        <enumeration value="SANTE.LABO"/>
                        <enumeration value="FDO-MILI"/>
                        <enumeration value="FDO-MILI.POL"/>
                        <enumeration value="FDO-MILI.GENDARM"/>
                        <enumeration value="FDO-MILI.MILI"/>
                        <enumeration value="ADM-TUTL"/>
                        <enumeration value="VIP"/>
                        <enumeration value="OBJCONNC"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="communication">
                <annotation>
                    <documentation>A valoriser avec la nature des éventuelles difficultés de communication rencontrées par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AUCUNE"/>
                        <enumeration value="MUET"/>
                        <enumeration value="VISION"/>
                        <enumeration value="LANGUE"/>
                        <enumeration value="PANIQUE"/>
                        <enumeration value="HOSTILE"/>
                        <enumeration value="AGITE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="IMPOSS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations spécifiquement liées au requérant.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="callTaker">
        <sequence>
            <element name="organization" type="string">
                <annotation>
                    <documentation>Décrit la structure ou le service à laquelle est rattachée l'agent (en fonction du niveau de précision disponible).
Se référer au DSF pour la structure normée des organisations.
Le format est le suivant {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*.</documentation>
                </annotation>
            </element>
            <element name="controlRoom" type="string">
                <annotation>
                    <documentation>Décrit le centre d'appel auquel est rattaché l'agent</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="role" type="string">
                <annotation>
                    <documentation>Décrit le rôle de l'agent au sein du service selon la nomenclature PERSO (nomenclature SI-SAMU)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="calltakerContact" type="x:contact"/>
            <element minOccurs="0" name="calltakerId" type="string">
                <annotation>
                    <documentation>Identifiant unique de l'opérateur ayant traité l'alerte (peut être un identifiant technique, un numéro de carte CPS etc)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="attachment">
        <sequence>
            <element minOccurs="0" name="description" type="string">
                <annotation>
                    <documentation>Décrit la ressource en précisant le type et le contenu, tels que «carte» ou «photo»</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="mimeType" type="string">
                <annotation>
                    <documentation>L'identifiant du type MIME de contenu et sous-type décrivant la ressource</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="size" type="int">
                <annotation>
                    <documentation>Taille approximative de la ressource en kO</documentation>
                </annotation>
            </element>
            <element name="URI" type="string">
                <annotation>
                    <documentation>Une URI, généralement une URL, qui permet d'atteindre la ressource sur Internet ou sur un réseau privé
Nous suggérons d'employer le format suivant de regex (https?|ftp|file):\/\/([a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)*)(\/[a-zA-Z0-9_\-\.]*)*\/?(\?[^\s]*)?</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="derefURI" type="string">
                <annotation>
                    <documentation>Peut être utilisé à la place de l'élément 'URI' pour envoyer la ressource encodée en base64 pour éviter des problèmes de transcodage (sur des double quotes qui casseraient le message, …)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="digest" type="string">
                <annotation>
                    <documentation>Hash de la ressource pour confirmer la réception de la bonne ressource
La ressource est hashée avec le protocole SHA-256</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element name="channel">
                <annotation>
                    <documentation>A valoriser avec  l'origine du canal établi : PERSONNE, APPLICATION, DAU, BAU, DEFIBRILLATEUR, ECALL</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="APPLICATION"/>
                        <enumeration value="BAU"/>
                        <enumeration value="DAU"/>
                        <enumeration value="DEFIBRILLATEUR"/>
                        <enumeration value="ECALL"/>
                        <enumeration value="PERSONNE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée.  Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="MSS"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="RADIO"/>
                        <enumeration value="TEL"/>
                        <enumeration value="WEB"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée.
Le format attendu pour un numéro de téléphone est le suivant : +{indicatif pays}{numéro de téléphone}</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom et le nom usuel du requérant/appelant.
Si les champs callerLastName et callerFirstName sont également renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".

Spécificités 15-18  : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom usuel du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom usuel du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de cette correspondance additionnelle</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
