src/main/resources/xsd/RC-XML-ContentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
********************************************************************************************************************
    This file has been generated by the automatic schema generator script.
********************************************************************************************************************
-->
<schema xmlns:x="urn:emergency:eda:1.9"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:technical="urn:emergency:eda:1.9:technical"
        xmlns:technicalNoreq="urn:emergency:eda:1.9:technicalNoreq"
        xmlns:error="urn:emergency:eda:1.9:error"
        elementFormDefault="qualified"
        targetNamespace="urn:emergency:eda:1.9" xmlns="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="RC-DE.xsd"/>
    <xs:include schemaLocation="customContent.xsd"/>
    <xs:import namespace="urn:emergency:eda:1.9:technical" schemaLocation="TECHNICAL.xsd"/>
    <xs:import namespace="urn:emergency:eda:1.9:technicalNoreq" schemaLocation="TECHNICAL_NOREQ.xsd"/>
    <xs:import namespace="urn:emergency:eda:1.9:error" schemaLocation="RS-ERROR.xsd"/>

    <xs:complexType name="cisuXMLContentType">
        <xs:sequence>
            <xs:element name="message" type="x:MessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cisuXMLContentTypeNoHeader">
        <xs:sequence>
            <xs:element name="message" type="x:NoHeaderMessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageType">
        <xs:complexContent>
            <xs:extension base="x:distributionElement">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="technical:technical"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NoHeaderMessageType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="technicalNoreq:technicalNoreq"/>
                <xs:element ref="error:error"/>
                <xs:element ref="x:customContent"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</schema>
