src/main/resources/xsd/RC-XML-ContentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:x="urn:emergency:cisu:2.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:rcref="urn:emergency:cisu:2.0:reference"
        xmlns:rceda="urn:emergency:cisu:2.0:createCase"
        xmlns:rseda="urn:emergency:cisu:2.0:createCaseHealth"
        xmlns:emsi="urn:emergency:cisu:2.0:emsi"
        xmlns:info="urn:emergency:cisu:2.0:info"
        xmlns:error="urn:emergency:cisu:2.0:error"
        elementFormDefault="qualified"
        targetNamespace="urn:emergency:cisu:2.0" xmlns="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="RC-DE.xsd"/>
    <xs:include schemaLocation="CustomContent.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:createCase" schemaLocation="RC-EDA.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:reference" schemaLocation="RC-REF.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:createCaseHealth" schemaLocation="RS-EDA.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:emsi" schemaLocation="EMSI.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:info" schemaLocation="RS-INFO.xsd"/>
    <xs:import namespace="urn:emergency:cisu:2.0:error" schemaLocation="RS-ERROR.xsd"/>

    <xs:complexType name="cisuXMLContentType">
        <xs:sequence>
            <xs:element name="message" type="x:MessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cisuXMLContentTypeNoHeader">
        <xs:sequence>
            <xs:element name="message" type="x:NoHeaderMessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageType">
        <xs:complexContent>
            <xs:extension base="x:distributionElement">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="rcref:reference"/>
                        <xs:element ref="rceda:createCase"/>
                        <xs:element ref="rseda:createCaseHealth"/>
                        <xs:element ref="emsi:emsi"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NoHeaderMessageType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="error:error"/>
                <xs:element ref="info:info"/>
                <xs:element ref="x:customContent"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</schema>