src/main/resources/xsd/RS-DDR.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:cisu:2.0:resourcesRequest" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0:resourcesRequest" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="resourcesRequest" type="x:resourcesRequest"/>
    <complexType name="resourcesRequest">
        <sequence>
            <element name="caseId" type="string">
                <annotation>
                    <documentation>Identifiant de l'affaire partagé entre tous les intervenants = aux champs {organization}.{senderCaseId}.
Il doit pouvoir être généré de façon unique et décentralisée et ne présenter aucune ambiguïté. 
Il est généré par le système du partenaire récepteur de la primo-demande de secours (créateur du dossier).
Valorisation : {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*.{numéro de dossier}</documentation>
                </annotation>
            </element>
            <element name="RSDDRId" type="string">
                <annotation>
                    <documentation>Identifiant unique partagé de la demande de ressource</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="resourceRequest" type="x:request"/>
            <element minOccurs="0" name="originLocation" type="x:location"/>
            <element minOccurs="0" name="destinationLocation" type="x:location"/>
        </sequence>
    </complexType>
    <complexType name="request">
        <sequence>
            <element name="dateTime" type="dateTime">
                <annotation>
                    <documentation>Voir liste des effets à obtenir identifiés</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="convention" type="string">
                <annotation>
                    <documentation>Nomenclature ? </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="deadline" type="string">
                <annotation>
                    <documentation>Délai d'intervention souhaité</documentation>
                </annotation>
            </element>
            <element name="purpose" type="string">
                <annotation>
                    <documentation>Motif de la demande de ressource auprès du partenaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Texte libre permettant de détailler la demande</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element minOccurs="0" name="type">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="service d’urgences d’un Etablissement de santé"/>
                        <enumeration value="autres services d’un établissement de santé"/>
                        <enumeration value="cabinet d’un professionnel de santé"/>
                        <enumeration value="domicile personnel"/>
                        <enumeration value="EPHAD ou long séjour"/>
                        <enumeration value="autre"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Indique le nom de lieu : nom commercial, Etablissement, forêt de Fontainebleau, lac du Der (plutôt à destination des systèmes).</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
            <element minOccurs="0" name="access" type="x:access"/>
            <element minOccurs="0" name="geometry" type="x:geometry"/>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre pour compléter les informations de localisation</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalLocationId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FINESS administratif"/>
                        <enumeration value="FINESS géographique"/>
                        <enumeration value="SIREN"/>
                        <enumeration value="SIRET"/>
                        <enumeration value="APE/NAF"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedAddress">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>Numéro, type et nom de la voie. Utilisé pour tout type de voie :  autoroute (PK, nom et sens), voie ferrée, voie navigable…
15-18 : Obligatoire et seule valeur des détails de l'adresse fournie par NexSIS.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="number" type="string">
                <annotation>
                    <documentation>Numéro dans l'adresse (inclut point kilométrique sur l'autoroute, voie ferrée ou voie navigable). Inclut l'indice de répétition associé au numéro (par exemple bis, a…).</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="wayName" type="x:wayName"/>
        </sequence>
    </complexType>
    <complexType name="city">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom officiel de la commune actuelle</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="inseeCode">
                <annotation>
                    <documentation>Code INSEE de la commune actuelle sur la base du Code Officiel géographique en vigueur. Obligatoire si le nom de la commune est renseigné.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="detail" type="string">
                <annotation>
                    <documentation>Informations complémentaires permettant de préciser le quartier, lieu-dit, ancienne commune, … ou autre information aidant à préciser l'adresse et notamment gérer les cas de communes fusionnées pour le système émetteur
NB : dans tous les cas, la localisation GPS de la commune doit être fournie afin d'éviter une trop forte ambiguïté.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="access">
        <sequence>
            <element minOccurs="0" name="floor" type="string">
                <annotation>
                    <documentation>Etage </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="roomNumber" type="string">
                <annotation>
                    <documentation>Spécifie numéro d'appartement, de chambre, de bureau</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="interphone" type="string">
                <annotation>
                    <documentation>Indique les informations nécessaires  à l'identification de l'interphone (numéro, nom)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="accessCode" type="string"/>
            <element minOccurs="0" name="elevator" type="string">
                <annotation>
                    <documentation>Indique l'ascenseur ou la cage d'escalier </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="buildingName" type="string">
                <annotation>
                    <documentation>Nom du bâtiment</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entrance" type="string"/>
            <element minOccurs="0" name="entity" type="string">
                <annotation>
                    <documentation>Nom du service concerné au sein de l'établissement : Infirmerie, service finance, service cardiologie, …</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="phoneNumber" type="decimal">
                <annotation>
                    <documentation>Numéro de téléphone permettant d'accéder au lieu de l'intervention, par exemple : téléphone du secrétariat, téléphone du service administratif ou se trouve le patient/victime.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="geometry">
        <sequence>
            <element name="obsDatime" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de renseignement des coordonnées du point clé de la localisation. Permet de connaître la fraîcheur et donc pertinence des informations pour intervenir.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="point" type="x:point"/>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>Système fournissant le localisant :  NexSiS ou l'ORG_ID (BAN, IGN, ...)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NexSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>Définition du type d'objet dans le système
Ex : SIG NexSIS / OSM ont plusieurs types de données -&gt; savoir du quel on parle (POI, tronçon de route, …) pour faciliter le filtre | Aussi table dans une base de données</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUAL"/>
                        <enumeration value="MAP"/>
                        <enumeration value="OTHER"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="WEBSIT"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant unique dans le type. Exemple : UUID d'un ega</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="wayName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>Type et nom de la voie (venant d'un référentiel ou non)
Si les champs type et name sont renseignés, le champ callerName doit être valorisé ainsi : "{type} {nom}".</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>Type de la voie</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom de la voie</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="point">
        <sequence>
            <element name="coord" type="x:coord"/>
            <element minOccurs="0" name="sysCoord" type="string">
                <annotation>
                    <documentation>Indique le type de coordonnées utilisé. Actuellement, la seule valeur valide est «EPSG-4326», indiquant l'utilisation de WGS-84. Si ce champ n'est pas renseigné, on considère que la valeur par défaut est «».</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>Latitude du point clé de la localisation </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>Longitude du point clé de la localisation</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>Altitude du point clé de la localisation, en mètre, ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
CITY=Précision à l'échelle de la ville, STREET=Précision à l'échelle de la rue, ADDRESS=Adresse précise, EXACT=Point coordonnée GPS exact, UNKNOWN=Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CITY"/>
                        <enumeration value="STREET"/>
                        <enumeration value="ADDRESS"/>
                        <enumeration value="EXACT"/>
                        <enumeration value="UNKNOWN"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>
