src/main/resources/xsd/RS-EDA.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:cisu:2.0:createCaseHealth" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0:createCaseHealth" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCaseHealth" type="x:createCaseHealth"/>
    <complexType name="createCaseHealth">
        <sequence>
            <element name="caseId" type="string">
                <annotation>
                    <documentation>A valoriser avec l'identifiant de l'affaire/dossier partagé entre tous les intervenants, valorisé comme suit : {pays}.{domaine}.{organisation}.{senderCaseId}.
Cet identifiant est généré une seule fois par le système du partenaire récepteur de la primo-demande de secours (créateur du dossier).
Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté. Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro du dossier dans le SI de l'émetteur du message.
</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de début de partage lié à la création de l'affaire (et donc de génération du caseId). 
Lors de l'ajout d'une nouvelle alerte, la valeur de ce champ ne doit pas être modifiée.  
L'indicateur de fuseau horaire Z ne doit pas être utilisé.

Spécificité 15-18 :
Il doit être renseigné à la fin du processus de la  création de la première alerte.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="perimeter">
                <annotation>
                    <documentation>Sert à indiquer à quelle filière du CRRA destinataire le dossier doit être adressé/affiché, lorsque celle-ci est spécifique ou dédiée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMU"/>
                        <enumeration value="NEONAT"/>
                        <enumeration value="PSY"/>
                        <enumeration value="SNP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="interventionType">
                <annotation>
                    <documentation>A valoriser en indiquant s'il s'agit d'un dossier dit primaire (première intervention urgente) ou secondaire (par exemple TIH)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PRIMAIRE"/>
                        <enumeration value="SECONDAIRE"/>
                        <enumeration value="RETOUR A DOMICILE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="qualification" type="x:qualification"/>
            <element name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element name="owner" type="string">
                <annotation>
                    <documentation>Attribut qui permet de transférer la prise en charge d'un dossier à un autre CRAA - après accord verbal de ce dernier.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="patient" type="x:patient"/>
            <element maxOccurs="unbounded" minOccurs="0" name="medicalNote" type="x:medicalNote"/>
            <element maxOccurs="unbounded" minOccurs="0" name="newAlert" type="x:alert"/>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element minOccurs="0" name="origin">
                <annotation>
                    <documentation>A valoriser avec le numéro de provenance de l'appel.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="15"/>
                        <enumeration value="18"/>
                        <enumeration value="17"/>
                        <enumeration value="112"/>
                        <enumeration value="116117"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="whatsHappen" type="x:whatsHappen"/>
            <element minOccurs="0" name="locationKind" type="x:locationKind"/>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="details" type="x:caseDetails"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de lieu : nom commercial, nom d'établissement, forêt de Fontainebleau, lac du Der, etc.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
            <element minOccurs="0" name="access" type="x:access"/>
            <element minOccurs="0" name="geometry" type="x:geometry"/>
            <element maxOccurs="unbounded" minOccurs="0" name="externalAddressId" type="x:externalAddressId"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations liées à la localisation.

Spécificités 15-15 :
En envoi, il est souhaitable de mapper ici toute valeur en lien avec la localisation de l'intervention qui ne pourrait pas être transmise de manière structurée dans l'objet location. 
En réception, il est très important d'intégrer et d'afficher la valeur de cet attribut, qui est suceptible de contenir des informations d'accès importantes.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element name="reception" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de réception de l'alerte/appel</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="notes" type="x:notes"/>
            <element name="caller" type="x:caller"/>
        </sequence>
    </complexType>
    <complexType name="patient">
        <sequence>
            <element name="id" type="string">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé du patient, valorisé comme suit : {ID du dossier partagé}.P{numéro d’ordre chronologique}
Cet identifiant est généré une seule fois par le système du partenaire qui créé le patient.
</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="administrativeFile" type="x:administrativeFile"/>
            <element minOccurs="0" name="identity" type="x:Identity"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="detail" type="x:patientDetail"/>
            <element minOccurs="0" name="hypothesis" type="x:hypothesis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="freetext" type="string"/>
        </sequence>
    </complexType>
    <complexType name="medicalNote">
        <sequence>
            <element minOccurs="0" name="idPat" type="string">
                <annotation>
                    <documentation>Identifiant partagé du patient concerné par l'observation, a remplir obligatoirement si ce patient existe et est identifié dans le système emetteur, valorisé comme suit  : 
{ID du dossier partagé}.P{numéro d’ordre chronologique unique du patient}</documentation>
                </annotation>
            </element>
            <element name="operator" type="x:operator"/>
            <element minOccurs="0" name="idObs" type="string">
                <annotation>
                    <documentation>A valoriser avec l'identifiant unique de l'observation, valorisé comme suit : {caseID}.medicalNote.{ID de l'observation dans le système émetteur}.
Cet identifiant a vocation à devenir obligatoire pour permettre les mises à jour, il est laissé en facultatif temporairement.
</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'observation.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations de nature médicales, faites par un ARM, un médecin ou un autre professionnel de santé.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="whatsHappen">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="locationKind">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="L01.00.00"/>
                        <enumeration value="L01.01.00"/>
                        <enumeration value="L01.01.01"/>
                        <enumeration value="L01.01.02"/>
                        <enumeration value="L01.01.03"/>
                        <enumeration value="L01.01.04"/>
                        <enumeration value="L01.02.00"/>
                        <enumeration value="L01.02.01"/>
                        <enumeration value="L01.02.02"/>
                        <enumeration value="L01.02.03"/>
                        <enumeration value="L01.02.04"/>
                        <enumeration value="L01.02.05"/>
                        <enumeration value="L01.02.06"/>
                        <enumeration value="L01.02.07"/>
                        <enumeration value="L01.02.08"/>
                        <enumeration value="L01.02.09"/>
                        <enumeration value="L01.02.10"/>
                        <enumeration value="L01.02.11"/>
                        <enumeration value="L01.02.12"/>
                        <enumeration value="L01.03.00"/>
                        <enumeration value="L01.03.01"/>
                        <enumeration value="L01.03.02"/>
                        <enumeration value="L01.03.03"/>
                        <enumeration value="L01.04.00"/>
                        <enumeration value="L02.00.00"/>
                        <enumeration value="L02.01.00"/>
                        <enumeration value="L02.02.00"/>
                        <enumeration value="L02.02.01"/>
                        <enumeration value="L02.02.02"/>
                        <enumeration value="L02.02.03"/>
                        <enumeration value="L02.02.04"/>
                        <enumeration value="L02.02.05"/>
                        <enumeration value="L02.03.00"/>
                        <enumeration value="L02.03.01"/>
                        <enumeration value="L02.03.02"/>
                        <enumeration value="L02.03.03"/>
                        <enumeration value="L02.04.00"/>
                        <enumeration value="L02.05.00"/>
                        <enumeration value="L02.05.01"/>
                        <enumeration value="L02.05.02"/>
                        <enumeration value="L02.05.03"/>
                        <enumeration value="L02.05.04"/>
                        <enumeration value="L02.05.05"/>
                        <enumeration value="L02.05.06"/>
                        <enumeration value="L02.05.07"/>
                        <enumeration value="L02.05.08"/>
                        <enumeration value="L02.05.09"/>
                        <enumeration value="L02.05.10"/>
                        <enumeration value="L02.05.11"/>
                        <enumeration value="L02.05.12"/>
                        <enumeration value="L02.05.13"/>
                        <enumeration value="L02.05.14"/>
                        <enumeration value="L02.05.15"/>
                        <enumeration value="L02.05.16"/>
                        <enumeration value="L02.06.00"/>
                        <enumeration value="L02.06.01"/>
                        <enumeration value="L02.06.02"/>
                        <enumeration value="L02.06.03"/>
                        <enumeration value="L02.06.04"/>
                        <enumeration value="L02.06.05"/>
                        <enumeration value="L02.06.06"/>
                        <enumeration value="L02.06.07"/>
                        <enumeration value="L02.06.08"/>
                        <enumeration value="L02.07.00"/>
                        <enumeration value="L02.07.01"/>
                        <enumeration value="L02.07.02"/>
                        <enumeration value="L02.08.00"/>
                        <enumeration value="L03.00.00"/>
                        <enumeration value="L03.01.00"/>
                        <enumeration value="L03.02.00"/>
                        <enumeration value="L03.03.00"/>
                        <enumeration value="L03.04.00"/>
                        <enumeration value="L03.05.00"/>
                        <enumeration value="L04.00.00"/>
                        <enumeration value="L04.01.00"/>
                        <enumeration value="L04.02.00"/>
                        <enumeration value="L04.02.01"/>
                        <enumeration value="L04.02.02"/>
                        <enumeration value="L04.02.03"/>
                        <enumeration value="L04.03.00"/>
                        <enumeration value="L04.03.01"/>
                        <enumeration value="L04.03.02"/>
                        <enumeration value="L04.03.03"/>
                        <enumeration value="L04.04.00"/>
                        <enumeration value="L04.05.00"/>
                        <enumeration value="L04.06.00"/>
                        <enumeration value="L04.06.01"/>
                        <enumeration value="L04.06.02"/>
                        <enumeration value="L04.06.03"/>
                        <enumeration value="L04.06.04"/>
                        <enumeration value="L04.06.05"/>
                        <enumeration value="L04.07.00"/>
                        <enumeration value="L04.07.01"/>
                        <enumeration value="L04.07.02"/>
                        <enumeration value="L04.07.03"/>
                        <enumeration value="L04.08.00"/>
                        <enumeration value="L04.08.01"/>
                        <enumeration value="L04.08.02"/>
                        <enumeration value="L04.09.00"/>
                        <enumeration value="L04.09.01"/>
                        <enumeration value="L04.09.02"/>
                        <enumeration value="L04.10.00"/>
                        <enumeration value="L04.11.00"/>
                        <enumeration value="L04.11.01"/>
                        <enumeration value="L04.11.02"/>
                        <enumeration value="L04.11.03"/>
                        <enumeration value="L04.11.04"/>
                        <enumeration value="L04.12.00"/>
                        <enumeration value="L04.12.01"/>
                        <enumeration value="L04.12.02"/>
                        <enumeration value="L04.12.03"/>
                        <enumeration value="L04.12.04"/>
                        <enumeration value="L04.13.00"/>
                        <enumeration value="L04.13.01"/>
                        <enumeration value="L04.13.02"/>
                        <enumeration value="L04.13.03"/>
                        <enumeration value="L04.13.04"/>
                        <enumeration value="L04.14.00"/>
                        <enumeration value="L04.14.01"/>
                        <enumeration value="L04.14.02"/>
                        <enumeration value="L04.15.00"/>
                        <enumeration value="L04.16.00"/>
                        <enumeration value="L05.00.00"/>
                        <enumeration value="L05.01.00"/>
                        <enumeration value="L05.01.01"/>
                        <enumeration value="L05.01.02"/>
                        <enumeration value="L05.01.03"/>
                        <enumeration value="L05.01.04"/>
                        <enumeration value="L05.02.00"/>
                        <enumeration value="L05.02.01"/>
                        <enumeration value="L05.02.02"/>
                        <enumeration value="L05.02.03"/>
                        <enumeration value="L05.02.04"/>
                        <enumeration value="L05.03.00"/>
                        <enumeration value="L05.03.01"/>
                        <enumeration value="L05.03.02"/>
                        <enumeration value="L05.04.00"/>
                        <enumeration value="L05.04.01"/>
                        <enumeration value="L05.04.02"/>
                        <enumeration value="L05.04.03"/>
                        <enumeration value="L05.04.04"/>
                        <enumeration value="L05.04.05"/>
                        <enumeration value="L05.04.06"/>
                        <enumeration value="L05.05.00"/>
                        <enumeration value="L05.06.00"/>
                        <enumeration value="L05.07.00"/>
                        <enumeration value="L06.00.00"/>
                        <enumeration value="L06.01.00"/>
                        <enumeration value="L06.01.01"/>
                        <enumeration value="L06.01.02"/>
                        <enumeration value="L06.01.03"/>
                        <enumeration value="L06.01.04"/>
                        <enumeration value="L06.01.05"/>
                        <enumeration value="L06.01.06"/>
                        <enumeration value="L06.01.07"/>
                        <enumeration value="L06.01.08"/>
                        <enumeration value="L06.02.00"/>
                        <enumeration value="L06.03.00"/>
                        <enumeration value="L06.03.01"/>
                        <enumeration value="L06.03.02"/>
                        <enumeration value="L06.03.03"/>
                        <enumeration value="L06.03.04"/>
                        <enumeration value="L06.03.05"/>
                        <enumeration value="L06.04.00"/>
                        <enumeration value="L06.05.00"/>
                        <enumeration value="L06.05.01"/>
                        <enumeration value="L06.05.02"/>
                        <enumeration value="L06.06.00"/>
                        <enumeration value="L06.06.01"/>
                        <enumeration value="L06.06.02"/>
                        <enumeration value="L06.06.03"/>
                        <enumeration value="L06.06.04"/>
                        <enumeration value="L06.07.00"/>
                        <enumeration value="L06.07.01"/>
                        <enumeration value="L06.07.02"/>
                        <enumeration value="L07.00.00"/>
                        <enumeration value="L07.01.00"/>
                        <enumeration value="L07.01.01"/>
                        <enumeration value="L07.02.00"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R01"/>
                        <enumeration value="R02"/>
                        <enumeration value="R03"/>
                        <enumeration value="R04"/>
                        <enumeration value="R05"/>
                        <enumeration value="R06"/>
                        <enumeration value="R07"/>
                        <enumeration value="R08"/>
                        <enumeration value="R09"/>
                        <enumeration value="R10"/>
                        <enumeration value="R11"/>
                        <enumeration value="R12"/>
                        <enumeration value="R13"/>
                        <enumeration value="R14"/>
                        <enumeration value="R15"/>
                        <enumeration value="R16"/>
                        <enumeration value="R17"/>
                        <enumeration value="R18"/>
                        <enumeration value="R19"/>
                        <enumeration value="R20"/>
                        <enumeration value="R21"/>
                        <enumeration value="R22"/>
                        <enumeration value="R23"/>
                        <enumeration value="R24"/>
                        <enumeration value="R25"/>
                        <enumeration value="R26"/>
                        <enumeration value="R27"/>
                        <enumeration value="R28"/>
                        <enumeration value="R29"/>
                        <enumeration value="R30"/>
                        <enumeration value="R31"/>
                        <enumeration value="R32"/>
                        <enumeration value="R33"/>
                        <enumeration value="R34"/>
                        <enumeration value="R35"/>
                        <enumeration value="R36"/>
                        <enumeration value="R37"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="healthMotive">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="M01.00"/>
                        <enumeration value="M01.01"/>
                        <enumeration value="M01.02"/>
                        <enumeration value="M01.03"/>
                        <enumeration value="M02.00"/>
                        <enumeration value="M02.01"/>
                        <enumeration value="M02.02"/>
                        <enumeration value="M02.03"/>
                        <enumeration value="M02.04"/>
                        <enumeration value="M02.05"/>
                        <enumeration value="M02.06"/>
                        <enumeration value="M02.07"/>
                        <enumeration value="M02.08"/>
                        <enumeration value="M02.09"/>
                        <enumeration value="M02.10"/>
                        <enumeration value="M03.00"/>
                        <enumeration value="M03.01"/>
                        <enumeration value="M03.02"/>
                        <enumeration value="M03.03"/>
                        <enumeration value="M03.04"/>
                        <enumeration value="M03.05"/>
                        <enumeration value="M03.06"/>
                        <enumeration value="M03.07"/>
                        <enumeration value="M03.08"/>
                        <enumeration value="M03.09"/>
                        <enumeration value="M03.10"/>
                        <enumeration value="M03.11"/>
                        <enumeration value="M03.12"/>
                        <enumeration value="M03.13"/>
                        <enumeration value="M03.14"/>
                        <enumeration value="M03.15"/>
                        <enumeration value="M03.16"/>
                        <enumeration value="M03.17"/>
                        <enumeration value="M03.18"/>
                        <enumeration value="M03.19"/>
                        <enumeration value="M03.20"/>
                        <enumeration value="M03.21"/>
                        <enumeration value="M03.22"/>
                        <enumeration value="M04.00"/>
                        <enumeration value="M04.01"/>
                        <enumeration value="M04.02"/>
                        <enumeration value="M04.03"/>
                        <enumeration value="M04.04"/>
                        <enumeration value="M05.00"/>
                        <enumeration value="M05.01"/>
                        <enumeration value="M05.02"/>
                        <enumeration value="M06.00"/>
                        <enumeration value="M06.01"/>
                        <enumeration value="M06.02"/>
                        <enumeration value="M06.03"/>
                        <enumeration value="M06.04"/>
                        <enumeration value="M07.00"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caseDetails">
        <sequence>
            <element minOccurs="0" name="attribution">
                <annotation>
                    <documentation>Décrit le type de professionnel médical à qui le dossier est attribué : médecin généraliste, médecin urgentiste etc.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DRM"/>
                        <enumeration value="DRMMRU"/>
                        <enumeration value="MU"/>
                        <enumeration value="DENT"/>
                        <enumeration value="GERIA"/>
                        <enumeration value="PEDIA"/>
                        <enumeration value="PSY"/>
                        <enumeration value="TOXICOL"/>
                        <enumeration value="INDISPMU"/>
                        <enumeration value="SSE"/>
                        <enumeration value="PLANBLAN"/>
                        <enumeration value="PCSAMU"/>
                        <enumeration value="DRMMRL"/>
                        <enumeration value="MG"/>
                        <enumeration value="INDISPMG"/>
                        <enumeration value="ABSML"/>
                        <enumeration value="DR"/>
                        <enumeration value="DREG"/>
                        <enumeration value="DRARM"/>
                        <enumeration value="DRMED"/>
                        <enumeration value="DRPHARMA"/>
                        <enumeration value="DRDENT"/>
                        <enumeration value="DRINFO"/>
                        <enumeration value="DOS-SIS"/>
                        <enumeration value="DOS-FDO"/>
                        <enumeration value="D"/>
                        <enumeration value="D-MALV"/>
                        <enumeration value="ERR"/>
                        <enumeration value="NRP"/>
                        <enumeration value="MALV"/>
                        <enumeration value="FAX"/>
                        <enumeration value="ITERATIF"/>
                        <enumeration value="D-IDENT"/>
                        <enumeration value="ADMIN"/>
                        <enumeration value="PERSO"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="priority">
                <annotation>
                    <documentation>Décrit la priorité de régulation médicale du dossier : P0, P1, P2, P3</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="P0"/>
                        <enumeration value="P1"/>
                        <enumeration value="P2"/>
                        <enumeration value="P3"/>
                        <enumeration value="NR"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>Décrit le niveau de soins global du dossier identifié au cours de l'acte de régulation médicale : s'il y a plusieurs niveaux de soins différents pour chaque patient, on indique ici le niveau le plus grave.
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalLocationId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FINESS ADMINISTRATIF"/>
                        <enumeration value="FINESS GEOGRAPHIQUE"/>
                        <enumeration value="SIREN"/>
                        <enumeration value="SIRET"/>
                        <enumeration value="APE_NAF"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="id" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedAddress">
        <sequence>
            <element minOccurs="0" name="highway" type="x:highway"/>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro, le type et le nom de la voie.
En réception, il est possible que seul cette information soit remplie. 

Spécificités 15-15 : si les informations pour les autoroutes (voie férée ou voie navigable) ne sont pas structurées, il est possible de passer le nom, PK et sens ici, de manière concaténée.

Spécificités 15-18 : Obligatoire et seule valeur des détails de l'adresse fournie par NexSIS.
Utilisé pour tout type de voie :  autoroute (PK, nom et sens), voie ferrée, voie navigable…</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="number" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro dans l'adresse. La valeur de l'attribut inclut l'indice de répétition associé au numéro (par exemple bis, a…).

Spécificités 15-18 :  inclut le point kilométrique sur l'autoroute, voie ferrée ou voie navigable.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="wayName" type="x:wayName"/>
        </sequence>
    </complexType>
    <complexType name="city">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom officiel de la commune</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="inseeCode">
                <annotation>
                    <documentation>A valoriser avec le code INSEE de la commune actuelle sur la base du Code Officiel géographique en vigueur. 
La valeur du code INSEE est obligatoire dès que le nom de la commune est renseigné (city.name).</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="access">
        <sequence>
            <element minOccurs="0" name="floor" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro ou nom de l'étage </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="roomNumber" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro d'appartement, de chambre, de bureau</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="interphone" type="string">
                <annotation>
                    <documentation>A valoriser avec les informations nécessaires à l'identification de l'interphone (numéro, nom)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="accessCode" type="string"/>
            <element minOccurs="0" name="elevator" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom ou le numéro de l'ascenseur ou de la cage d'escalier </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="buildingName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du bâtiment</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entrance" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'entrée</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entity" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du service concerné au sein de l'établissement : infirmerie, service finance, service comptabilité.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="phoneNumber" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro de téléphone du lieu de l'intervention, par exemple : téléphone du secrétariat, téléphone du service administratif ou se trouve le patient/ la victime.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="geometry">
        <sequence>
            <element name="obsDatime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de renseignement des coordonnées du point clé de la localisation. 
Permet de connaître la fraîcheur et donc la pertinence des informations pour intervenir.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="point" type="x:point"/>
        </sequence>
    </complexType>
    <complexType name="externalAddressId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>A valoriser avec le système fournissant le localisant</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NEXSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la définition du type d'objet dans le système

Exemple : SIG NexSIS / OSM ont plusieurs types de données (EGA, POI, tronçon de route, …)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUEL"/>
                        <enumeration value="CARTE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="SITE INTERNET"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="id" type="string">
                <annotation>
                    <documentation>Identifiant dans le système concerné</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="highway">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'autoroute, de la voie ferrée ou voie navigable.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="pk" type="string">
                <annotation>
                    <documentation>A valoriser avec le point kilométrique de l'autoroute, de la voie ferrée ou voie navigable. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="direction" type="string">
                <annotation>
                    <documentation>A valoriser avec le sens de l'autoroute.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="wayName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le type et le nom de la voie.
Si les attributs "type" et "name" de "wayName" sont également renseignés, alors "complete" doit être valorisé ainsi : "{type} {nom}".</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>A valoriser avec le type de la voie</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la voie</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="point">
        <sequence>
            <element name="coord" type="x:coord"/>
            <element minOccurs="0" name="fromAml" type="boolean">
                <annotation>
                    <documentation>Attribut qui permet de préciser si les coordonnées fournies proviennent du dispositif AML (Advanced Mobile Location) - TRUE - ou non - FALSE. </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la latitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la longitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>A valoriser avec l'altitude du point clé de la localisation, en mètres.

Spécificité 15-18 :  ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
VILLE : Précision à l'échelle de la ville, 
RUE : Précision à l'échelle de la rue, 
ADRESSE : Adresse précise, 
EXACTE : Point coordonnée GPS exact, 
INCONNUE : Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="VILLE"/>
                        <enumeration value="RUE"/>
                        <enumeration value="ADRESSE"/>
                        <enumeration value="EXACTE"/>
                        <enumeration value="INCONNUE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="notes">
        <sequence>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'information complémentaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>A valoriser avec un texte libre contenant les indications complémentaires renseignées sur l'alerte/appel.

Spécificités 15-15 : cet attribut ne doit pas être valorisé avec des notes à caractère médical, qui serait liée à un interrogatoire ARM ou médecin, ou à un patient en particulier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caller">
        <sequence>
            <element name="callerContact" type="x:contact"/>
            <element minOccurs="0" name="callbackContact" type="x:contact"/>
            <element minOccurs="0" name="language">
                <annotation>
                    <documentation>A valoriser avec la langue parlée par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AF"/>
                        <enumeration value="AX"/>
                        <enumeration value="AL"/>
                        <enumeration value="DZ"/>
                        <enumeration value="AS"/>
                        <enumeration value="AD"/>
                        <enumeration value="AO"/>
                        <enumeration value="AI"/>
                        <enumeration value="AQ"/>
                        <enumeration value="AG"/>
                        <enumeration value="AR"/>
                        <enumeration value="AM"/>
                        <enumeration value="AW"/>
                        <enumeration value="AU"/>
                        <enumeration value="AT"/>
                        <enumeration value="AZ"/>
                        <enumeration value="BS"/>
                        <enumeration value="BH"/>
                        <enumeration value="BD"/>
                        <enumeration value="BB"/>
                        <enumeration value="BY"/>
                        <enumeration value="BE"/>
                        <enumeration value="BZ"/>
                        <enumeration value="BJ"/>
                        <enumeration value="BM"/>
                        <enumeration value="BT"/>
                        <enumeration value="BO"/>
                        <enumeration value="BA"/>
                        <enumeration value="BW"/>
                        <enumeration value="BV"/>
                        <enumeration value="BR"/>
                        <enumeration value="IO"/>
                        <enumeration value="BN"/>
                        <enumeration value="BG"/>
                        <enumeration value="BF"/>
                        <enumeration value="BI"/>
                        <enumeration value="CV"/>
                        <enumeration value="KH"/>
                        <enumeration value="CM"/>
                        <enumeration value="CA"/>
                        <enumeration value="KY"/>
                        <enumeration value="CF"/>
                        <enumeration value="TD"/>
                        <enumeration value="CL"/>
                        <enumeration value="CN"/>
                        <enumeration value="CX"/>
                        <enumeration value="CC"/>
                        <enumeration value="CO"/>
                        <enumeration value="KM"/>
                        <enumeration value="CG"/>
                        <enumeration value="CK"/>
                        <enumeration value="CR"/>
                        <enumeration value="CI"/>
                        <enumeration value="HR"/>
                        <enumeration value="CU"/>
                        <enumeration value="CW"/>
                        <enumeration value="CY"/>
                        <enumeration value="CZ"/>
                        <enumeration value="DK"/>
                        <enumeration value="DJ"/>
                        <enumeration value="DM"/>
                        <enumeration value="DO"/>
                        <enumeration value="EC"/>
                        <enumeration value="EG"/>
                        <enumeration value="SV"/>
                        <enumeration value="GQ"/>
                        <enumeration value="ER"/>
                        <enumeration value="EE"/>
                        <enumeration value="SZ"/>
                        <enumeration value="ET"/>
                        <enumeration value="FK"/>
                        <enumeration value="FO"/>
                        <enumeration value="FJ"/>
                        <enumeration value="FI"/>
                        <enumeration value="FR"/>
                        <enumeration value="GF"/>
                        <enumeration value="PF"/>
                        <enumeration value="TF"/>
                        <enumeration value="GA"/>
                        <enumeration value="GM"/>
                        <enumeration value="GE"/>
                        <enumeration value="DE"/>
                        <enumeration value="GH"/>
                        <enumeration value="GI"/>
                        <enumeration value="GR"/>
                        <enumeration value="GL"/>
                        <enumeration value="GD"/>
                        <enumeration value="GP"/>
                        <enumeration value="GU"/>
                        <enumeration value="GT"/>
                        <enumeration value="GG"/>
                        <enumeration value="GN"/>
                        <enumeration value="GW"/>
                        <enumeration value="GY"/>
                        <enumeration value="HT"/>
                        <enumeration value="HM"/>
                        <enumeration value="VA"/>
                        <enumeration value="HN"/>
                        <enumeration value="HK"/>
                        <enumeration value="HU"/>
                        <enumeration value="IS"/>
                        <enumeration value="IN"/>
                        <enumeration value="ID"/>
                        <enumeration value="IR"/>
                        <enumeration value="IQ"/>
                        <enumeration value="IE"/>
                        <enumeration value="IM"/>
                        <enumeration value="IL"/>
                        <enumeration value="IT"/>
                        <enumeration value="JM"/>
                        <enumeration value="JP"/>
                        <enumeration value="JE"/>
                        <enumeration value="JO"/>
                        <enumeration value="KZ"/>
                        <enumeration value="KE"/>
                        <enumeration value="KI"/>
                        <enumeration value="KP"/>
                        <enumeration value="KW"/>
                        <enumeration value="KG"/>
                        <enumeration value="LA"/>
                        <enumeration value="LV"/>
                        <enumeration value="LB"/>
                        <enumeration value="LS"/>
                        <enumeration value="LR"/>
                        <enumeration value="LY"/>
                        <enumeration value="LI"/>
                        <enumeration value="LT"/>
                        <enumeration value="LU"/>
                        <enumeration value="MO"/>
                        <enumeration value="MG"/>
                        <enumeration value="MW"/>
                        <enumeration value="MY"/>
                        <enumeration value="MV"/>
                        <enumeration value="ML"/>
                        <enumeration value="MT"/>
                        <enumeration value="MH"/>
                        <enumeration value="MQ"/>
                        <enumeration value="MR"/>
                        <enumeration value="MU"/>
                        <enumeration value="YT"/>
                        <enumeration value="MX"/>
                        <enumeration value="FM"/>
                        <enumeration value="MC"/>
                        <enumeration value="MN"/>
                        <enumeration value="ME"/>
                        <enumeration value="MS"/>
                        <enumeration value="MA"/>
                        <enumeration value="MZ"/>
                        <enumeration value="MM"/>
                        <enumeration value="NA"/>
                        <enumeration value="NR"/>
                        <enumeration value="NP"/>
                        <enumeration value="NL"/>
                        <enumeration value="NC"/>
                        <enumeration value="NZ"/>
                        <enumeration value="NI"/>
                        <enumeration value="NE"/>
                        <enumeration value="NG"/>
                        <enumeration value="NU"/>
                        <enumeration value="NF"/>
                        <enumeration value="MK"/>
                        <enumeration value="MP"/>
                        <enumeration value="NO"/>
                        <enumeration value="OM"/>
                        <enumeration value="PK"/>
                        <enumeration value="PW"/>
                        <enumeration value="PA"/>
                        <enumeration value="PG"/>
                        <enumeration value="PY"/>
                        <enumeration value="PE"/>
                        <enumeration value="PH"/>
                        <enumeration value="PN"/>
                        <enumeration value="PL"/>
                        <enumeration value="PT"/>
                        <enumeration value="PR"/>
                        <enumeration value="QA"/>
                        <enumeration value="RE"/>
                        <enumeration value="RO"/>
                        <enumeration value="RU"/>
                        <enumeration value="RW"/>
                        <enumeration value="BL"/>
                        <enumeration value="KN"/>
                        <enumeration value="LC"/>
                        <enumeration value="MF"/>
                        <enumeration value="PM"/>
                        <enumeration value="VC"/>
                        <enumeration value="WS"/>
                        <enumeration value="SM"/>
                        <enumeration value="ST"/>
                        <enumeration value="SA"/>
                        <enumeration value="SN"/>
                        <enumeration value="RS"/>
                        <enumeration value="SC"/>
                        <enumeration value="SL"/>
                        <enumeration value="SG"/>
                        <enumeration value="SX"/>
                        <enumeration value="SK"/>
                        <enumeration value="SI"/>
                        <enumeration value="SB"/>
                        <enumeration value="SO"/>
                        <enumeration value="ZA"/>
                        <enumeration value="GS"/>
                        <enumeration value="SS"/>
                        <enumeration value="ES"/>
                        <enumeration value="LK"/>
                        <enumeration value="SD"/>
                        <enumeration value="SR"/>
                        <enumeration value="SJ"/>
                        <enumeration value="SE"/>
                        <enumeration value="CH"/>
                        <enumeration value="SY"/>
                        <enumeration value="TJ"/>
                        <enumeration value="TH"/>
                        <enumeration value="TL"/>
                        <enumeration value="TG"/>
                        <enumeration value="TK"/>
                        <enumeration value="TO"/>
                        <enumeration value="TT"/>
                        <enumeration value="TN"/>
                        <enumeration value="TR"/>
                        <enumeration value="TM"/>
                        <enumeration value="TC"/>
                        <enumeration value="TV"/>
                        <enumeration value="UG"/>
                        <enumeration value="UA"/>
                        <enumeration value="AE"/>
                        <enumeration value="GB"/>
                        <enumeration value="US"/>
                        <enumeration value="UM"/>
                        <enumeration value="UY"/>
                        <enumeration value="UZ"/>
                        <enumeration value="VU"/>
                        <enumeration value="VE"/>
                        <enumeration value="VN"/>
                        <enumeration value="VG"/>
                        <enumeration value="VI"/>
                        <enumeration value="WF"/>
                        <enumeration value="EH"/>
                        <enumeration value="YE"/>
                        <enumeration value="ZM"/>
                        <enumeration value="ZW"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la relation du requérant avec l'incident / le patient / la victime.
cf. nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SUJET"/>
                        <enumeration value="FAMILLE"/>
                        <enumeration value="TIERS"/>
                        <enumeration value="POMPIER"/>
                        <enumeration value="AMBULANC"/>
                        <enumeration value="SECOUR"/>
                        <enumeration value="MED"/>
                        <enumeration value="MEDSOS"/>
                        <enumeration value="MRL"/>
                        <enumeration value="EFFML"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="INF"/>
                        <enumeration value="AIDESOIN"/>
                        <enumeration value="SF"/>
                        <enumeration value="AIDEDOM"/>
                        <enumeration value="FDO-MILI"/>
                        <enumeration value="ADM-TUTL"/>
                        <enumeration value="VIP"/>
                        <enumeration value="OBJCONNC"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="communication">
                <annotation>
                    <documentation>A valoriser avec la nature des éventuelles difficultés de communication rencontrées par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AUCUNE"/>
                        <enumeration value="MUET"/>
                        <enumeration value="VISION"/>
                        <enumeration value="LANGUE"/>
                        <enumeration value="PANIQUE"/>
                        <enumeration value="HOSTILE"/>
                        <enumeration value="AGITE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="IMPOSS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations spécifiquement liées au requérant.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element name="channel">
                <annotation>
                    <documentation>A valoriser avec  l'origine du canal établi : PERSONNE, APPLICATION, DAU, BAU, DEFIBRILLATEUR, ECALL</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PERSONNE"/>
                        <enumeration value="APPLICATION"/>
                        <enumeration value="DAU"/>
                        <enumeration value="BAU"/>
                        <enumeration value="DEFIBRILLATEUR"/>
                        <enumeration value="ECALL"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée : TEL, EMAIL, FAX, POSTAL, WEB, RADIO</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="TEL"/>
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="WEB"/>
                        <enumeration value="RADIO"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom et le nom usuel du requérant/appelant.
Si les champs callerLastName et callerFirstName sont également renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".

Spécificités 15-18  : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom usuel du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom usuel du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="administrativeFile">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalId" type="x:externalId"/>
        </sequence>
    </complexType>
    <complexType name="Identity">
        <sequence>
            <element minOccurs="0" name="strictFeatures" type="x:insStrictFeatures"/>
            <element minOccurs="0" name="nonStrictFeatures" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="patientDetail">
        <sequence>
            <element minOccurs="0" name="weight" type="int">
                <annotation>
                    <documentation>A valoriser avec le poids en kilogrammes</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="int">
                <annotation>
                    <documentation>A valoriser avec la taille en centimètres du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="age">
                <annotation>
                    <documentation>A valoriser avec l'age du patient.
Au format "Durée" de la norme ISO 8601 (https://fr.wikipedia.org/wiki/ISO_8601#Dur%C3%A9e) et en n'utilisant qu'une seule unité de durée (années, mois, semaines ou jours)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="P[0-9]{1,3}[YMWD]"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>A valoriser avec le niveau de soins spécifique au patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="hypothesis">
        <sequence>
            <element minOccurs="0" name="mainDiagnosis" type="x:mainDiagnosis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="otherDiagnosis" type="x:otherDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="externalId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NIR"/>
                        <enumeration value="SINUS"/>
                        <enumeration value="SI-VIC"/>
                        <enumeration value="DOSSARD"/>
                        <enumeration value="PLACE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="insStrictFeatures">
        <sequence>
            <element minOccurs="0" name="birthName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de naissance du patient. Egalement appelé nom de famille.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDate">
                <annotation>
                    <documentation>A valoriser avec la date de naissance du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\d{4}-\d{2}-\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="sex">
                <annotation>
                    <documentation>A valoriser avec le sexe du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MASC"/>
                        <enumeration value="FEM"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="mainDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="otherDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="operator">
        <sequence>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
            <element name="role">
                <annotation>
                    <documentation>A valoriser avec le rôle de l'opérateur au sein de l'entité émettrice du message : </documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMBULANCIER"/>
                        <enumeration value="ARM"/>
                        <enumeration value="INFIRMIER"/>
                        <enumeration value="MEDECIN"/>
                        <enumeration value="INCONNU"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de cette correspondance additionnelle</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
