src/main/resources/xsd/RS-EDA.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:createCaseHealth" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:createCaseHealth" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCaseHealth" type="x:createCaseHealth"/>
    <complexType name="createCaseHealth">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>Identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro du dossier dans le SI de l'émetteur du message.
</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création du dossier/affaire.

Spécificité 15-18 : A valoriser avec le groupe date heure de début de partage lié à la création de l'affaire (et donc de génération du caseId). 
Lors de l'ajout d'une nouvelle alerte, la valeur de ce champ ne doit pas être modifiée.  
L'indicateur de fuseau horaire Z ne doit pas être utilisé.
Il doit être renseigné à la fin du processus de la  création de la première alerte.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="perimeter">
                <annotation>
                    <documentation>Sert à indiquer à quelle filière du CRRA destinataire le dossier doit être adressé/affiché, lorsque celle-ci est spécifique ou dédiée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMU"/>
                        <enumeration value="NEONAT"/>
                        <enumeration value="PSY"/>
                        <enumeration value="SNP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="interventionType">
                <annotation>
                    <documentation>A valoriser en indiquant s'il s'agit d'un dossier dit primaire (première intervention urgente) ou secondaire (par exemple TIH)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="T1"/>
                        <enumeration value="T2-INTER"/>
                        <enumeration value="T2-INTRA"/>
                        <enumeration value="T3"/>
                        <enumeration value="T4"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="qualification" type="x:qualification"/>
            <element name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element name="owner">
                <annotation>
                    <documentation>Attribut qui permet de transférer la prise en charge d'un dossier à un autre CRAA
A valoriser avec l'identifiant de l'organisation concerné (orgId = {pays}.{domaine}.{organisation})</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,9}"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="patient" type="x:patient"/>
            <element maxOccurs="unbounded" minOccurs="0" name="medicalNote" type="x:medicalNote"/>
            <element maxOccurs="unbounded" minOccurs="0" name="decision" type="x:decision"/>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element minOccurs="0" name="origin">
                <annotation>
                    <documentation>A valoriser avec le numéro de provenance de l'appel.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="15"/>
                        <enumeration value="116117"/>
                        <enumeration value="AUTOCOM"/>
                        <enumeration value="112"/>
                        <enumeration value="115"/>
                        <enumeration value="CRRA"/>
                        <enumeration value="AUTREC15"/>
                        <enumeration value="CTA-CONF"/>
                        <enumeration value="CTA-PI"/>
                        <enumeration value="AUTRECTA"/>
                        <enumeration value="CNR"/>
                        <enumeration value="FDO"/>
                        <enumeration value="SNATED"/>
                        <enumeration value="PDSSOS"/>
                        <enumeration value="TELASSIST"/>
                        <enumeration value="CROSS"/>
                        <enumeration value="PUBLIC"/>
                        <enumeration value="DATA"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element minOccurs="0" name="whatsHappen" type="x:whatsHappen"/>
            <element minOccurs="0" name="locationKind" type="x:locationKind"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="details" type="x:caseDetails"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de lieu : nom commercial, nom d'établissement, forêt de Fontainebleau, lac du Der, etc.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
            <element minOccurs="0" name="access" type="x:access"/>
            <element minOccurs="0" name="geometry" type="x:geometry"/>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations liées à la localisation.

Spécificités 15-15 :
En envoi, il est souhaitable de mapper ici toute valeur en lien avec la localisation de l'intervention qui ne pourrait pas être transmise de manière structurée dans l'objet location. 
En réception, il est très important d'intégrer et d'afficher la valeur de cet attribut, qui est suceptible de contenir des informations d'accès importantes.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element name="reception" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de réception de l'alerte/appel</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="notes" type="x:notes"/>
            <element name="caller" type="x:caller"/>
        </sequence>
    </complexType>
    <complexType name="patient">
        <sequence>
            <element name="patientId">
                <annotation>
                    <documentation>Identifiant partagé du patient, généré une seule fois par le système du partenaire qui créé le patient.
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}


</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}patient(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="administrativeFile" type="x:administrativeFile"/>
            <element minOccurs="0" name="identity" type="x:Identity"/>
            <element minOccurs="0" name="detail" type="x:patientDetail"/>
            <element minOccurs="0" name="hypothesis" type="x:hypothesis"/>
        </sequence>
    </complexType>
    <complexType name="medicalNote">
        <sequence>
            <element minOccurs="0" name="patientId">
                <annotation>
                    <documentation>Identifiant partagé du patient concerné par l'observation, a remplir obligatoirement si ce patient existe et est identifié dans le système emetteur, 

Valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}patient(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="operator" type="x:operator"/>
            <element name="medicalNoteId">
                <annotation>
                    <documentation>Identifiant partagé de l'observation, généré une seule fois par le système du partenaire qui créé l'observation
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.medicalNote.{ID unique de l’observation dans le système émetteur}

OU - uniquement dans le cas où un ID unique de la note n'est pas disponible dans le système : 
{OrgId émetteur}.medicalNote.{senderCaseId}.{numéro chronologique de l’observation}

Cet identifiant a vocation à devenir obligatoire pour permettre les mises à jour, il est laissé en facultatif temporairement.
</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}medicalNote(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'observation.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations de nature médicales, faites par un ARM, un médecin ou un autre professionnel de santé.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="decision">
        <sequence>
            <element minOccurs="0" name="patientId" type="string">
                <annotation>
                    <documentation>A valoriser avec l'ID partagé du patient concerné par la décision, à chaque fois que la décision est liée à un patient dans le système émetteur</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de la décision.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="operator" type="x:operator"/>
            <element name="decisionType">
                <annotation>
                    <documentation>A valoriser avec le type de décision prise (cf.nomenclature associée)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CONSEIL"/>
                        <enumeration value="PMT"/>
                        <enumeration value="INTER"/>
                        <enumeration value="ORIENT"/>
                        <enumeration value="PASPLUS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="resourceType">
                <annotation>
                    <documentation>A valoriser avec le type de ressource souhaitée ou engagée (cf.nomenclature associée) - en fonction du type de décision.
A fournir obligatoirement pour une décision d'intervention ou de transport/orientation.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SMUR"/>
                        <enumeration value="SMUR.ADULT"/>
                        <enumeration value="SMUR.PED"/>
                        <enumeration value="SMUR.UMH-S"/>
                        <enumeration value="SMUR.CUMP"/>
                        <enumeration value="HOSPIT"/>
                        <enumeration value="LIBERAL"/>
                        <enumeration value="LIBERAL.MG"/>
                        <enumeration value="LIBERAL.PHARM"/>
                        <enumeration value="LIBERAL.INF"/>
                        <enumeration value="LIBERAL.KINE"/>
                        <enumeration value="LIBERAL.SOS"/>
                        <enumeration value="LIBERAL.MMG"/>
                        <enumeration value="LIBERAL.MSPD"/>
                        <enumeration value="LIBERAL.MCS"/>
                        <enumeration value="LIBERAL.SPEMED"/>
                        <enumeration value="LIBERAL.DENT"/>
                        <enumeration value="LIBERAL.LABO"/>
                        <enumeration value="LIBERAL.AUTREPRO"/>
                        <enumeration value="TSU"/>
                        <enumeration value="SIS"/>
                        <enumeration value="SIS.MEDSP"/>
                        <enumeration value="SIS.ISP"/>
                        <enumeration value="SIS.SP"/>
                        <enumeration value="AASC"/>
                        <enumeration value="FDO"/>
                        <enumeration value="FDO.PN"/>
                        <enumeration value="FDO.GEND"/>
                        <enumeration value="FDO.PM"/>
                        <enumeration value="FDO.DOUANES"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="AUTRE.ADM"/>
                        <enumeration value="AUTRE.DAE"/>
                        <enumeration value="AUTRE.AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="medicalTransport" type="boolean">
                <annotation>
                    <documentation>A valoriser obligatoirement en cas de décision de transport, pour indiquer si ce dernier est médicalisé.
True = transport médicalisé
False = transport non médicalisé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orientationType">
                <annotation>
                    <documentation>Indique le type de destination en cas de décision d'orientation (cf. nomenclature associée)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="URGENCES"/>
                        <enumeration value="REA-USI"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="CABINET"/>
                        <enumeration value="DOMICILE"/>
                        <enumeration value="EPHAD"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="destination" type="x:destination"/>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="R\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="whatsHappen">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="C\d{2}(\.\d{2}){2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="locationKind">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="L\d{2}(\.\d{2}){2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="healthMotive">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="M\d{2}\.\d{2}(?:\.\d{2})?"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caseDetails">
        <sequence>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>A valoriser avec l'état du dossier dans le système émetteur
Spécificité 15-15 : peut être ignoré en réception, partagé à titre indicatif uniquement
Spécificité 15-SMUR : à utiliser à minima pour transmettre le statut CLOTURE à la tablette</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PROGRAM"/>
                        <enumeration value="ACTIF"/>
                        <enumeration value="ACHEVE"/>
                        <enumeration value="VALIDE"/>
                        <enumeration value="CLOTURE"/>
                        <enumeration value="CLASSE"/>
                        <enumeration value="ARCHIVE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="attribution">
                <annotation>
                    <documentation>Décrit le type de professionnel médical à qui le dossier est attribué : médecin généraliste, médecin urgentiste etc.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DRM"/>
                        <enumeration value="DRM.MRU"/>
                        <enumeration value="DRM.MRU.MU"/>
                        <enumeration value="DRM.MRU.INDISPMU"/>
                        <enumeration value="DRM.MRU.SSE"/>
                        <enumeration value="DRM.MRU.PLANBLAN"/>
                        <enumeration value="DRM.MRU.PCSAMU"/>
                        <enumeration value="DRM.SPE"/>
                        <enumeration value="DRM.SPE.DENT"/>
                        <enumeration value="DRM.SPE.GERIA"/>
                        <enumeration value="DRM.SPE.PEDIA"/>
                        <enumeration value="DRM.SPE.OBST"/>
                        <enumeration value="DRM.SPE.PSY"/>
                        <enumeration value="DRM.SPE.TOXICOL"/>
                        <enumeration value="DRM.SPE.AUTRESPE"/>
                        <enumeration value="DRM.MRL"/>
                        <enumeration value="DRM.MRL.MG"/>
                        <enumeration value="DRM.MRL.INDISPMG"/>
                        <enumeration value="DRM.MRL.ABSML"/>
                        <enumeration value="DR"/>
                        <enumeration value="DR.DREG"/>
                        <enumeration value="DR.DREG.DRARM"/>
                        <enumeration value="DR.DREG.DRDAC"/>
                        <enumeration value="DR.DREG.DRMED"/>
                        <enumeration value="DR.DREG.DRPHARMA"/>
                        <enumeration value="DR.DREG.DRDENT"/>
                        <enumeration value="DR.DREG.DRINFO"/>
                        <enumeration value="DR.DREG.DOS-SIS"/>
                        <enumeration value="DR.DREG.DOS-FDO"/>
                        <enumeration value="D"/>
                        <enumeration value="D.D-MALV"/>
                        <enumeration value="D.D-MALV.ERR"/>
                        <enumeration value="D.D-MALV.NRP"/>
                        <enumeration value="D.D-MALV.MALV"/>
                        <enumeration value="D.D-MALV.FAX"/>
                        <enumeration value="D.D-MALV.ITERATIF"/>
                        <enumeration value="D.D-IDENT"/>
                        <enumeration value="D.D-IDENT.ADMIN"/>
                        <enumeration value="D.D-IDENT.PERSO"/>
                        <enumeration value="D.D-IDENT.AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="priority">
                <annotation>
                    <documentation>Décrit la priorité de régulation médicale du dossier : P0, P1, P2, P3</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="P0"/>
                        <enumeration value="P1"/>
                        <enumeration value="P2"/>
                        <enumeration value="P3"/>
                        <enumeration value="NR"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>Décrit le niveau de soins global du dossier identifié au cours de l'acte de régulation médicale : s'il y a plusieurs niveaux de soins différents pour chaque patient, on indique ici le niveau le plus grave.
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalLocationId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>A valoriser avec le type de l'identifiant fourni. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FINESS_ADMINISTRATIF"/>
                        <enumeration value="FINESS_GEOGRAPHIQUE"/>
                        <enumeration value="SIREN"/>
                        <enumeration value="SIRET"/>
                        <enumeration value="APE_NAF"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value">
                <annotation>
                    <documentation>A valoriser avec l'identifiant en lui-même</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([0-9A-Z]{2}0\d{5}\d|\d{9}|\d{14}|\d{4}[A-Za-z])"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedAddress">
        <sequence>
            <element minOccurs="0" name="highway" type="x:highway"/>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro, le type et le nom de la voie.
En réception, il est possible que seul cette information soit remplie. 

Spécificités 15-15 : si les informations pour les autoroutes (voie férée ou voie navigable) ne sont pas structurées, il est possible de passer le nom, PK et sens ici, de manière concaténée.

Spécificités 15-18 : Obligatoire et seule valeur des détails de l'adresse fournie par NexSIS.
Utilisé pour tout type de voie :  autoroute (PK, nom et sens), voie ferrée, voie navigable…</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="number" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro dans l'adresse. La valeur de l'attribut inclut l'indice de répétition associé au numéro (par exemple bis, a…).

Spécificités 15-18 :  inclut le point kilométrique sur l'autoroute, voie ferrée ou voie navigable.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="wayName" type="x:wayName"/>
        </sequence>
    </complexType>
    <complexType name="city">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom officiel de la commune</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="inseeCode">
                <annotation>
                    <documentation>A valoriser avec le code INSEE de la commune actuelle sur la base du Code Officiel géographique en vigueur. 
La valeur du code INSEE est obligatoire dès que le nom de la commune est renseigné (city.name).</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="access">
        <sequence>
            <element minOccurs="0" name="floor" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro ou nom de l'étage </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="roomNumber" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro d'appartement, de chambre, de bureau</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="interphone" type="string">
                <annotation>
                    <documentation>A valoriser avec les informations nécessaires à l'identification de l'interphone (numéro, nom)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="accessCode" type="string"/>
            <element minOccurs="0" name="elevator" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom ou le numéro de l'ascenseur ou de la cage d'escalier </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="buildingName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du bâtiment</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entrance" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'entrée</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entity" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom du service concerné au sein de l'établissement : infirmerie, service finance, service comptabilité.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="phoneNumber">
                <annotation>
                    <documentation>A valoriser avec le numéro de téléphone du lieu de l'intervention, par exemple : téléphone du secrétariat, téléphone du service administratif ou se trouve le patient/ la victime.
Le format attendu est le suivant : +{indicatif pays}{numéro de téléphone}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\+\d{5,18}"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="geometry">
        <sequence>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de renseignement des coordonnées du point clé de la localisation. 
Permet de connaître la fraîcheur et donc la pertinence des informations pour intervenir.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="point" type="x:point"/>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>A valoriser avec le système fournissant le localisant</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NEXSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la définition du type d'objet dans le système

Exemple : SIG NexSIS / OSM ont plusieurs types de données (EGA, POI, tronçon de route, …)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUEL"/>
                        <enumeration value="CARTE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="SITE_INTERNET"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant dans le système concerné</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="highway">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'autoroute, de la voie ferrée ou voie navigable.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="pk" type="string">
                <annotation>
                    <documentation>A valoriser avec le point kilométrique de l'autoroute, de la voie ferrée ou voie navigable. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="direction" type="string">
                <annotation>
                    <documentation>A valoriser avec le sens de l'autoroute.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="wayName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le type et le nom de la voie.
Si les attributs "type" et "name" de "wayName" sont également renseignés, alors "complete" doit être valorisé ainsi : "{type} {nom}".</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>A valoriser avec le type de la voie</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la voie</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="point">
        <sequence>
            <element name="coord" type="x:coord"/>
            <element minOccurs="0" name="isAml" type="boolean">
                <annotation>
                    <documentation>Attribut qui permet de préciser si les coordonnées fournies proviennent du dispositif AML (Advanced Mobile Location) - TRUE - ou non - FALSE. </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la latitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la longitude du point clé de la localisation - dans le système de coordonnées EPSG-4326 (indiquant l'utilisation de WGS-84) </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>A valoriser avec l'altitude du point clé de la localisation, en mètres.

Spécificité 15-18 :  ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
VILLE : Précision à l'échelle de la ville, 
RUE : Précision à l'échelle de la rue, 
ADRESSE : Adresse précise, 
EXACTE : Point coordonnée GPS exact, 
INCONNUE : Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="VILLE"/>
                        <enumeration value="RUE"/>
                        <enumeration value="ADRESSE"/>
                        <enumeration value="EXACTE"/>
                        <enumeration value="INCONNUE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="notes">
        <sequence>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'information complémentaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>A valoriser avec un texte libre contenant les indications complémentaires renseignées sur l'alerte/appel.

Spécificités 15-15 : cet attribut ne doit pas être valorisé avec des notes à caractère médical, qui serait liée à un interrogatoire ARM ou médecin, ou à un patient en particulier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caller">
        <sequence>
            <element name="callerContact" type="x:contact"/>
            <element minOccurs="0" name="callbackContact" type="x:contact"/>
            <element minOccurs="0" name="language">
                <annotation>
                    <documentation>A valoriser avec la langue parlée par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="aa"/>
                        <enumeration value="ab"/>
                        <enumeration value="ae"/>
                        <enumeration value="af"/>
                        <enumeration value="ak"/>
                        <enumeration value="am"/>
                        <enumeration value="an"/>
                        <enumeration value="ar"/>
                        <enumeration value="as"/>
                        <enumeration value="av"/>
                        <enumeration value="ay"/>
                        <enumeration value="az"/>
                        <enumeration value="ba"/>
                        <enumeration value="be"/>
                        <enumeration value="bg"/>
                        <enumeration value="bi"/>
                        <enumeration value="bm"/>
                        <enumeration value="bn"/>
                        <enumeration value="bo"/>
                        <enumeration value="br"/>
                        <enumeration value="bs"/>
                        <enumeration value="ca"/>
                        <enumeration value="ce"/>
                        <enumeration value="ch"/>
                        <enumeration value="co"/>
                        <enumeration value="cr"/>
                        <enumeration value="cs"/>
                        <enumeration value="cu"/>
                        <enumeration value="cv"/>
                        <enumeration value="cy"/>
                        <enumeration value="da"/>
                        <enumeration value="de"/>
                        <enumeration value="dv"/>
                        <enumeration value="dz"/>
                        <enumeration value="ee"/>
                        <enumeration value="el"/>
                        <enumeration value="en"/>
                        <enumeration value="eo"/>
                        <enumeration value="es"/>
                        <enumeration value="et"/>
                        <enumeration value="eu"/>
                        <enumeration value="fa"/>
                        <enumeration value="ff"/>
                        <enumeration value="fi"/>
                        <enumeration value="fj"/>
                        <enumeration value="fo"/>
                        <enumeration value="fr"/>
                        <enumeration value="fy"/>
                        <enumeration value="ga"/>
                        <enumeration value="gd"/>
                        <enumeration value="gl"/>
                        <enumeration value="gn"/>
                        <enumeration value="gu"/>
                        <enumeration value="gv"/>
                        <enumeration value="ha"/>
                        <enumeration value="he"/>
                        <enumeration value="hi"/>
                        <enumeration value="ho"/>
                        <enumeration value="hr"/>
                        <enumeration value="ht"/>
                        <enumeration value="hu"/>
                        <enumeration value="hy"/>
                        <enumeration value="hz"/>
                        <enumeration value="ia"/>
                        <enumeration value="id"/>
                        <enumeration value="ie"/>
                        <enumeration value="ig"/>
                        <enumeration value="ii"/>
                        <enumeration value="ik"/>
                        <enumeration value="io"/>
                        <enumeration value="is"/>
                        <enumeration value="it"/>
                        <enumeration value="iu"/>
                        <enumeration value="ja"/>
                        <enumeration value="jv"/>
                        <enumeration value="ka"/>
                        <enumeration value="kg"/>
                        <enumeration value="ki"/>
                        <enumeration value="kj"/>
                        <enumeration value="kk"/>
                        <enumeration value="kl"/>
                        <enumeration value="km"/>
                        <enumeration value="kn"/>
                        <enumeration value="ko"/>
                        <enumeration value="kr"/>
                        <enumeration value="ks"/>
                        <enumeration value="ku"/>
                        <enumeration value="kv"/>
                        <enumeration value="kw"/>
                        <enumeration value="ky"/>
                        <enumeration value="la"/>
                        <enumeration value="lb"/>
                        <enumeration value="lg"/>
                        <enumeration value="li"/>
                        <enumeration value="ln"/>
                        <enumeration value="lo"/>
                        <enumeration value="lt"/>
                        <enumeration value="lu"/>
                        <enumeration value="lv"/>
                        <enumeration value="mg"/>
                        <enumeration value="mh"/>
                        <enumeration value="mi"/>
                        <enumeration value="mk"/>
                        <enumeration value="ml"/>
                        <enumeration value="mn"/>
                        <enumeration value="mr"/>
                        <enumeration value="ms"/>
                        <enumeration value="mt"/>
                        <enumeration value="my"/>
                        <enumeration value="na"/>
                        <enumeration value="nb"/>
                        <enumeration value="nd"/>
                        <enumeration value="ne"/>
                        <enumeration value="ng"/>
                        <enumeration value="nl"/>
                        <enumeration value="nn"/>
                        <enumeration value="no"/>
                        <enumeration value="nr"/>
                        <enumeration value="nv"/>
                        <enumeration value="ny"/>
                        <enumeration value="oc"/>
                        <enumeration value="oj"/>
                        <enumeration value="om"/>
                        <enumeration value="or"/>
                        <enumeration value="os"/>
                        <enumeration value="pa"/>
                        <enumeration value="pi"/>
                        <enumeration value="pl"/>
                        <enumeration value="ps"/>
                        <enumeration value="pt"/>
                        <enumeration value="qu"/>
                        <enumeration value="rm"/>
                        <enumeration value="rn"/>
                        <enumeration value="ro"/>
                        <enumeration value="ru"/>
                        <enumeration value="rw"/>
                        <enumeration value="sa"/>
                        <enumeration value="sc"/>
                        <enumeration value="sd"/>
                        <enumeration value="se"/>
                        <enumeration value="sg"/>
                        <enumeration value="si"/>
                        <enumeration value="sk"/>
                        <enumeration value="sl"/>
                        <enumeration value="sm"/>
                        <enumeration value="sn"/>
                        <enumeration value="so"/>
                        <enumeration value="sq"/>
                        <enumeration value="sr"/>
                        <enumeration value="ss"/>
                        <enumeration value="st"/>
                        <enumeration value="su"/>
                        <enumeration value="sv"/>
                        <enumeration value="sw"/>
                        <enumeration value="ta"/>
                        <enumeration value="te"/>
                        <enumeration value="tg"/>
                        <enumeration value="th"/>
                        <enumeration value="ti"/>
                        <enumeration value="tk"/>
                        <enumeration value="tl"/>
                        <enumeration value="tn"/>
                        <enumeration value="to"/>
                        <enumeration value="tr"/>
                        <enumeration value="ts"/>
                        <enumeration value="tt"/>
                        <enumeration value="tw"/>
                        <enumeration value="ty"/>
                        <enumeration value="ug"/>
                        <enumeration value="uk"/>
                        <enumeration value="ur"/>
                        <enumeration value="uz"/>
                        <enumeration value="ve"/>
                        <enumeration value="vi"/>
                        <enumeration value="vo"/>
                        <enumeration value="wa"/>
                        <enumeration value="wo"/>
                        <enumeration value="xh"/>
                        <enumeration value="yi"/>
                        <enumeration value="yo"/>
                        <enumeration value="za"/>
                        <enumeration value="zh"/>
                        <enumeration value="zu"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la relation du requérant avec l'incident / le patient / la victime.
cf. nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SUJET"/>
                        <enumeration value="FAMILLE"/>
                        <enumeration value="TIERS"/>
                        <enumeration value="POMPIER"/>
                        <enumeration value="AMBULANC"/>
                        <enumeration value="AMBULANC.AASC"/>
                        <enumeration value="AMBULANC.AUTRESEC"/>
                        <enumeration value="SECOUR"/>
                        <enumeration value="MED"/>
                        <enumeration value="MED.MEDSOS"/>
                        <enumeration value="MED.MRL"/>
                        <enumeration value="MED.EFFML"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="SANTE.INF"/>
                        <enumeration value="SANTE.AIDESOIN"/>
                        <enumeration value="SANTE.SF"/>
                        <enumeration value="SANTE.AIDEDOM"/>
                        <enumeration value="SANTE.PHARMA"/>
                        <enumeration value="SANTE.DENTISTE"/>
                        <enumeration value="SANTE.LABO"/>
                        <enumeration value="FDO-MILI"/>
                        <enumeration value="FDO-MILI.POL"/>
                        <enumeration value="FDO-MILI.GENDARM"/>
                        <enumeration value="FDO-MILI.MILI"/>
                        <enumeration value="ADM-TUTL"/>
                        <enumeration value="VIP"/>
                        <enumeration value="OBJCONNC"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="communication">
                <annotation>
                    <documentation>A valoriser avec la nature des éventuelles difficultés de communication rencontrées par le requérant. 
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AUCUNE"/>
                        <enumeration value="MUET"/>
                        <enumeration value="VISION"/>
                        <enumeration value="LANGUE"/>
                        <enumeration value="PANIQUE"/>
                        <enumeration value="HOSTILE"/>
                        <enumeration value="AGITE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="IMPOSS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations spécifiquement liées au requérant.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element name="channel">
                <annotation>
                    <documentation>A valoriser avec  l'origine du canal établi : PERSONNE, APPLICATION, DAU, BAU, DEFIBRILLATEUR, ECALL</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="APPLICATION"/>
                        <enumeration value="BAU"/>
                        <enumeration value="DAU"/>
                        <enumeration value="DEFIBRILLATEUR"/>
                        <enumeration value="ECALL"/>
                        <enumeration value="PERSONNE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée.  Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="MSS"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="RADIO"/>
                        <enumeration value="TEL"/>
                        <enumeration value="WEB"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée.
Le format attendu pour un numéro de téléphone est le suivant : +{indicatif pays}{numéro de téléphone}</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom et le nom usuel du requérant/appelant.
Si les champs callerLastName et callerFirstName sont également renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".

Spécificités 15-18  : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom usuel du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom usuel du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="administrativeFile">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalId" type="x:externalId"/>
            <element minOccurs="0" name="generalPractitioner" type="x:generalPractitioner"/>
        </sequence>
    </complexType>
    <complexType name="Identity">
        <sequence>
            <element minOccurs="0" name="strictFeatures" type="x:insStrictFeatures"/>
            <element minOccurs="0" name="nonStrictFeatures" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="patientDetail">
        <sequence>
            <element minOccurs="0" name="weight" type="decimal">
                <annotation>
                    <documentation>A valoriser avec le poids en kilogrammes</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la taille en centimètres du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="age">
                <annotation>
                    <documentation>A valoriser avec l'age du patient.
Au format "Durée" de la norme ISO 8601 (https://fr.wikipedia.org/wiki/ISO_8601#Dur%C3%A9e) et en n'utilisant qu'une seule unité de durée (années, mois, semaines ou jours)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="P[0-9]{1,3}[YMWD]"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>A valoriser avec le niveau de soins spécifique au patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="medicalHistory" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les antécédents du patient. 
Si ce n'est pas géré de manière structurés : à afficher dans une note liée au patient en réception. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="treatment" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les traitements du patient.
Si ce n'est pas géré de manière structurés : à afficher dans une note liée au patient en réception. </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="hypothesis">
        <sequence>
            <element minOccurs="0" name="mainDiagnosis" type="x:mainDiagnosis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="otherDiagnosis" type="x:otherDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="externalId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NIR"/>
                        <enumeration value="SINUS"/>
                        <enumeration value="DOSSARD"/>
                        <enumeration value="PLACE"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="generalPractitioner">
        <sequence>
            <element name="detailedName" type="x:detailedName"/>
            <element minOccurs="0" name="rppsId" type="string">
                <annotation>
                    <documentation>Numéro RPPS du médecin traitant</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="contact" type="x:personalContact"/>
        </sequence>
    </complexType>
    <complexType name="personalContact">
        <sequence>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée.  Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="MSS"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="RADIO"/>
                        <enumeration value="TEL"/>
                        <enumeration value="WEB"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée.
Le format attendu pour un numéro de téléphone est le suivant : +{indicatif pays}{numéro de téléphone}.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="insStrictFeatures">
        <sequence>
            <element minOccurs="0" name="birthName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de naissance du patient. Egalement appelé nom de famille.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDate">
                <annotation>
                    <documentation>A valoriser avec la date de naissance du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\d{4}-\d{2}-\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="sex">
                <annotation>
                    <documentation>A valoriser avec le sexe du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="M"/>
                        <enumeration value="F"/>
                        <enumeration value="O"/>
                        <enumeration value="UN"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="mainDiagnosis">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[A-Z]\d{2}(\.[\d\+\-]{1,3})?"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="otherDiagnosis">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[A-Z]\d{2}(\.[\d\+\-]{1,3})?"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="operator">
        <sequence>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser si besoin avec la valeur souhaitée, en fonction des préférences de chaque partenaire : cela peut être le nom et prénom de l'opérateur, ou un identifiant.</documentation>
                </annotation>
            </element>
            <element name="role">
                <annotation>
                    <documentation>A valoriser avec le rôle de l'opérateur au sein de l'entité émettrice du message : </documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMBULANCIER"/>
                        <enumeration value="ARM"/>
                        <enumeration value="INFIRMIER"/>
                        <enumeration value="MEDECIN"/>
                        <enumeration value="PILOTE"/>
                        <enumeration value="TCM"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="destination">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations liées à la localisation.

Spécificités 15-15 :
En envoi, il est souhaitable de mapper ici toute valeur en lien avec la localisation de l'intervention qui ne pourrait pas être transmise de manière structurée dans l'objet location. 
En réception, il est très important d'intégrer et d'afficher la valeur de cet attribut, qui est suceptible de contenir des informations d'accès importantes.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de cette correspondance additionnelle</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
