src/main/resources/xsd/RS-EDA-MAJ.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:createCaseHealthUpdate" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:createCaseHealthUpdate" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCaseHealthUpdate" type="x:createCaseHealthUpdate"/>
    <complexType name="createCaseHealthUpdate">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>Identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro du dossier dans le SI de l'émetteur du message.
</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="perimeter">
                <annotation>
                    <documentation>Sert à indiquer à quelle filière du CRRA destinataire le dossier doit être adressé/affiché, lorsque celle-ci est spécifique ou dédiée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMU"/>
                        <enumeration value="NEONAT"/>
                        <enumeration value="PSY"/>
                        <enumeration value="SNP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="qualification" type="x:qualification"/>
            <element minOccurs="0" name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element minOccurs="0" name="owner">
                <annotation>
                    <documentation>Attribut qui permet de transférer la prise en charge d'un dossier à un autre CRAA
A valoriser avec l'identifiant de l'organisation concerné (orgId = {pays}.{domaine}.{organisation})</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,9}"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="patient" type="x:patient"/>
            <element maxOccurs="unbounded" minOccurs="0" name="medicalNote" type="x:medicalNote"/>
            <element maxOccurs="unbounded" minOccurs="0" name="decision" type="x:decision"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de concaténer en une seule note toutes les autres valeurs modifiées dans le dossier, ne figurant pas de manière structurée dans le RS-EDA-MAJ.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element minOccurs="0" name="details" type="x:caseDetails"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="notes" type="x:notes"/>
        </sequence>
    </complexType>
    <complexType name="patient">
        <sequence>
            <element name="patientId">
                <annotation>
                    <documentation>Identifiant partagé du patient, généré une seule fois par le système du partenaire qui créé le patient.
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}


</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}patient(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="administrativeFile" type="x:administrativeFile"/>
            <element minOccurs="0" name="identity" type="x:Identity"/>
            <element minOccurs="0" name="detail" type="x:patientDetail"/>
            <element minOccurs="0" name="hypothesis" type="x:hypothesis"/>
        </sequence>
    </complexType>
    <complexType name="medicalNote">
        <sequence>
            <element minOccurs="0" name="patientId">
                <annotation>
                    <documentation>Identifiant partagé du patient concerné par l'observation, a remplir obligatoirement si ce patient existe et est identifié dans le système emetteur, 

Valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}patient(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="operator" type="x:operator"/>
            <element name="medicalNoteId">
                <annotation>
                    <documentation>Identifiant partagé de l'observation, généré une seule fois par le système du partenaire qui créé l'observation
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.medicalNote.{ID unique de l’observation dans le système émetteur}

OU - uniquement dans le cas où un ID unique de la note n'est pas disponible dans le système : 
{OrgId émetteur}.medicalNote.{senderCaseId}.{numéro chronologique de l’observation}

Cet identifiant a vocation à devenir obligatoire pour permettre les mises à jour, il est laissé en facultatif temporairement.
</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}medicalNote(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'observation.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations de nature médicales, faites par un ARM, un médecin ou un autre professionnel de santé.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="decision">
        <sequence>
            <element minOccurs="0" name="patientId" type="string">
                <annotation>
                    <documentation>A valoriser avec l'ID partagé du patient concerné par la décision, à chaque fois que la décision est liée à un patient dans le système émetteur</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de la décision.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="operator" type="x:operator"/>
            <element name="decisionType">
                <annotation>
                    <documentation>A valoriser avec le type de décision prise (cf.nomenclature associée)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CONSEIL"/>
                        <enumeration value="PMT"/>
                        <enumeration value="INTER"/>
                        <enumeration value="ORIENT"/>
                        <enumeration value="PASPLUS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="resourceType">
                <annotation>
                    <documentation>A valoriser avec le type de ressource souhaitée ou engagée (cf.nomenclature associée) - en fonction du type de décision.
A fournir obligatoirement pour une décision d'intervention ou de transport/orientation.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SMUR"/>
                        <enumeration value="SMUR.ADULT"/>
                        <enumeration value="SMUR.PED"/>
                        <enumeration value="SMUR.UMH-S"/>
                        <enumeration value="SMUR.CUMP"/>
                        <enumeration value="HOSPIT"/>
                        <enumeration value="LIBERAL"/>
                        <enumeration value="LIBERAL.MG"/>
                        <enumeration value="LIBERAL.PHARM"/>
                        <enumeration value="LIBERAL.INF"/>
                        <enumeration value="LIBERAL.KINE"/>
                        <enumeration value="LIBERAL.SOS"/>
                        <enumeration value="LIBERAL.MMG"/>
                        <enumeration value="LIBERAL.MSPD"/>
                        <enumeration value="LIBERAL.MCS"/>
                        <enumeration value="LIBERAL.SPEMED"/>
                        <enumeration value="LIBERAL.DENT"/>
                        <enumeration value="LIBERAL.LABO"/>
                        <enumeration value="LIBERAL.AUTREPRO"/>
                        <enumeration value="TSU"/>
                        <enumeration value="SIS"/>
                        <enumeration value="SIS.MEDSP"/>
                        <enumeration value="SIS.ISP"/>
                        <enumeration value="SIS.SP"/>
                        <enumeration value="AASC"/>
                        <enumeration value="FDO"/>
                        <enumeration value="FDO.PN"/>
                        <enumeration value="FDO.GEND"/>
                        <enumeration value="FDO.PM"/>
                        <enumeration value="FDO.DOUANES"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="AUTRE.ADM"/>
                        <enumeration value="AUTRE.DAE"/>
                        <enumeration value="AUTRE.AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="medicalTransport" type="boolean">
                <annotation>
                    <documentation>A valoriser obligatoirement en cas de décision de transport, pour indiquer si ce dernier est médicalisé.
True = transport médicalisé
False = transport non médicalisé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orientationType">
                <annotation>
                    <documentation>Indique le type de destination en cas de décision d'orientation (cf. nomenclature associée)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="URGENCES"/>
                        <enumeration value="REA-USI"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="CABINET"/>
                        <enumeration value="DOMICILE"/>
                        <enumeration value="EPHAD"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="destination" type="x:destination"/>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="R\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caseDetails">
        <sequence>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>A valoriser avec l'état du dossier dans le système émetteur
Spécificité 15-15 : peut être ignoré en réception, partagé à titre indicatif uniquement
Spécificité 15-SMUR : à utiliser à minima pour transmettre le statut CLOTURE à la tablette</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PROGRAM"/>
                        <enumeration value="ACTIF"/>
                        <enumeration value="ACHEVE"/>
                        <enumeration value="VALIDE"/>
                        <enumeration value="CLOTURE"/>
                        <enumeration value="CLASSE"/>
                        <enumeration value="ARCHIVE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="priority">
                <annotation>
                    <documentation>Décrit la priorité de régulation médicale du dossier : P0, P1, P2, P3</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="P0"/>
                        <enumeration value="P1"/>
                        <enumeration value="P2"/>
                        <enumeration value="P3"/>
                        <enumeration value="NR"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>Décrit le niveau de soins global du dossier identifié au cours de l'acte de régulation médicale : s'il y a plusieurs niveaux de soins différents pour chaque patient, on indique ici le niveau le plus grave.
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>A valoriser avec le système fournissant le localisant</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NEXSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la définition du type d'objet dans le système

Exemple : SIG NexSIS / OSM ont plusieurs types de données (EGA, POI, tronçon de route, …)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUEL"/>
                        <enumeration value="CARTE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="SITE_INTERNET"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant dans le système concerné</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="notes">
        <sequence>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'information complémentaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>A valoriser avec un texte libre contenant les indications complémentaires renseignées sur l'alerte/appel.

Spécificités 15-15 : cet attribut ne doit pas être valorisé avec des notes à caractère médical, qui serait liée à un interrogatoire ARM ou médecin, ou à un patient en particulier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="administrativeFile">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalId" type="x:externalId"/>
            <element minOccurs="0" name="generalPractitioner" type="x:generalPractitioner"/>
        </sequence>
    </complexType>
    <complexType name="Identity">
        <sequence>
            <element minOccurs="0" name="strictFeatures" type="x:insStrictFeatures"/>
            <element minOccurs="0" name="nonStrictFeatures" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="patientDetail">
        <sequence>
            <element minOccurs="0" name="weight" type="decimal">
                <annotation>
                    <documentation>A valoriser avec le poids en kilogrammes</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>A valoriser avec la taille en centimètres du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="age">
                <annotation>
                    <documentation>A valoriser avec l'age du patient.
Au format "Durée" de la norme ISO 8601 (https://fr.wikipedia.org/wiki/ISO_8601#Dur%C3%A9e) et en n'utilisant qu'une seule unité de durée (années, mois, semaines ou jours)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="P[0-9]{1,3}[YMWD]"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>A valoriser avec le niveau de soins spécifique au patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="medicalHistory" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les antécédents du patient. 
Si ce n'est pas géré de manière structurés : à afficher dans une note liée au patient en réception. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="treatment" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les traitements du patient.
Si ce n'est pas géré de manière structurés : à afficher dans une note liée au patient en réception. </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="hypothesis">
        <sequence>
            <element minOccurs="0" name="mainDiagnosis" type="x:mainDiagnosis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="otherDiagnosis" type="x:otherDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="externalId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NIR"/>
                        <enumeration value="SINUS"/>
                        <enumeration value="DOSSARD"/>
                        <enumeration value="PLACE"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="generalPractitioner">
        <sequence>
            <element name="detailedName" type="x:detailedName"/>
            <element minOccurs="0" name="rppsId" type="string">
                <annotation>
                    <documentation>Numéro RPPS du médecin traitant</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="contact" type="x:personalContact"/>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom et le nom usuel du requérant/appelant.
Si les champs callerLastName et callerFirstName sont également renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".

Spécificités 15-18  : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom usuel du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom usuel du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="personalContact">
        <sequence>
            <element name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée.  Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="MSS"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="RADIO"/>
                        <enumeration value="TEL"/>
                        <enumeration value="WEB"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée.
Le format attendu pour un numéro de téléphone est le suivant : +{indicatif pays}{numéro de téléphone}.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="insStrictFeatures">
        <sequence>
            <element minOccurs="0" name="birthName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de naissance du patient. Egalement appelé nom de famille.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDate">
                <annotation>
                    <documentation>A valoriser avec la date de naissance du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\d{4}-\d{2}-\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="sex">
                <annotation>
                    <documentation>A valoriser avec le sexe du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="M"/>
                        <enumeration value="F"/>
                        <enumeration value="O"/>
                        <enumeration value="UN"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="mainDiagnosis">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[A-Z]\d{2}(\.[\d\+\-]{1,3})?"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="otherDiagnosis">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[A-Z]\d{2}(\.[\d\+\-]{1,3})?"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="operator">
        <sequence>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser si besoin avec la valeur souhaitée, en fonction des préférences de chaque partenaire : cela peut être le nom et prénom de l'opérateur, ou un identifiant.</documentation>
                </annotation>
            </element>
            <element name="role">
                <annotation>
                    <documentation>A valoriser avec le rôle de l'opérateur au sein de l'entité émettrice du message : </documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMBULANCIER"/>
                        <enumeration value="ARM"/>
                        <enumeration value="INFIRMIER"/>
                        <enumeration value="MEDECIN"/>
                        <enumeration value="PILOTE"/>
                        <enumeration value="TCM"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="destination">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalLocationId" type="x:externalLocationId"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations liées à la localisation.

Spécificités 15-15 :
En envoi, il est souhaitable de mapper ici toute valeur en lien avec la localisation de l'intervention qui ne pourrait pas être transmise de manière structurée dans l'objet location. 
En réception, il est très important d'intégrer et d'afficher la valeur de cet attribut, qui est suceptible de contenir des informations d'accès importantes.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalLocationId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>A valoriser avec le type de l'identifiant fourni. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="FINESS_ADMINISTRATIF"/>
                        <enumeration value="FINESS_GEOGRAPHIQUE"/>
                        <enumeration value="SIREN"/>
                        <enumeration value="SIRET"/>
                        <enumeration value="APE_NAF"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value">
                <annotation>
                    <documentation>A valoriser avec l'identifiant en lui-même</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([0-9A-Z]{2}0\d{5}\d|\d{9}|\d{14}|\d{4}[A-Za-z])"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de cette correspondance additionnelle</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
