src/main/resources/xsd/RS-EDA.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:cisu:2.0:createCaseHealth" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0:createCaseHealth" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCaseHealth" type="x:createCaseHealth"/>
    <complexType name="createCaseHealth">
        <sequence>
            <element name="caseId" type="string">
                <annotation>
                    <documentation>Identifiant de l'affaire partagé entre tous les intervenants = aux champs {organization}.{senderCaseId}.
Il doit pouvoir être généré de façon unique et décentralisée et ne présenter aucune ambiguïté. 
Il est généré par le système du partenaire récepteur de la primo-demande de secours (créateur du dossier).
Valorisation : {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*.{numéro de dossier}</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>Valoriser avec le numéro du dossier dans le SI de l'émetteur du message. 
Ce champ est facultatif, il ne sera notamment pas transmis par NexSIS.
</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de début de partage lié à la création de l'affaire (et donc de génération du caseId). Il doit être renseigné à la fin du processus de la  création  de la première alerte. Lors de l'ajout d'alerte à une affaire ce champ ne doit pas être modifié.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="referenceVersion" type="string">
                <annotation>
                    <documentation>Indique le numéro de version du référentiel des nomenclatures des codes transmis. 
Cela permet aux différents systèmes de s'assurer qu'ils utilisent la même version des codes de nomenclature que leurs partenaires.</documentation>
                </annotation>
            </element>
            <element name="qualification" type="x:qualification"/>
            <element name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element name="owner" type="string">
                <annotation>
                    <documentation>Champ servant à transférer la responsabilité du traitement d'un dossier à un autre CRAA / à lui demander de prendre en charge le traitement du dossier.
Le SAMU demandeur entre dans ce champ l'ID du CRAA à qui il demande de traiter l'affaire (uniquement en cas de transfert intégral du traitement d'un dossier).
Le SAMU qui reçoit la demande de transfert et l'accepte renvoie un RC-EDA de mise à jour en laissant son ID dans ce champ + en ajoutant l'ID local du dossier chez lui dans le message.
Le SAMU qui reçoit la demande de transfert et la refuse renvoie un RC-EDA de mise à jour en remettant l'ID du SAMU demandeur dans ce champ + il envoie l'ID local du dossier chez lui.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="operator" type="x:operator"/>
            <element maxOccurs="unbounded" minOccurs="0" name="patient" type="x:patient"/>
            <element maxOccurs="unbounded" minOccurs="0" name="medicalNote" type="x:medicalNote"/>
            <element maxOccurs="unbounded" minOccurs="0" name="decision" type="x:decision"/>
            <element maxOccurs="unbounded" minOccurs="0" name="newAlert" type="x:alert"/>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Texte libre permettant de donner des informations supplémentaires concernant l'affaire</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element name="whatsHappen" type="x:whatsHappen"/>
            <element minOccurs="0" name="locationKind" type="x:locationKind"/>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="details" type="x:caseDetails"/>
            <element minOccurs="0" name="victims" type="x:victims"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element name="locID" type="string">
                <annotation>
                    <documentation>ID technique et provisoire permettant d'identifier le lieu dans le cadre des échanges de cette affaire.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="locLabel" type="string">
                <annotation>
                    <documentation>Permet d'indiquer des indications auto suffisantes permettant pour un opérationnel d'accéder facilement au lieu avec des indications minimales.
Dans les messages NexSIS, va souvent correspondre à la concaténation suivant des règles métiers de différentes informations, dont le "name" (toponyme) et l'adresse.
Comprend au maximum 255 caractères</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Indique le nom de lieu : nom commercial, forêt de Fontainebleau, lac du Der (plutôt à destination des systèmes).</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
            <element minOccurs="0" name="access" type="x:access"/>
            <element minOccurs="0" name="geometry" type="x:geometry"/>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
            <element name="country">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AF"/>
                        <enumeration value="AX"/>
                        <enumeration value="AL"/>
                        <enumeration value="DZ"/>
                        <enumeration value="AS"/>
                        <enumeration value="AD"/>
                        <enumeration value="AO"/>
                        <enumeration value="AI"/>
                        <enumeration value="AQ"/>
                        <enumeration value="AG"/>
                        <enumeration value="AR"/>
                        <enumeration value="AM"/>
                        <enumeration value="AW"/>
                        <enumeration value="AU"/>
                        <enumeration value="AT"/>
                        <enumeration value="AZ"/>
                        <enumeration value="BS"/>
                        <enumeration value="BH"/>
                        <enumeration value="BD"/>
                        <enumeration value="BB"/>
                        <enumeration value="BY"/>
                        <enumeration value="BE"/>
                        <enumeration value="BZ"/>
                        <enumeration value="BJ"/>
                        <enumeration value="BM"/>
                        <enumeration value="BT"/>
                        <enumeration value="BO"/>
                        <enumeration value="BA"/>
                        <enumeration value="BW"/>
                        <enumeration value="BV"/>
                        <enumeration value="BR"/>
                        <enumeration value="IO"/>
                        <enumeration value="BN"/>
                        <enumeration value="BG"/>
                        <enumeration value="BF"/>
                        <enumeration value="BI"/>
                        <enumeration value="CV"/>
                        <enumeration value="KH"/>
                        <enumeration value="CM"/>
                        <enumeration value="CA"/>
                        <enumeration value="KY"/>
                        <enumeration value="CF"/>
                        <enumeration value="TD"/>
                        <enumeration value="CL"/>
                        <enumeration value="CN"/>
                        <enumeration value="CX"/>
                        <enumeration value="CC"/>
                        <enumeration value="CO"/>
                        <enumeration value="KM"/>
                        <enumeration value="CG"/>
                        <enumeration value="CK"/>
                        <enumeration value="CR"/>
                        <enumeration value="CI"/>
                        <enumeration value="HR"/>
                        <enumeration value="CU"/>
                        <enumeration value="CW"/>
                        <enumeration value="CY"/>
                        <enumeration value="CZ"/>
                        <enumeration value="DK"/>
                        <enumeration value="DJ"/>
                        <enumeration value="DM"/>
                        <enumeration value="DO"/>
                        <enumeration value="EC"/>
                        <enumeration value="EG"/>
                        <enumeration value="SV"/>
                        <enumeration value="GQ"/>
                        <enumeration value="ER"/>
                        <enumeration value="EE"/>
                        <enumeration value="SZ"/>
                        <enumeration value="ET"/>
                        <enumeration value="FK"/>
                        <enumeration value="FO"/>
                        <enumeration value="FJ"/>
                        <enumeration value="FI"/>
                        <enumeration value="FR"/>
                        <enumeration value="GF"/>
                        <enumeration value="PF"/>
                        <enumeration value="TF"/>
                        <enumeration value="GA"/>
                        <enumeration value="GM"/>
                        <enumeration value="GE"/>
                        <enumeration value="DE"/>
                        <enumeration value="GH"/>
                        <enumeration value="GI"/>
                        <enumeration value="GR"/>
                        <enumeration value="GL"/>
                        <enumeration value="GD"/>
                        <enumeration value="GP"/>
                        <enumeration value="GU"/>
                        <enumeration value="GT"/>
                        <enumeration value="GG"/>
                        <enumeration value="GN"/>
                        <enumeration value="GW"/>
                        <enumeration value="GY"/>
                        <enumeration value="HT"/>
                        <enumeration value="HM"/>
                        <enumeration value="VA"/>
                        <enumeration value="HN"/>
                        <enumeration value="HK"/>
                        <enumeration value="HU"/>
                        <enumeration value="IS"/>
                        <enumeration value="IN"/>
                        <enumeration value="ID"/>
                        <enumeration value="IR"/>
                        <enumeration value="IQ"/>
                        <enumeration value="IE"/>
                        <enumeration value="IM"/>
                        <enumeration value="IL"/>
                        <enumeration value="IT"/>
                        <enumeration value="JM"/>
                        <enumeration value="JP"/>
                        <enumeration value="JE"/>
                        <enumeration value="JO"/>
                        <enumeration value="KZ"/>
                        <enumeration value="KE"/>
                        <enumeration value="KI"/>
                        <enumeration value="KP"/>
                        <enumeration value="KW"/>
                        <enumeration value="KG"/>
                        <enumeration value="LA"/>
                        <enumeration value="LV"/>
                        <enumeration value="LB"/>
                        <enumeration value="LS"/>
                        <enumeration value="LR"/>
                        <enumeration value="LY"/>
                        <enumeration value="LI"/>
                        <enumeration value="LT"/>
                        <enumeration value="LU"/>
                        <enumeration value="MO"/>
                        <enumeration value="MG"/>
                        <enumeration value="MW"/>
                        <enumeration value="MY"/>
                        <enumeration value="MV"/>
                        <enumeration value="ML"/>
                        <enumeration value="MT"/>
                        <enumeration value="MH"/>
                        <enumeration value="MQ"/>
                        <enumeration value="MR"/>
                        <enumeration value="MU"/>
                        <enumeration value="YT"/>
                        <enumeration value="MX"/>
                        <enumeration value="FM"/>
                        <enumeration value="MC"/>
                        <enumeration value="MN"/>
                        <enumeration value="ME"/>
                        <enumeration value="MS"/>
                        <enumeration value="MA"/>
                        <enumeration value="MZ"/>
                        <enumeration value="MM"/>
                        <enumeration value="NA"/>
                        <enumeration value="NR"/>
                        <enumeration value="NP"/>
                        <enumeration value="NL"/>
                        <enumeration value="NC"/>
                        <enumeration value="NZ"/>
                        <enumeration value="NI"/>
                        <enumeration value="NE"/>
                        <enumeration value="NG"/>
                        <enumeration value="NU"/>
                        <enumeration value="NF"/>
                        <enumeration value="MK"/>
                        <enumeration value="MP"/>
                        <enumeration value="NO"/>
                        <enumeration value="OM"/>
                        <enumeration value="PK"/>
                        <enumeration value="PW"/>
                        <enumeration value="PA"/>
                        <enumeration value="PG"/>
                        <enumeration value="PY"/>
                        <enumeration value="PE"/>
                        <enumeration value="PH"/>
                        <enumeration value="PN"/>
                        <enumeration value="PL"/>
                        <enumeration value="PT"/>
                        <enumeration value="PR"/>
                        <enumeration value="QA"/>
                        <enumeration value="RE"/>
                        <enumeration value="RO"/>
                        <enumeration value="RU"/>
                        <enumeration value="RW"/>
                        <enumeration value="BL"/>
                        <enumeration value="KN"/>
                        <enumeration value="LC"/>
                        <enumeration value="MF"/>
                        <enumeration value="PM"/>
                        <enumeration value="VC"/>
                        <enumeration value="WS"/>
                        <enumeration value="SM"/>
                        <enumeration value="ST"/>
                        <enumeration value="SA"/>
                        <enumeration value="SN"/>
                        <enumeration value="RS"/>
                        <enumeration value="SC"/>
                        <enumeration value="SL"/>
                        <enumeration value="SG"/>
                        <enumeration value="SX"/>
                        <enumeration value="SK"/>
                        <enumeration value="SI"/>
                        <enumeration value="SB"/>
                        <enumeration value="SO"/>
                        <enumeration value="ZA"/>
                        <enumeration value="GS"/>
                        <enumeration value="SS"/>
                        <enumeration value="ES"/>
                        <enumeration value="LK"/>
                        <enumeration value="SD"/>
                        <enumeration value="SR"/>
                        <enumeration value="SJ"/>
                        <enumeration value="SE"/>
                        <enumeration value="CH"/>
                        <enumeration value="SY"/>
                        <enumeration value="TJ"/>
                        <enumeration value="TH"/>
                        <enumeration value="TL"/>
                        <enumeration value="TG"/>
                        <enumeration value="TK"/>
                        <enumeration value="TO"/>
                        <enumeration value="TT"/>
                        <enumeration value="TN"/>
                        <enumeration value="TR"/>
                        <enumeration value="TM"/>
                        <enumeration value="TC"/>
                        <enumeration value="TV"/>
                        <enumeration value="UG"/>
                        <enumeration value="UA"/>
                        <enumeration value="AE"/>
                        <enumeration value="GB"/>
                        <enumeration value="US"/>
                        <enumeration value="UM"/>
                        <enumeration value="UY"/>
                        <enumeration value="UZ"/>
                        <enumeration value="VU"/>
                        <enumeration value="VE"/>
                        <enumeration value="VN"/>
                        <enumeration value="VG"/>
                        <enumeration value="VI"/>
                        <enumeration value="WF"/>
                        <enumeration value="EH"/>
                        <enumeration value="YE"/>
                        <enumeration value="ZM"/>
                        <enumeration value="ZW"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre pour compléter les informations de localisation</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element name="id" type="string">
                <annotation>
                    <documentation>Identifiant technique unique de l'alerte. Il doit pouvoir être généré automatiquement par le système émetteur et ne doit pas avoir de signification / utilisation particulière par les différents systèmes pour garantir leur découplage.
Voir la description de l'identifiant de l'affaire pour voir le format.
Lorsqu’une alerte est générée dans NexSIS et crée une affaire, elle est qualifiée d’Alerte Initiale.
a)	Si cette dernière concerne un partenaire (caractère médical pour la Santé par exemple), elle est relayée seule dans le message. Il y’a un seul objet initialAlert.
b)	Sinon, une autre alerte liée à la même affaire peut être déclarée ultérieurement, concernant cette fois le partenaire. Lorsqu’elle est déclarée cette Nouvelle Alerte est relayée avec l’Alerte Initiale pour partager un contexte commun. Dans le message de création d’affaire il y’a deux objets alerte : initialAlert et newAlert.
Le rattachement des messages à une affaire doivent s'appuyer sur les caseId et non les alertId qui peuvent varier d'un système à l'autre.</documentation>
                </annotation>
            </element>
            <element name="reception" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de réception de l'alerte</documentation>
                </annotation>
            </element>
            <element name="reporting">
                <annotation>
                    <documentation>Permet d'attirer l'attention des forces partenaires sur une affaire pour le faire sortir du lot.
Eventuellement automatisé en fonction des critères saisis et de leur paramétrage, ou renseigné par l'opérateur. 
Prend les valeurs définies dans la nomenclature CISU :
- standard : STANDARD
- signalé : ATTENTION
Les systèmes peuvent proposer des fonctionnalités faisant ressortir les dossiers avec le libellé ATTENTION</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="STANDARD"/>
                        <enumeration value="ATTENTION"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Texte libre permettant de donner des informations supplémentaires concernant l'alerte.</documentation>
                </annotation>
            </element>
            <element name="caller" type="x:caller"/>
            <element name="alertSource" type="x:contactSource"/>
            <element name="location" type="x:location"/>
            <element name="qualification" type="x:qualification"/>
            <element name="callTaker" type="x:callTaker"/>
            <element maxOccurs="unbounded" minOccurs="0" name="attachment" type="x:attachment"/>
        </sequence>
    </complexType>
    <complexType name="operator">
        <sequence>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
            <element minOccurs="0" name="id" type="string">
                <annotation>
                    <documentation>Identifiant professionnel de l'opérateur si existant</documentation>
                </annotation>
            </element>
            <element name="role" type="string">
                <annotation>
                    <documentation>Rôle de l'opérateur au sein de l'entité émettrice du message</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="patient">
        <sequence>
            <element name="id" type="string">
                <annotation>
                    <documentation>Identifiant technique du patient pour permettre les rapprochements d'infos. Le 1er qui créé l'ID patient a raison.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="file" type="x:file"/>
            <element minOccurs="0" name="identity" type="x:insIdentity"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="detail" type="x:patientDetail"/>
            <element minOccurs="0" name="hypothesis" type="x:hypothesis"/>
            <element minOccurs="0" name="resourceDiagnosis" type="x:resourceDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="medicalNote">
        <sequence>
            <element minOccurs="0" name="id" type="string">
                <annotation>
                    <documentation>ID partagé du patient concerné, lorsque le patient existe et est identifié</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="operator" type="x:operator"/>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de création de l'interrogatoire.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="freetext" type="string">
                <annotation>
                    <documentation>Observations médicales du professionnel de santé qui réalise l'interrogatoire (texte libre)
Champ à utiliser pour aggréger l'ensemble des antécédents /traitements/allergies du patient si les catégories ne sont pas disctinctes dans le LRM</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="medicalHistory" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les antécédents du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="treatments" type="string">
                <annotation>
                    <documentation>Texte libre  pour décrire les traitements du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="allergies" type="string">
                <annotation>
                    <documentation>Texte libre pour décrire les allergies du patient</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="decision">
        <sequence>
            <element minOccurs="0" name="id" type="string">
                <annotation>
                    <documentation>ID partagé du patient concerné, lorsque le patient existe et est identifié</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de création de la décision.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>Type de décision prise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orientation" type="string">
                <annotation>
                    <documentation>Décision(s) d'orientation prise par le médecin régulateur</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="transportation" type="string"/>
            <element minOccurs="0" name="teamCare" type="string">
                <annotation>
                    <documentation>Type d’équipe (médical, paramédicale, non médicale, standard, incomplete, ...)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="destination" type="x:destination"/>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="whatsHappen">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="locationKind">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="healthMotive">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caseDetails">
        <sequence>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>cf. cycle SI SAMU  : échanger l'état du dossier si le cycle de vie du dossier est implémenté de manière conforme au cycle de vie du dossier SI-SAMU. 
Echanger à minima l'information que le dossier est clôturé.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Programmé"/>
                        <enumeration value="Actif "/>
                        <enumeration value="Achevé"/>
                        <enumeration value="Validé "/>
                        <enumeration value="Clôturé "/>
                        <enumeration value="Classé"/>
                        <enumeration value="Archivé"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>D/DR/DRM si cycle SI-SAMU implémenté</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="D"/>
                        <enumeration value="DR"/>
                        <enumeration value="DRM &#10;NOMENC_TYPEDOS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="attribution" type="string">
                <annotation>
                    <documentation>Décrit le type de professionnel médical à qui le dossier est attribué : Médecin généraliste, médecin urgentiste etc.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="priority" type="string">
                <annotation>
                    <documentation>Décrit la priorité de régulation médicale du dossier : P0, P1, P2, P3</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="victims">
        <sequence>
            <element minOccurs="0" name="count">
                <annotation>
                    <documentation>Indique le nombre de victimes selon la nomenclature du référentiel CISU</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                        <enumeration value="SEVERAL"/>
                        <enumeration value="MANY"/>
                        <enumeration value="UNKNOWN"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="mainVictim">
                <annotation>
                    <documentation>Identifie le type de la principale victime (celle dont l'état de santé provoque le déclenchement de l'envoi des secours). Prend les valeurs du référentiel CISU. Entre dans la détermination des partenaires impliqués par NexSIS.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="INFANT"/>
                        <enumeration value="CHILD"/>
                        <enumeration value="ADULT"/>
                        <enumeration value="SENIOR"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Permet de complémenter en commentaire libre la(les) victime(s)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedAddress">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>Numéro, type et nom de la voie. 
Utilisé pour tout type de voie :  autoroute (PK, nom et sens), voie ferrée, voie navigable…
Obligatoire et seule valeur des détails de l'adresse fournie par NexSIS.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="number" type="string">
                <annotation>
                    <documentation>Numéro dans l'adresse (inclut point kilométrique sur l'autoroute, voie ferrée ou voie navigable). Inclut l'indice de répétition associé au numéro (par exemple bis, a…).</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="wayName" type="x:wayName"/>
        </sequence>
    </complexType>
    <complexType name="city">
        <sequence>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom officiel de la commune actuelle</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="inseeCode">
                <annotation>
                    <documentation>Code INSEE de la commune actuelle sur la base du Code Officiel géographique en vigueur. Obligatoire si le nom de la commune est renseigné.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="detail" type="string">
                <annotation>
                    <documentation>Informations complémentaires permettant de préciser le quartier, lieu-dit, ancienne commune, … ou autre information aidant à préciser l'adresse et notamment gérer les cas de communes fusionnées pour le système émetteur
NB : dans tous les cas, la localisation GPS de la commune doit être fournie afin d'éviter une trop forte ambiguïté</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="access">
        <sequence>
            <element minOccurs="0" name="floor" type="string">
                <annotation>
                    <documentation>Etage </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="roomNumber" type="string">
                <annotation>
                    <documentation>Spécifie numéro d'appartement, de chambre, de bureau</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="interphone" type="string">
                <annotation>
                    <documentation>Indique les informations nécessaires  à l'identification de l'interphone (numéro, nom)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="accessCode" type="string"/>
            <element minOccurs="0" name="elevator" type="string">
                <annotation>
                    <documentation>Indique l'ascenseur ou la cage d'escalier </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="buildingName" type="string">
                <annotation>
                    <documentation>Nom du bâtiment</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="entrance" type="string"/>
            <element minOccurs="0" name="entity" type="string">
                <annotation>
                    <documentation>Nom du service concerné au sein de l'établissement : Infirmerie, service finance, service cardiologie, …</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="phoneNumber" type="decimal">
                <annotation>
                    <documentation>Numéro de téléphone permettant d'accéder au lieu de l'intervention, par exemple : téléphone du secrétariat, téléphone du service administratif ou se trouve le patient/victime.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="geometry">
        <sequence>
            <element name="obsDatime" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de renseignement des coordonnées du point clé de la localisation. Permet de connaître la fraîcheur et donc pertinence des informations pour intervenir.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="point" type="x:point"/>
            <element minOccurs="0" name="sketch" type="string">
                <annotation>
                    <documentation>Objet gml (équivalent xml du geojson). Le langage GML permet de décrire une forme dans un système de projection donné. 
Dans le cas d'une alerte donnée sur une zone géographique non précise (par exemple une section d'autoroute ou une zone sur un chemin de randonnée), une indication sur la zone de recherche peut être fournie.
En XML, un objet gml est encapsulé dans une balise &lt;sketch xmlns:gml='http://www.opengis.net/gml' version='1.0' &gt; &lt;/sketch&gt;
En JSON, les balises sont reprises depuis le modèle gml
Voir http://www.opengis.net/gml pour le format de l'objet sketch</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>Système fournissant le localisant :  NexSiS ou l'ORG_ID (BAN, IGN, ...)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NexSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="type">
                <annotation>
                    <documentation>Définition du type d'objet dans le système
Ex : SIG NexSIS / OSM ont plusieurs types de données -&gt; savoir du quel on parle (POI, tronçon de route, …) pour faciliter le filtre | Aussi table dans une base de données</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUAL"/>
                        <enumeration value="MAP"/>
                        <enumeration value="OTHER"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="WEBSIT"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant unique dans le type. Exemple : UUID d'un ega</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="wayName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>Type et nom de la voie (venant d'un référentiel ou non)
Si les champs type et name sont renseignés, le champ callerName doit être valorisé ainsi : "{type} {nom}".</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="type" type="string"/>
            <element minOccurs="0" name="name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="point">
        <sequence>
            <element name="coord" type="x:coord"/>
            <element minOccurs="0" name="sysCoord" type="string">
                <annotation>
                    <documentation>Indique le type de coordonnées utilisé. Actuellement, la seule valeur valide est «EPSG-4326», indiquant l'utilisation de WGS-84. Si ce champ n'est pas renseigné, on considère que la valeur par défaut est «».</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>Latitude du point clé de la localisation </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>Longitude du point clé de la localisation</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>Altitude du point clé de la localisation, en mètre, ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="heading" type="decimal">
                <annotation>
                    <documentation>En degré</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="speed" type="decimal">
                <annotation>
                    <documentation>Vitesse en km/h, notamment fournie par eCall, tel, nouveau AML, …</documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
CITY=Précision à l'échelle de la ville, STREET=Précision à l'échelle de la rue, ADDRESS=Adresse précise, EXACT=Point coordonnée GPS exact, UNKNOWN=Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CITY"/>
                        <enumeration value="STREET"/>
                        <enumeration value="ADDRESS"/>
                        <enumeration value="EXACT"/>
                        <enumeration value="UNKNOWN"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="caller">
        <sequence>
            <element minOccurs="0" name="callerContact" type="x:contact"/>
            <element minOccurs="0" name="callbackContact" type="x:contact"/>
            <element minOccurs="0" name="language">
                <annotation>
                    <documentation>Langue parlée par le requérant. Permet de mettre en place des traducteurs si besoin. Utilise la nomenclature LANGUE du SI-SAMU.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AF"/>
                        <enumeration value="AX"/>
                        <enumeration value="AL"/>
                        <enumeration value="DZ"/>
                        <enumeration value="AS"/>
                        <enumeration value="AD"/>
                        <enumeration value="AO"/>
                        <enumeration value="AI"/>
                        <enumeration value="AQ"/>
                        <enumeration value="AG"/>
                        <enumeration value="AR"/>
                        <enumeration value="AM"/>
                        <enumeration value="AW"/>
                        <enumeration value="AU"/>
                        <enumeration value="AT"/>
                        <enumeration value="AZ"/>
                        <enumeration value="BS"/>
                        <enumeration value="BH"/>
                        <enumeration value="BD"/>
                        <enumeration value="BB"/>
                        <enumeration value="BY"/>
                        <enumeration value="BE"/>
                        <enumeration value="BZ"/>
                        <enumeration value="BJ"/>
                        <enumeration value="BM"/>
                        <enumeration value="BT"/>
                        <enumeration value="BO"/>
                        <enumeration value="BA"/>
                        <enumeration value="BW"/>
                        <enumeration value="BV"/>
                        <enumeration value="BR"/>
                        <enumeration value="IO"/>
                        <enumeration value="BN"/>
                        <enumeration value="BG"/>
                        <enumeration value="BF"/>
                        <enumeration value="BI"/>
                        <enumeration value="CV"/>
                        <enumeration value="KH"/>
                        <enumeration value="CM"/>
                        <enumeration value="CA"/>
                        <enumeration value="KY"/>
                        <enumeration value="CF"/>
                        <enumeration value="TD"/>
                        <enumeration value="CL"/>
                        <enumeration value="CN"/>
                        <enumeration value="CX"/>
                        <enumeration value="CC"/>
                        <enumeration value="CO"/>
                        <enumeration value="KM"/>
                        <enumeration value="CG"/>
                        <enumeration value="CK"/>
                        <enumeration value="CR"/>
                        <enumeration value="CI"/>
                        <enumeration value="HR"/>
                        <enumeration value="CU"/>
                        <enumeration value="CW"/>
                        <enumeration value="CY"/>
                        <enumeration value="CZ"/>
                        <enumeration value="DK"/>
                        <enumeration value="DJ"/>
                        <enumeration value="DM"/>
                        <enumeration value="DO"/>
                        <enumeration value="EC"/>
                        <enumeration value="EG"/>
                        <enumeration value="SV"/>
                        <enumeration value="GQ"/>
                        <enumeration value="ER"/>
                        <enumeration value="EE"/>
                        <enumeration value="SZ"/>
                        <enumeration value="ET"/>
                        <enumeration value="FK"/>
                        <enumeration value="FO"/>
                        <enumeration value="FJ"/>
                        <enumeration value="FI"/>
                        <enumeration value="FR"/>
                        <enumeration value="GF"/>
                        <enumeration value="PF"/>
                        <enumeration value="TF"/>
                        <enumeration value="GA"/>
                        <enumeration value="GM"/>
                        <enumeration value="GE"/>
                        <enumeration value="DE"/>
                        <enumeration value="GH"/>
                        <enumeration value="GI"/>
                        <enumeration value="GR"/>
                        <enumeration value="GL"/>
                        <enumeration value="GD"/>
                        <enumeration value="GP"/>
                        <enumeration value="GU"/>
                        <enumeration value="GT"/>
                        <enumeration value="GG"/>
                        <enumeration value="GN"/>
                        <enumeration value="GW"/>
                        <enumeration value="GY"/>
                        <enumeration value="HT"/>
                        <enumeration value="HM"/>
                        <enumeration value="VA"/>
                        <enumeration value="HN"/>
                        <enumeration value="HK"/>
                        <enumeration value="HU"/>
                        <enumeration value="IS"/>
                        <enumeration value="IN"/>
                        <enumeration value="ID"/>
                        <enumeration value="IR"/>
                        <enumeration value="IQ"/>
                        <enumeration value="IE"/>
                        <enumeration value="IM"/>
                        <enumeration value="IL"/>
                        <enumeration value="IT"/>
                        <enumeration value="JM"/>
                        <enumeration value="JP"/>
                        <enumeration value="JE"/>
                        <enumeration value="JO"/>
                        <enumeration value="KZ"/>
                        <enumeration value="KE"/>
                        <enumeration value="KI"/>
                        <enumeration value="KP"/>
                        <enumeration value="KW"/>
                        <enumeration value="KG"/>
                        <enumeration value="LA"/>
                        <enumeration value="LV"/>
                        <enumeration value="LB"/>
                        <enumeration value="LS"/>
                        <enumeration value="LR"/>
                        <enumeration value="LY"/>
                        <enumeration value="LI"/>
                        <enumeration value="LT"/>
                        <enumeration value="LU"/>
                        <enumeration value="MO"/>
                        <enumeration value="MG"/>
                        <enumeration value="MW"/>
                        <enumeration value="MY"/>
                        <enumeration value="MV"/>
                        <enumeration value="ML"/>
                        <enumeration value="MT"/>
                        <enumeration value="MH"/>
                        <enumeration value="MQ"/>
                        <enumeration value="MR"/>
                        <enumeration value="MU"/>
                        <enumeration value="YT"/>
                        <enumeration value="MX"/>
                        <enumeration value="FM"/>
                        <enumeration value="MC"/>
                        <enumeration value="MN"/>
                        <enumeration value="ME"/>
                        <enumeration value="MS"/>
                        <enumeration value="MA"/>
                        <enumeration value="MZ"/>
                        <enumeration value="MM"/>
                        <enumeration value="NA"/>
                        <enumeration value="NR"/>
                        <enumeration value="NP"/>
                        <enumeration value="NL"/>
                        <enumeration value="NC"/>
                        <enumeration value="NZ"/>
                        <enumeration value="NI"/>
                        <enumeration value="NE"/>
                        <enumeration value="NG"/>
                        <enumeration value="NU"/>
                        <enumeration value="NF"/>
                        <enumeration value="MK"/>
                        <enumeration value="MP"/>
                        <enumeration value="NO"/>
                        <enumeration value="OM"/>
                        <enumeration value="PK"/>
                        <enumeration value="PW"/>
                        <enumeration value="PA"/>
                        <enumeration value="PG"/>
                        <enumeration value="PY"/>
                        <enumeration value="PE"/>
                        <enumeration value="PH"/>
                        <enumeration value="PN"/>
                        <enumeration value="PL"/>
                        <enumeration value="PT"/>
                        <enumeration value="PR"/>
                        <enumeration value="QA"/>
                        <enumeration value="RE"/>
                        <enumeration value="RO"/>
                        <enumeration value="RU"/>
                        <enumeration value="RW"/>
                        <enumeration value="BL"/>
                        <enumeration value="KN"/>
                        <enumeration value="LC"/>
                        <enumeration value="MF"/>
                        <enumeration value="PM"/>
                        <enumeration value="VC"/>
                        <enumeration value="WS"/>
                        <enumeration value="SM"/>
                        <enumeration value="ST"/>
                        <enumeration value="SA"/>
                        <enumeration value="SN"/>
                        <enumeration value="RS"/>
                        <enumeration value="SC"/>
                        <enumeration value="SL"/>
                        <enumeration value="SG"/>
                        <enumeration value="SX"/>
                        <enumeration value="SK"/>
                        <enumeration value="SI"/>
                        <enumeration value="SB"/>
                        <enumeration value="SO"/>
                        <enumeration value="ZA"/>
                        <enumeration value="GS"/>
                        <enumeration value="SS"/>
                        <enumeration value="ES"/>
                        <enumeration value="LK"/>
                        <enumeration value="SD"/>
                        <enumeration value="SR"/>
                        <enumeration value="SJ"/>
                        <enumeration value="SE"/>
                        <enumeration value="CH"/>
                        <enumeration value="SY"/>
                        <enumeration value="TJ"/>
                        <enumeration value="TH"/>
                        <enumeration value="TL"/>
                        <enumeration value="TG"/>
                        <enumeration value="TK"/>
                        <enumeration value="TO"/>
                        <enumeration value="TT"/>
                        <enumeration value="TN"/>
                        <enumeration value="TR"/>
                        <enumeration value="TM"/>
                        <enumeration value="TC"/>
                        <enumeration value="TV"/>
                        <enumeration value="UG"/>
                        <enumeration value="UA"/>
                        <enumeration value="AE"/>
                        <enumeration value="GB"/>
                        <enumeration value="US"/>
                        <enumeration value="UM"/>
                        <enumeration value="UY"/>
                        <enumeration value="UZ"/>
                        <enumeration value="VU"/>
                        <enumeration value="VE"/>
                        <enumeration value="VN"/>
                        <enumeration value="VG"/>
                        <enumeration value="VI"/>
                        <enumeration value="WF"/>
                        <enumeration value="EH"/>
                        <enumeration value="YE"/>
                        <enumeration value="ZM"/>
                        <enumeration value="ZW"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type" type="string">
                <annotation>
                    <documentation>Indique la relation du requérant avec l'incident / le patient / la victime</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="communication" type="string">
                <annotation>
                    <documentation>Indique si le requérant rencontre ou non des difficulté de communication</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le requérant 
Les informations peuvent être passées sous forme de texte libre ou via une liste d'adjectif</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="contactSource">
        <sequence>
            <element name="channel" type="string">
                <annotation>
                    <documentation>Permet d'indiquer l'origine du canal établit : Personne, application, DAU, BAU, défibrillateur, ecall</documentation>
                </annotation>
            </element>
            <element name="type">
                <annotation>
                    <documentation>Type de l'URI utilisée par la source, cf. nomenclature EMSI</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PSTADD"/>
                        <enumeration value="EMLADD"/>
                        <enumeration value="IPADD"/>
                        <enumeration value="FTPADD"/>
                        <enumeration value="WWWADD"/>
                        <enumeration value="PHNADD"/>
                        <enumeration value="FAXADD"/>
                        <enumeration value="PMRADD"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>Valeur de l'URI utilisée par la source</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="callTaker">
        <sequence>
            <element name="organization" type="string">
                <annotation>
                    <documentation>Décrit la structure ou le service à laquelle est rattachée l'agent (en fonction du niveau de précision disponible).
Se référer au DSF pour la structure normée des organisations.
Le format est le suivant {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*.</documentation>
                </annotation>
            </element>
            <element name="controlRoom" type="string">
                <annotation>
                    <documentation>Décrit le centre d'appel auquel est rattaché l'agent</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="role" type="string">
                <annotation>
                    <documentation>Décrit le rôle de l'agent au sein du service selon la nomenclature PERSO (nomenclature SI-SAMU)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="calltakerContact" type="x:contact"/>
            <element minOccurs="0" name="calltakerId" type="string">
                <annotation>
                    <documentation>Identifiant unique de l'opérateur ayant traité l'alerte (peut être un identifiant technique, un numéro de carte CPS etc)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="attachment">
        <sequence>
            <element minOccurs="0" name="description" type="string">
                <annotation>
                    <documentation>Décrit la ressource en précisant le type et le contenu, tels que «carte» ou «photo»</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="mimeType" type="string">
                <annotation>
                    <documentation>L'identifiant du type MIME de contenu et sous-type décrivant la ressource</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="size" type="int">
                <annotation>
                    <documentation>Taille approximative de la ressource en kO</documentation>
                </annotation>
            </element>
            <element name="URI" type="string">
                <annotation>
                    <documentation>Une URI, généralement une URL, qui permet d'atteindre la ressource sur Internet ou sur un réseau privé
Nous suggérons d'employer le format suivant de regex (https?|ftp|file):\/\/([\w-]+(\.[\w-]+)*)(\/[\w\-\.]*)*\/?(\?[^\s]*)?</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="derefURI" type="string">
                <annotation>
                    <documentation>Peut être utilisé à la place de l'élément 'URI' pour envoyer la ressource encodée en base64 pour éviter des problèmes de transcodage (sur des double quotes qui casseraient le message, …)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="digest" type="string">
                <annotation>
                    <documentation>Hash de la ressource pour confirmer la réception de la bonne ressource
La ressource est hashée avec le protocole SHA-256</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element name="type">
                <annotation>
                    <documentation>Type de l'URI utilisée par le requérant, cf. nomenclature EMSI</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PSTADD"/>
                        <enumeration value="EMLADD"/>
                        <enumeration value="IPADD"/>
                        <enumeration value="FTPADD"/>
                        <enumeration value="WWWADD"/>
                        <enumeration value="PHNADD"/>
                        <enumeration value="FAXADD"/>
                        <enumeration value="PMRADD"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="detail" type="string">
                <annotation>
                    <documentation>Valeur de l'URI utilisée pour contacter le partenaire</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>Prénom et nom usuel du requérant.
Si les champs callerLastName et callerFirstName sont renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".
Note : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>Nom du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>Prénom du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="file">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalId" type="x:externalId"/>
            <element maxOccurs="unbounded" minOccurs="0" name="contact" type="x:contact"/>
            <element minOccurs="0" name="personalAddress" type="x:personalAddress"/>
            <element minOccurs="0" name="generalPractitioner" type="x:generalPractitioner"/>
        </sequence>
    </complexType>
    <complexType name="insIdentity">
        <sequence>
            <element minOccurs="0" name="cycle" type="x:insCycle"/>
            <element minOccurs="0" name="number" type="x:insNumber"/>
            <element minOccurs="0" name="strictFeatures" type="x:insStrictFeatures"/>
            <element minOccurs="0" name="nonStrictFeatures" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="patientDetail">
        <sequence>
            <element minOccurs="0" name="weight" type="int">
                <annotation>
                    <documentation>Poids en kilogrammes</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="int">
                <annotation>
                    <documentation>Taille en centimètres</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="age">
                <annotation>
                    <documentation>Age du patient.
Au format Durée de la norme ISO 8601 (https://fr.wikipedia.org/wiki/ISO_8601#Dur%C3%A9e) en n'utilisant qu'une seule unité de durée (années, mois, semaines ou jours)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="P[0-9]{1,3}[YMWD]"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel" type="string"/>
        </sequence>
    </complexType>
    <complexType name="hypothesis">
        <sequence>
            <element minOccurs="0" name="mainDiagnosis" type="x:mainDiagnosis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="otherDiagnosis" type="x:otherDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="resourceDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NIR"/>
                        <enumeration value="SINUS"/>
                        <enumeration value="SI-VIC"/>
                        <enumeration value="DOSSARD"/>
                        <enumeration value="PLACE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="personalAddress">
        <sequence>
            <element minOccurs="0" name="detailedAddress" type="x:detailedAddress"/>
            <element minOccurs="0" name="city" type="x:city"/>
        </sequence>
    </complexType>
    <complexType name="generalPractitioner">
        <sequence>
            <element name="detailedName" type="x:detailedName"/>
            <element minOccurs="0" name="id" type="string">
                <annotation>
                    <documentation>Numéro RPPS du médecin traitant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="personalAddress" type="x:personalAddress"/>
            <element maxOccurs="unbounded" minOccurs="0" name="contact" type="x:contact"/>
        </sequence>
    </complexType>
    <complexType name="insCycle">
        <sequence>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>Le RNIV exige que les logiciels référentiels d’identités gèrent les 4 statuts fonctionnels suivants :
- « identité provisoire »,
- « identité récupérée »,
- « identité validée »,
- « identité qualifiée ».
Ces statuts fonctionnels sont exclusifs les uns des autres. Le référentiel INS [EXI 18] précise en outre que le matricule INS et l’OID doivent être accompagnés d’informations confirmant qu’ils ont été qualifiés.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Provisoire"/>
                        <enumeration value="Validée"/>
                        <enumeration value="Récupérée"/>
                        <enumeration value="Qualifiée"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="attribute">
                <annotation>
                    <documentation>Le RNIV recommande que les logiciels référentiels d’identités gèrent a minima les 3 attributs suivants :
- identité homonyme,
- identité douteuse,
- identité fictive.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Homonyme"/>
                        <enumeration value="Fictive"/>
                        <enumeration value="Douteuse"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="insNumber">
        <sequence>
            <element minOccurs="0" name="value" type="string">
                <annotation>
                    <documentation>n° NIR OU n° NIA de l'individu. Le matricule INS (et son OID) ne doit jamais être propagé (= échangé) si l'identité est à un statut autre que qualifiée. Il correspond au numéro personnel de sécurité sociale. Il peut être différent du numéro de sécurité sociale utilisé pour le remboursement des soins par l’assurance maladie, dans le cas par exemple où l’usager n’est pas l’assuré social (ex.: l’enfant qui est rattaché à l’un de ses parents).
Le matricule INS est composé des 13 caractères et de la clé de contrôle. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="oid" type="string">
                <annotation>
                    <documentation>Identifiant de la structure qui a affecté l’INS sous la forme d'un OID. Les OID (Object Identifier) sont des identifiants universels, représentés sous la forme d'une suite d'entiers. Ils sont organisés sous forme hiérarchique avec des nœuds. L'OID est toujours associé à un matricule INS, il n'est donc pas propagé si le statut de l'identité n'est pas "qualifiée"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="insStrictFeatures">
        <sequence>
            <element minOccurs="0" name="birthName" type="string">
                <annotation>
                    <documentation>Egalement appelé nom de famille.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthFirstName" type="string">
                <annotation>
                    <documentation>Doit être cohérent avec la liste des prénoms de naissance renvoyée par INSi. Ex: si la liste des prénoms renvoyée est "Pierre Alain Jacques", le premier prénom de naissance ne peut être que : 
Pierre
Pierre Alain
Pierre Alain Jacques</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthFirstNamesList" type="string">
                <annotation>
                    <documentation>Ensemble des prénoms de naissance (renvoyés par INSi)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDate">
                <annotation>
                    <documentation>Date de naissance du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\d{4}-\d{2}-\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="sex" type="string">
                <annotation>
                    <documentation>Sexe du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthPlaceCode" type="decimal">
                <annotation>
                    <documentation>Il s’agit de la commune de naissance pour les personnes nées en France et du pays de naissance pour les personnes nées à l’étranger. Utilisation du code INSEE (différent du code postal), auquel est associé le nom de la commune ou du pays correspondant.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="mainDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="otherDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec un code la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut directement afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Commentaire libre permettant de passer des informations complémentaires associées à la nomenclature</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="destination">
        <sequence>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>Indique le type de destination de la ressource : service d’urgences d’un Etablissement de santé, autres services d’un établissement de santé, cabinet d’un professionnel de santé, domicile personnel, EPHAD ou long séjour, autre</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="service d’urgences d’un Etablissement de santé"/>
                        <enumeration value="autres services d’un établissement de santé"/>
                        <enumeration value="cabinet d’un professionnel de santé"/>
                        <enumeration value="domicile personnel"/>
                        <enumeration value="EPHAD ou long séjour"/>
                        <enumeration value="autre"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="facility" type="string">
                <annotation>
                    <documentation>Nom de l'établissement</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="adminFiness" type="string">
                <annotation>
                    <documentation>N° Finess administratif de l'établissement</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="geoFiness" type="string">
                <annotation>
                    <documentation>N° Finess géographique de l'établissement</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="service" type="string">
                <annotation>
                    <documentation>Service concerné par l'admission du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string"/>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>Nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>Libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>Valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de ce matching additionnel</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
