src/main/resources/xsd/RS-ER.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:resourcesengagement" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:resourcesengagement" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="resourcesEngagement" type="x:resourcesEngagement"/>
    <complexType name="resourcesEngagement">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="resource" type="x:resource"/>
        </sequence>
    </complexType>
    <complexType name="resource">
        <sequence>
            <element name="vehicleType">
                <annotation>
                    <documentation>A valoriser avec le type de vecteur mobilisé : cf. nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AASC"/>
                        <enumeration value="AASC.VLSC"/>
                        <enumeration value="AASC.VPSP"/>
                        <enumeration value="AASC.AUTRESC"/>
                        <enumeration value="AUTREVEC"/>
                        <enumeration value="AUTREVEC.APIED"/>
                        <enumeration value="AUTREVEC.AVION"/>
                        <enumeration value="AUTREVEC.PERSO"/>
                        <enumeration value="AUTREVEC.TAXI"/>
                        <enumeration value="AUTREVEC.TRAIN"/>
                        <enumeration value="AUTREVEC.TRANSP"/>
                        <enumeration value="AUTREVEC.AUTRE"/>
                        <enumeration value="AUTREVEC.AUTRETRA"/>
                        <enumeration value="FSI"/>
                        <enumeration value="FSI.HELIFSI"/>
                        <enumeration value="FSI.VLFSI"/>
                        <enumeration value="FSI.FFSI"/>
                        <enumeration value="FSI.VHFSI"/>
                        <enumeration value="LIB"/>
                        <enumeration value="LIB.MEDV"/>
                        <enumeration value="LIB.INF"/>
                        <enumeration value="LIB.AUTREPRO"/>
                        <enumeration value="SIS"/>
                        <enumeration value="SIS.DRAGON"/>
                        <enumeration value="SIS.AVSC"/>
                        <enumeration value="SIS.FEUSIS"/>
                        <enumeration value="SIS.GRIMP"/>
                        <enumeration value="SIS.NAVISIS"/>
                        <enumeration value="SIS.PCSIS"/>
                        <enumeration value="SIS.SRSIS"/>
                        <enumeration value="SIS.VCH"/>
                        <enumeration value="SIS.VLCG"/>
                        <enumeration value="SIS.VLISP"/>
                        <enumeration value="SIS.VLMSP"/>
                        <enumeration value="SIS.VLSIS"/>
                        <enumeration value="SIS.VPL"/>
                        <enumeration value="SIS.VPMA"/>
                        <enumeration value="SIS.VR"/>
                        <enumeration value="SIS.VSAV"/>
                        <enumeration value="SIS.MOYSSE"/>
                        <enumeration value="SIS.AUTRESIS"/>
                        <enumeration value="SMUR"/>
                        <enumeration value="SMUR.VLM"/>
                        <enumeration value="SMUR.VL"/>
                        <enumeration value="SMUR.PSM1"/>
                        <enumeration value="SMUR.PSM2"/>
                        <enumeration value="SMUR.PSM3"/>
                        <enumeration value="SMUR.PSMP"/>
                        <enumeration value="SMUR.VPC"/>
                        <enumeration value="SMUR.AR"/>
                        <enumeration value="SMUR.AR-BAR"/>
                        <enumeration value="SMUR.AR-PED"/>
                        <enumeration value="SMUR.HELISMUR"/>
                        <enumeration value="SMUR.HELISAN"/>
                        <enumeration value="SMUR.AVSMUR"/>
                        <enumeration value="SMUR.AVSAN"/>
                        <enumeration value="SMUR.NAVISMUR"/>
                        <enumeration value="TSU"/>
                        <enumeration value="TSU.VSL"/>
                        <enumeration value="TSU.AMB-GV"/>
                        <enumeration value="TSU.AMB-PV"/>
                        <enumeration value="TSU.AMB-BAR"/>
                        <enumeration value="TSU.AMB"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom donné à la ressource par l’organisation d’appartenance</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="team" type="x:team"/>
            <element maxOccurs="unbounded" minOccurs="0" name="freetext" type="string"/>
        </sequence>
    </complexType>
    <complexType name="team">
        <sequence>
            <element minOccurs="0" name="medicalLevel">
                <annotation>
                    <documentation>A valoriser avec le  niveau de médicalisation du vecteur. Cf. nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MED"/>
                        <enumeration value="PARAMED"/>
                        <enumeration value="SECOURS"/>
                        <enumeration value="SANS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'équipe à bord du vecteur (celui communiqué par l'organisation à laquelle l'équipe appartient)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
