src/main/resources/xsd/RS-EDA-MAJ.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:cisu:2.0:createCaseHealthUpdate" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0:createCaseHealthUpdate" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createCaseHealthUpdate" type="x:createCaseHealthUpdate"/>
    <complexType name="createCaseHealthUpdate">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>Identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="fr(\.[\w-]+){3}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="senderCaseId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro du dossier dans le SI de l'émetteur du message.
</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="perimeter">
                <annotation>
                    <documentation>Sert à indiquer à quelle filière du CRRA destinataire le dossier doit être adressé/affiché, lorsque celle-ci est spécifique ou dédiée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMU"/>
                        <enumeration value="NEONAT"/>
                        <enumeration value="PSY"/>
                        <enumeration value="SNP"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="qualification" type="x:qualification"/>
            <element minOccurs="0" name="location" type="x:location"/>
            <element minOccurs="0" name="initialAlert" type="x:alert"/>
            <element minOccurs="0" name="owner">
                <annotation>
                    <documentation>Attribut qui permet de transférer la prise en charge d'un dossier à un autre CRAA
A valoriser avec l'identifiant de l'organisation concerné (orgId = {pays}.{domaine}.{organisation})</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="fr(\.[\w-]+){2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="patient" type="x:patient"/>
            <element maxOccurs="unbounded" minOccurs="0" name="medicalNote" type="x:medicalNote"/>
            <element maxOccurs="unbounded" minOccurs="0" name="decision" type="x:decision"/>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de concaténer en une seule note toutes les autres valeurs modifiées dans le dossier, ne figurant pas de manière structurée dans le RS-EDA-MAJ.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="additionalInformation" type="x:additionalInformation"/>
        </sequence>
    </complexType>
    <complexType name="qualification">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="riskThreat" type="x:riskThreat"/>
            <element minOccurs="0" name="details" type="x:caseDetails"/>
        </sequence>
    </complexType>
    <complexType name="location">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalInfo" type="x:externalInfo"/>
        </sequence>
    </complexType>
    <complexType name="alert">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="notes" type="x:notes"/>
        </sequence>
    </complexType>
    <complexType name="patient">
        <sequence>
            <element name="idPat">
                <annotation>
                    <documentation>Identifiant partagé du patient, généré une seule fois par le système du partenaire qui créé le patient.
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}


</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([\w-]+\.){3}patient(\.[\w-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="administrativeFile" type="x:administrativeFile"/>
            <element minOccurs="0" name="identity" type="x:Identity"/>
            <element minOccurs="0" name="healthMotive" type="x:healthMotive"/>
            <element minOccurs="0" name="detail" type="x:patientDetail"/>
            <element minOccurs="0" name="hypothesis" type="x:hypothesis"/>
        </sequence>
    </complexType>
    <complexType name="medicalNote">
        <sequence>
            <element minOccurs="0" name="idPat">
                <annotation>
                    <documentation>Identifiant partagé du patient concerné par l'observation, a remplir obligatoirement si ce patient existe et est identifié dans le système emetteur, 

Valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([\w-]+\.){3}patient(\.[\w-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="operator" type="x:operator"/>
            <element minOccurs="0" name="idObs">
                <annotation>
                    <documentation>Identifiant partagé de l'observation, généré une seule fois par le système du partenaire qui créé l'observation
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.medicalNote.{ID unique de l’observation dans le système émetteur}

OU - uniquement dans le cas où un ID unique de la note n'est pas disponible dans le système : 
{OrgId émetteur}.medicalNote.{senderCaseId}.{numéro chronologique de l’observation}

Cet identifiant a vocation à devenir obligatoire pour permettre les mises à jour, il est laissé en facultatif temporairement.
</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([\w-]+\.){3}medicalNote(\.[\w-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'observation.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="freetext" type="string">
                <annotation>
                    <documentation>Champ libre qui permet de compléter les informations de nature médicales, faites par un ARM, un médecin ou un autre professionnel de santé.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="decision">
        <sequence>
            <element minOccurs="0" name="idPat" type="string">
                <annotation>
                    <documentation>ID partagé du patient concerné par la décision, lorsque le patient existe et est identifié</documentation>
                </annotation>
            </element>
            <element name="creation" type="dateTime">
                <annotation>
                    <documentation>Groupe date heure de création de la décision.  L'indicateur de fuseau horaire Z ne doit pas être utilisé.</documentation>
                </annotation>
            </element>
            <element name="type">
                <annotation>
                    <documentation>Type de décision prise</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CONSEIL"/>
                        <enumeration value="PMT"/>
                        <enumeration value="INTER"/>
                        <enumeration value="ORIENT"/>
                        <enumeration value="PASPLUS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="decider" type="x:decider"/>
            <element maxOccurs="unbounded" minOccurs="0" name="engagementDetails" type="x:engagementDetails"/>
            <element maxOccurs="unbounded" minOccurs="0" name="transportDetails" type="x:transportDetails"/>
        </sequence>
    </complexType>
    <complexType name="additionalInformation">
        <sequence>
            <element maxOccurs="3" minOccurs="0" name="customMap" type="x:customMap"/>
        </sequence>
    </complexType>
    <complexType name="riskThreat">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R01"/>
                        <enumeration value="R02"/>
                        <enumeration value="R03"/>
                        <enumeration value="R04"/>
                        <enumeration value="R05"/>
                        <enumeration value="R06"/>
                        <enumeration value="R07"/>
                        <enumeration value="R08"/>
                        <enumeration value="R09"/>
                        <enumeration value="R10"/>
                        <enumeration value="R11"/>
                        <enumeration value="R12"/>
                        <enumeration value="R13"/>
                        <enumeration value="R14"/>
                        <enumeration value="R15"/>
                        <enumeration value="R16"/>
                        <enumeration value="R17"/>
                        <enumeration value="R18"/>
                        <enumeration value="R19"/>
                        <enumeration value="R20"/>
                        <enumeration value="R21"/>
                        <enumeration value="R22"/>
                        <enumeration value="R23"/>
                        <enumeration value="R24"/>
                        <enumeration value="R25"/>
                        <enumeration value="R26"/>
                        <enumeration value="R27"/>
                        <enumeration value="R28"/>
                        <enumeration value="R29"/>
                        <enumeration value="R30"/>
                        <enumeration value="R31"/>
                        <enumeration value="R32"/>
                        <enumeration value="R33"/>
                        <enumeration value="R34"/>
                        <enumeration value="R35"/>
                        <enumeration value="R36"/>
                        <enumeration value="R37"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="caseDetails">
        <sequence>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>A valoriser avec l'état du dossier dans le système émetteur
Spécificité 15-15 : peut être ignoré en réception, partagé à titre indicatif uniquement
Spécificité 15-SMUR : à utiliser à minima pour transmettre le statut CLOTURE à la tablette</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PROGRAMME"/>
                        <enumeration value=" ACTIF"/>
                        <enumeration value="ACHEVE"/>
                        <enumeration value="VALIDE"/>
                        <enumeration value="CLOTURE"/>
                        <enumeration value="CLASSE"/>
                        <enumeration value="ARCHIVE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="priority">
                <annotation>
                    <documentation>Décrit la priorité de régulation médicale du dossier : P0, P1, P2, P3</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="P0"/>
                        <enumeration value="P1"/>
                        <enumeration value="P2"/>
                        <enumeration value="P3"/>
                        <enumeration value="NR"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>Décrit le niveau de soins global du dossier identifié au cours de l'acte de régulation médicale : s'il y a plusieurs niveaux de soins différents pour chaque patient, on indique ici le niveau le plus grave.
cf.nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="externalInfo">
        <sequence>
            <element name="freetext">
                <annotation>
                    <documentation>A valoriser avec le système fournissant le localisant</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="BAN"/>
                        <enumeration value="IGN"/>
                        <enumeration value="NEXSIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec la définition du type d'objet dans le système

Exemple : SIG NexSIS / OSM ont plusieurs types de données (EGA, POI, tronçon de route, …)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MANUEL"/>
                        <enumeration value="CARTE"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="PHOTO"/>
                        <enumeration value="SITE_INTERNET"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="uri" type="string">
                <annotation>
                    <documentation>Identifiant dans le système concerné</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="notes">
        <sequence>
            <element minOccurs="0" name="creation" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec le groupe date heure de création de l'information complémentaire</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>A valoriser avec un texte libre contenant les indications complémentaires renseignées sur l'alerte/appel.

Spécificités 15-15 : cet attribut ne doit pas être valorisé avec des notes à caractère médical, qui serait liée à un interrogatoire ARM ou médecin, ou à un patient en particulier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="administrativeFile">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="externalId" type="x:externalId"/>
        </sequence>
    </complexType>
    <complexType name="Identity">
        <sequence>
            <element minOccurs="0" name="strictFeatures" type="x:insStrictFeatures"/>
            <element minOccurs="0" name="nonStrictFeatures" type="x:detailedName"/>
        </sequence>
    </complexType>
    <complexType name="healthMotive">
        <sequence>
            <element name="code">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="M01.00"/>
                        <enumeration value="M01.01"/>
                        <enumeration value="M01.02"/>
                        <enumeration value="M01.03"/>
                        <enumeration value="M02.00"/>
                        <enumeration value="M02.01"/>
                        <enumeration value="M02.02"/>
                        <enumeration value="M02.03"/>
                        <enumeration value="M02.04"/>
                        <enumeration value="M02.05"/>
                        <enumeration value="M02.06"/>
                        <enumeration value="M02.07"/>
                        <enumeration value="M02.08"/>
                        <enumeration value="M02.09"/>
                        <enumeration value="M02.10"/>
                        <enumeration value="M03.00"/>
                        <enumeration value="M03.01"/>
                        <enumeration value="M03.02"/>
                        <enumeration value="M03.03"/>
                        <enumeration value="M03.04"/>
                        <enumeration value="M03.05"/>
                        <enumeration value="M03.06"/>
                        <enumeration value="M03.07"/>
                        <enumeration value="M03.08"/>
                        <enumeration value="M03.09"/>
                        <enumeration value="M03.10"/>
                        <enumeration value="M03.11"/>
                        <enumeration value="M03.12"/>
                        <enumeration value="M03.13"/>
                        <enumeration value="M03.14"/>
                        <enumeration value="M03.15"/>
                        <enumeration value="M03.16"/>
                        <enumeration value="M03.17"/>
                        <enumeration value="M03.18"/>
                        <enumeration value="M03.19"/>
                        <enumeration value="M03.20"/>
                        <enumeration value="M03.21"/>
                        <enumeration value="M03.22"/>
                        <enumeration value="M04.00"/>
                        <enumeration value="M04.01"/>
                        <enumeration value="M04.02"/>
                        <enumeration value="M04.03"/>
                        <enumeration value="M04.04"/>
                        <enumeration value="M05.00"/>
                        <enumeration value="M05.01"/>
                        <enumeration value="M05.02"/>
                        <enumeration value="M06.00"/>
                        <enumeration value="M06.01"/>
                        <enumeration value="M06.02"/>
                        <enumeration value="M06.03"/>
                        <enumeration value="M06.04"/>
                        <enumeration value="M07.00"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="patientDetail">
        <sequence>
            <element minOccurs="0" name="weight" type="int">
                <annotation>
                    <documentation>A valoriser avec le poids en kilogrammes</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="int">
                <annotation>
                    <documentation>A valoriser avec la taille en centimètres du patient</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="age">
                <annotation>
                    <documentation>A valoriser avec l'age du patient.
Au format "Durée" de la norme ISO 8601 (https://fr.wikipedia.org/wiki/ISO_8601#Dur%C3%A9e) et en n'utilisant qu'une seule unité de durée (années, mois, semaines ou jours)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="P[0-9]{1,3}[YMWD]"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="careLevel">
                <annotation>
                    <documentation>A valoriser avec le niveau de soins spécifique au patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="R1"/>
                        <enumeration value="R2"/>
                        <enumeration value="R3"/>
                        <enumeration value="R4"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="hypothesis">
        <sequence>
            <element minOccurs="0" name="mainDiagnosis" type="x:mainDiagnosis"/>
            <element maxOccurs="unbounded" minOccurs="0" name="otherDiagnosis" type="x:otherDiagnosis"/>
        </sequence>
    </complexType>
    <complexType name="externalId">
        <sequence>
            <element name="source">
                <annotation>
                    <documentation>Type de l'identifiant fourni</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NIR"/>
                        <enumeration value="SINUS"/>
                        <enumeration value="SI-VIC"/>
                        <enumeration value="DOSSARD"/>
                        <enumeration value="PLACE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>L'identifiant en lui-même</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="insStrictFeatures">
        <sequence>
            <element minOccurs="0" name="birthName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de naissance du patient. Egalement appelé nom de famille.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDate">
                <annotation>
                    <documentation>A valoriser avec la date de naissance du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="\d{4}-\d{2}-\d{2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="sex">
                <annotation>
                    <documentation>A valoriser avec le sexe du patient</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MASC"/>
                        <enumeration value="FEM"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="detailedName">
        <sequence>
            <element name="complete" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom et le nom usuel du requérant/appelant.
Si les champs callerLastName et callerFirstName sont également renseignés, le champ callerName doit être valorisé ainsi : "{callerFirstName} {callerLastName}".

Spécificités 15-18  : NexSIS ne dispose que de ces informations (concaténées) et pas de deux champs séparés.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="lastName" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom usuel du requérant</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>A valoriser avec le prénom usuel du réquérant.
Par convention les prénoms composés doivent préférablement être séparés par le caractère "-"</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="mainDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="otherDiagnosis">
        <sequence>
            <element name="code" type="string">
                <annotation>
                    <documentation>A valoriser avec le code de la nomenclature associée</documentation>
                </annotation>
            </element>
            <element name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé de la nomenclature associée.
Dans le cas où un système n'est pas en mesure de reconnaître un code, il peut choisir d'afficher le libellé qui est obligatoirement fourni avec le code.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="operator">
        <sequence>
            <element minOccurs="0" name="detailedName" type="x:detailedName"/>
            <element name="role">
                <annotation>
                    <documentation>A valoriser avec le rôle de l'opérateur au sein de l'entité émettrice du message : </documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMBULANCIER"/>
                        <enumeration value="ARM"/>
                        <enumeration value="INFIRMIER"/>
                        <enumeration value="MEDECIN"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="decider">
        <sequence>
            <element name="role">
                <annotation>
                    <documentation>Rôle de l'opérateur au sein de l'entité émettrice du message</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AMBULANCIER"/>
                        <enumeration value="ARM"/>
                        <enumeration value="INFIRMIER"/>
                        <enumeration value="MEDECIN"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="INCONNU"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="engagementDetails">
        <sequence>
            <element name="categoryType">
                <annotation>
                    <documentation>détaille le moyen à engager</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SMUR"/>
                        <enumeration value="HOSPIT"/>
                        <enumeration value="LIB"/>
                        <enumeration value="TSU "/>
                        <enumeration value="SIS"/>
                        <enumeration value="AASC"/>
                        <enumeration value="FDO"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="resourceType">
                <annotation>
                    <documentation>détaille le type de vecteur à engager</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AASC"/>
                        <enumeration value="VLSC"/>
                        <enumeration value="VPSP"/>
                        <enumeration value="AUTRESC"/>
                        <enumeration value="AUTREVEC"/>
                        <enumeration value="TAXI"/>
                        <enumeration value="TRANSP"/>
                        <enumeration value="TRAIN"/>
                        <enumeration value="AVION"/>
                        <enumeration value="PERSO"/>
                        <enumeration value="APIED"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="AUTRETRA"/>
                        <enumeration value="FSI"/>
                        <enumeration value="HELIFSI"/>
                        <enumeration value="VLFSI"/>
                        <enumeration value="FFSI"/>
                        <enumeration value="VHFSI"/>
                        <enumeration value="LIB"/>
                        <enumeration value="MEDV"/>
                        <enumeration value="INF"/>
                        <enumeration value="AUTREPRO"/>
                        <enumeration value="SIS"/>
                        <enumeration value="VSAV"/>
                        <enumeration value="GRIMP"/>
                        <enumeration value="VPL"/>
                        <enumeration value="SRSIS"/>
                        <enumeration value="FEUSIS"/>
                        <enumeration value="VPMA"/>
                        <enumeration value="VCH"/>
                        <enumeration value="VR"/>
                        <enumeration value="PCSIS"/>
                        <enumeration value="VLISP"/>
                        <enumeration value="VLMSP"/>
                        <enumeration value="VLCG"/>
                        <enumeration value="VLSIS"/>
                        <enumeration value="DRAGON"/>
                        <enumeration value="AVSC"/>
                        <enumeration value="MOYSSE"/>
                        <enumeration value="AUTRESIS"/>
                        <enumeration value="NAVISIS"/>
                        <enumeration value="SMUR"/>
                        <enumeration value="VLM"/>
                        <enumeration value="VL"/>
                        <enumeration value="PSM1"/>
                        <enumeration value="PSM2"/>
                        <enumeration value="PSM3"/>
                        <enumeration value="PSMP"/>
                        <enumeration value="VPC"/>
                        <enumeration value="AR"/>
                        <enumeration value="AR-BAR"/>
                        <enumeration value="AR-PED"/>
                        <enumeration value="HELISMUR"/>
                        <enumeration value="HELISAN"/>
                        <enumeration value="AVSMUR"/>
                        <enumeration value="AVSAN"/>
                        <enumeration value="NAVISMUR"/>
                        <enumeration value="TSU"/>
                        <enumeration value="VSL"/>
                        <enumeration value="AMB-GV"/>
                        <enumeration value="AMB-PV"/>
                        <enumeration value="AMB-BAR"/>
                        <enumeration value="AMB"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="concoursRequest" type="string">
                <annotation>
                    <documentation>Identifiant de la ou des demandes de concours </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="resourceId" type="string"/>
            <element name="teamCareInitial">
                <annotation>
                    <documentation>Type d’équipe (médical, paramédicale, non médicale, standard, incomplete, ...)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MED"/>
                        <enumeration value="PARAMED"/>
                        <enumeration value="SECOURS"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="transportDetails">
        <sequence>
            <element name="orientation">
                <annotation>
                    <documentation>Décision(s) d'orientation prise par le médecin régulateur : 
- A transporter
- Laisser sur place</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="OK"/>
                        <enumeration value="TEMP"/>
                        <enumeration value="SEUL"/>
                        <enumeration value="AFAMILLE"/>
                        <enumeration value="AMED"/>
                        <enumeration value="AFDO"/>
                        <enumeration value="ATIERS"/>
                        <enumeration value="MOYPERSO"/>
                        <enumeration value="Code vecteur choisi"/>
                        <enumeration value="REFPAT"/>
                        <enumeration value="REFFAM"/>
                        <enumeration value="PASREAKO"/>
                        <enumeration value="PASREAOK"/>
                        <enumeration value="REA"/>
                        <enumeration value="TRANSPOR"/>
                        <enumeration value="ADM"/>
                        <enumeration value="FUGUE"/>
                        <enumeration value="REFAUTRE"/>
                        <enumeration value="RAS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="concoursRequest" type="string">
                <annotation>
                    <documentation>Identifiant de la ou des demandes de concours </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="resourceId" type="string">
                <annotation>
                    <documentation>Identifiant du véhicule terrestre / aérien / maritime de transport principal (= celui dans lequel se trouve le patient), permettant d'associer la décision à un véhicule spécifique + au patient. </documentation>
                </annotation>
            </element>
            <element name="teamCare">
                <annotation>
                    <documentation>Type d’équipe (médical, paramédicale, non médicale, standard, incomplete, ...)</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MED"/>
                        <enumeration value="PARAMED"/>
                        <enumeration value="SECOURS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="destination" type="x:destination"/>
        </sequence>
    </complexType>
    <complexType name="destination">
        <sequence>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>Indique le type de destination de la ressource : service d’urgences d’un Etablissement de santé, autres services d’un établissement de santé, cabinet d’un professionnel de santé, domicile personnel, EPHAD ou long séjour, autre</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="URGENCES"/>
                        <enumeration value="SANTE"/>
                        <enumeration value="CABINET"/>
                        <enumeration value="DOMICILE"/>
                        <enumeration value="EPHAD"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="location" type="x:location"/>
        </sequence>
    </complexType>
    <complexType name="customMap">
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de la balise</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="label" type="string">
                <annotation>
                    <documentation>A valoriser avec le libellé correspondant</documentation>
                </annotation>
            </element>
            <element name="value" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur associée à la clé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="freetext" type="string">
                <annotation>
                    <documentation>Informations complémentaires sur le contexte / utilisation de cette correspondance additionnelle</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
