src/main/resources/xsd/RS-RI.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:resourcesinfo" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:resourcesinfo" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="resourcesInfo" type="x:resourcesInfo"/>
    <complexType name="resourcesInfo">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="resource" type="x:resource"/>
        </sequence>
    </complexType>
    <complexType name="resource">
        <sequence>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec la date et heure d'engagement de la ressource/du vecteur</documentation>
                </annotation>
            </element>
            <element name="resourceId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé unique de la ressource engagée, normé comme suit :
{orgID}.resource.{ID unique de la ressource partagée}
OU - uniquement dans le cas où un ID unique de ressource ne peut pas être garanti par l'organisation propriétaire :
{orgID}.resource.{sendercaseId}.{n° d’ordre chronologique de la ressource}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([\w-]+\.){3,8}resource(\.[\w-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="requestId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant unique partagé de la demande de ressource (si la ressource a été engagée suite à une demande de ressource), normé comme suit :
{orgID}.request.{ID unique de la demande dans le système émetteur}
OU - si un ID unique de la demande n'était pas disponible : 
{OrgId émetteur}.request.{senderCaseId}.{numéro d’ordre chronologique}</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([\w-]+\.){3,8}request(\.[\w-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="missionId" type="string">
                <annotation>
                    <documentation>A valoriser avec le numéro de mission unique du central d’appel (PSAP, …) qui a déclenché le vecteur</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orgId" type="string">
                <annotation>
                    <documentation>A valoriser avec l'identifiant de l'organisation à laquelle appartient la ressource, normé comme suit : 
{pays}.{domaine}.{organisation}</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="patientId" type="string">
                <annotation>
                    <documentation>Identifiant partagé du patient qui est transporté. Ce n'est à remplir que lorsque l'on sait quel vecteur transporte quel patient. 
Il est valorisé comme suit lors de sa création : 
{OrgId émetteur}.patient.{n°patient unique dans le système émetteur}

OU, si un n°patient unique n'existe pas dans le système émetteur :
{ID émetteur}.{senderCaseId}.patient.{numéro d’ordre chronologique au dossier}</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="centerName" type="string">
                <annotation>
                    <documentation>A valoriser avec le lieu de garage principal</documentation>
                </annotation>
            </element>
            <element name="vehicleType">
                <annotation>
                    <documentation>A valoriser avec le type de vecteur mobilisé : cf. nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="AASC"/>
                        <enumeration value="AASC.VLSC"/>
                        <enumeration value="AASC.VPSP"/>
                        <enumeration value="AASC.AUTRESC"/>
                        <enumeration value="AUTREVEC"/>
                        <enumeration value="AUTREVEC.APIED"/>
                        <enumeration value="AUTREVEC.AVION"/>
                        <enumeration value="AUTREVEC.PERSO"/>
                        <enumeration value="AUTREVEC.TAXI"/>
                        <enumeration value="AUTREVEC.TRAIN"/>
                        <enumeration value="AUTREVEC.TRANSP"/>
                        <enumeration value="AUTREVEC.AUTRE"/>
                        <enumeration value="AUTREVEC.AUTRETRA"/>
                        <enumeration value="FSI"/>
                        <enumeration value="FSI.HELIFSI"/>
                        <enumeration value="FSI.VLFSI"/>
                        <enumeration value="FSI.FFSI"/>
                        <enumeration value="FSI.VHFSI"/>
                        <enumeration value="LIB"/>
                        <enumeration value="LIB.MEDV"/>
                        <enumeration value="LIB.INF"/>
                        <enumeration value="LIB.AUTREPRO"/>
                        <enumeration value="SIS"/>
                        <enumeration value="SIS.DRAGON"/>
                        <enumeration value="SIS.AVSC"/>
                        <enumeration value="SIS.FEUSIS"/>
                        <enumeration value="SIS.GRIMP"/>
                        <enumeration value="SIS.NAVISIS"/>
                        <enumeration value="SIS.PCSIS"/>
                        <enumeration value="SIS.SRSIS"/>
                        <enumeration value="SIS.VCH"/>
                        <enumeration value="SIS.VLCG"/>
                        <enumeration value="SIS.VLISP"/>
                        <enumeration value="SIS.VLMSP"/>
                        <enumeration value="SIS.VLSIS"/>
                        <enumeration value="SIS.VPL"/>
                        <enumeration value="SIS.VPMA"/>
                        <enumeration value="SIS.VR"/>
                        <enumeration value="SIS.VSAV"/>
                        <enumeration value="SIS.MOYSSE"/>
                        <enumeration value="SIS.AUTRESIS"/>
                        <enumeration value="SMUR"/>
                        <enumeration value="SMUR.VLM"/>
                        <enumeration value="SMUR.VL"/>
                        <enumeration value="SMUR.PSM1"/>
                        <enumeration value="SMUR.PSM2"/>
                        <enumeration value="SMUR.PSM3"/>
                        <enumeration value="SMUR.PSMP"/>
                        <enumeration value="SMUR.VPC"/>
                        <enumeration value="SMUR.AR"/>
                        <enumeration value="SMUR.AR-BAR"/>
                        <enumeration value="SMUR.AR-PED"/>
                        <enumeration value="SMUR.HELISMUR"/>
                        <enumeration value="SMUR.HELISAN"/>
                        <enumeration value="SMUR.AVSMUR"/>
                        <enumeration value="SMUR.AVSAN"/>
                        <enumeration value="SMUR.NAVISMUR"/>
                        <enumeration value="TSU"/>
                        <enumeration value="TSU.VSL"/>
                        <enumeration value="TSU.AMB-GV"/>
                        <enumeration value="TSU.AMB-PV"/>
                        <enumeration value="TSU.AMB-BAR"/>
                        <enumeration value="TSU.AMB"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom donné à la ressource par l’organisation d’appartenance</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="centerCity">
                <annotation>
                    <documentation>A valoriser avec le code INSEE de la commune du centre d'affectation</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="team" type="x:team"/>
            <element maxOccurs="unbounded" minOccurs="0" name="state" type="x:state"/>
            <element minOccurs="0" name="contact" type="x:contact"/>
            <element maxOccurs="unbounded" minOccurs="0" name="freetext" type="string"/>
        </sequence>
    </complexType>
    <complexType name="team">
        <sequence>
            <element minOccurs="0" name="medicalLevel">
                <annotation>
                    <documentation>A valoriser avec le  niveau de médicalisation du vecteur. Cf. nomenclature associée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MED"/>
                        <enumeration value="PARAMED"/>
                        <enumeration value="SECOURS"/>
                        <enumeration value="SANS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>A valoriser avec le nom de l'équipe à bord du vecteur (celui communiqué par l'organisation à laquelle l'équipe appartient)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="state">
        <sequence>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec la date et heure d'engagement de changement vers le nouveau statut</documentation>
                </annotation>
            </element>
            <element name="status">
                <annotation>
                    <documentation>A valoriser avec le statut du vecteur. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DECISION"/>
                        <enumeration value="DECLENCHE"/>
                        <enumeration value="DEPART"/>
                        <enumeration value="ANNULE"/>
                        <enumeration value="ARRIVEE"/>
                        <enumeration value="PEC"/>
                        <enumeration value="BILAN"/>
                        <enumeration value="ORIENTAT"/>
                        <enumeration value="TRANSP"/>
                        <enumeration value="ETAPE1"/>
                        <enumeration value="TRANSP2"/>
                        <enumeration value="ETAPE2"/>
                        <enumeration value="TRANSP3"/>
                        <enumeration value="DESTIN"/>
                        <enumeration value="FINPEC"/>
                        <enumeration value="RETOUR"/>
                        <enumeration value="RET-BASE"/>
                        <enumeration value="REN-BASE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="availability" type="boolean">
                <annotation>
                    <documentation>A valoriser de manière à indiquer la disponibilité du vecteur.
TRUE = DISPONIBLE
FALSE = INDISPONIBLE
VIDE = INCONNU</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>A valoriser avec le type de l'URI utilisée. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                        <enumeration value="MSS"/>
                        <enumeration value="POSTAL"/>
                        <enumeration value="RADIO"/>
                        <enumeration value="TEL"/>
                        <enumeration value="WEB"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="details" type="string">
                <annotation>
                    <documentation>A valoriser avec la valeur de l'URI utilisée
Le format attendu pour un numéro de téléphone est le suivant : +{indicatif pays}{numéro de téléphone}</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
