src/main/resources/xsd/RS-RI.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:cisu:2.0:resourcesInfo" elementFormDefault="qualified" targetNamespace="urn:emergency:cisu:2.0:resourcesInfo" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="resourcesInfo" type="x:resourcesInfo"/>
    <complexType name="resourcesInfo">
        <sequence>
            <element name="caseId" type="string">
                <annotation>
                    <documentation>Identifiant de l'affaire partagé entre tous les intervenants = aux champs {organization}.{senderCaseId}
Il doit pouvoir être généré de façon unique et décentralisée et ne présenter aucune ambiguïté. 
Il est généré par le système du partenaire récepteur de la primo-demande de secours (créateur du dossier).
Valorisation : {pays}.{domaine}.{organisation}.{structure interne}*.{unité fonctionnelle}*.{numéro de dossier}</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="mobilizedResources" type="x:resource"/>
        </sequence>
    </complexType>
    <complexType name="resource">
        <sequence>
            <element name="dateTime" type="dateTime">
                <annotation>
                    <documentation>date et heure d'engagement de la ressource</documentation>
                </annotation>
            </element>
            <element name="resourceID" type="string">
                <annotation>
                    <documentation>ID unique de la ressource engagée partagée 
{orgID}.{ID unique de la ressource partagée}
Ou, uniquement dans le cas où un ID unique de ressource ne peut pas être garanti par l'organisation propriétaire :
{orgID}.{ID du dossier partagé}.R{numéro d’ordre chronologique ressource}</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="missionID" type="string">
                <annotation>
                    <documentation>Numéro de mission unique du central d’appel (PSAP, …) qui a déclenché le vecteur</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orgID" type="string">
                <annotation>
                    <documentation>Organisation à laquelle appartient la ressource</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="centerName" type="string">
                <annotation>
                    <documentation>Lieu de garage principal</documentation>
                </annotation>
            </element>
            <element name="resourceType">
                <annotation>
                    <documentation>Type de ressource mobilisée : Smur, Hospitaliers (hors Smur), Professionnels Libéraux, Ambulanciers privés (Transporteurs Sanitaires Urgent), etc.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="SMUR"/>
                        <enumeration value="HOSPIT"/>
                        <enumeration value="LIB"/>
                        <enumeration value="TSU "/>
                        <enumeration value="SIS"/>
                        <enumeration value="AASC"/>
                        <enumeration value="FDO"/>
                        <enumeration value="ADM"/>
                        <enumeration value="DAE"/>
                        <enumeration value="AUTRE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="vehiculeType">
                <annotation>
                    <documentation>Type de vecteur mobilisé : Véhicule Léger Médicalisé, Ambulance de réanimation, Ambulance de réanimation Bariatrique, Ambulance de réanimation Pédiatrique, etc.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="VPSP"/>
                        <enumeration value="VLSC"/>
                        <enumeration value="AUTRESC"/>
                        <enumeration value="TAXI"/>
                        <enumeration value="TRANSP"/>
                        <enumeration value="AUTRE"/>
                        <enumeration value="TRAIN"/>
                        <enumeration value="AVION"/>
                        <enumeration value="PERSO"/>
                        <enumeration value="APIED"/>
                        <enumeration value="INCONNU"/>
                        <enumeration value="CONSEIL"/>
                        <enumeration value="DAE"/>
                        <enumeration value="HELIFSI"/>
                        <enumeration value="VLFSI"/>
                        <enumeration value="FFSI"/>
                        <enumeration value="VHFSI"/>
                        <enumeration value="MEDC"/>
                        <enumeration value="MEDV"/>
                        <enumeration value="PHARMA"/>
                        <enumeration value="INF"/>
                        <enumeration value="MEDSPE"/>
                        <enumeration value="DENT"/>
                        <enumeration value="AUTREPRO"/>
                        <enumeration value="DRAGON"/>
                        <enumeration value="AVSC"/>
                        <enumeration value="VSAV"/>
                        <enumeration value="GRIMP"/>
                        <enumeration value="VPL"/>
                        <enumeration value="SRSIS"/>
                        <enumeration value="FEUSIS"/>
                        <enumeration value="VPMA"/>
                        <enumeration value="VCH"/>
                        <enumeration value="VR"/>
                        <enumeration value="PCSIS"/>
                        <enumeration value="VLISP"/>
                        <enumeration value="VLMSP"/>
                        <enumeration value="VLCG"/>
                        <enumeration value="VLSIS"/>
                        <enumeration value="MOYSSE"/>
                        <enumeration value="AUTRESIS"/>
                        <enumeration value="VLM"/>
                        <enumeration value="AR"/>
                        <enumeration value="AR-BAR"/>
                        <enumeration value="AR-PED"/>
                        <enumeration value="VL"/>
                        <enumeration value="HELISMUR"/>
                        <enumeration value="HELISAN"/>
                        <enumeration value="AVSMUR"/>
                        <enumeration value="AVSAN"/>
                        <enumeration value="NAVISMUR"/>
                        <enumeration value="PSM1"/>
                        <enumeration value="PSM2"/>
                        <enumeration value="PSM3"/>
                        <enumeration value="PSMP"/>
                        <enumeration value="VPC"/>
                        <enumeration value="AMB-GV"/>
                        <enumeration value="AMB-PV"/>
                        <enumeration value="AMB-BAR"/>
                        <enumeration value="AMB"/>
                        <enumeration value="VSL"/>
                        <enumeration value="NAVISIS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="plate" type="string">
                <annotation>
                    <documentation>N° d'immatriculation du vecteur</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom donné à la ressource par l’organisation d’appartenance</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="centerCity">
                <annotation>
                    <documentation>Code INSEE de la commune du centre d'affectation</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-9]{5}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="team" type="x:team"/>
            <element maxOccurs="unbounded" minOccurs="0" name="state" type="x:state"/>
            <element minOccurs="0" name="coord" type="x:coord"/>
            <element minOccurs="0" name="contact" type="x:contact"/>
            <element maxOccurs="unbounded" minOccurs="0" name="freetext" type="string"/>
        </sequence>
    </complexType>
    <complexType name="team">
        <sequence>
            <element minOccurs="0" name="teamCare">
                <annotation>
                    <documentation>Médical / paramédical : indique le niveau de médicalisation du vecteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="MED"/>
                        <enumeration value="PARAMED"/>
                        <enumeration value="SECOURS"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="name" type="string">
                <annotation>
                    <documentation>Nom de l'équipe à bord du vecteur</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="state">
        <sequence>
            <element minOccurs="0" name="dateTime" type="dateTime"/>
            <element minOccurs="0" name="status" type="string">
                <annotation>
                    <documentation>Dernier statut du vecteur</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="availability" type="string">
                <annotation>
                    <documentation>Indique si le vecteur est disponible / indisponible</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="coord">
        <sequence>
            <element name="lat" type="decimal">
                <annotation>
                    <documentation>Latitude du point clé de la localisation </documentation>
                </annotation>
            </element>
            <element name="lon" type="decimal">
                <annotation>
                    <documentation>Longitude du point clé de la localisation</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="height" type="decimal">
                <annotation>
                    <documentation>Altitude du point clé de la localisation, en mètre, ignoré côté NexSIS. </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="heading" type="decimal">
                <annotation>
                    <documentation>En degré</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="speed" type="decimal">
                <annotation>
                    <documentation>Vitesse en km/h, notamment fournie par eCall, tel, nouveau AML, …</documentation>
                </annotation>
            </element>
            <element name="precision">
                <annotation>
                    <documentation>Indique via une nomenclature le niveau de précision des coordonnées fournies par le système emetteur.
CITY=Précision à l'échelle de la ville, STREET=Précision à l'échelle de la rue, ADDRESS=Adresse précise, EXACT=Point coordonnée GPS exact, UNKNOWN=Précision de la localisation non évaluable par l'émetteur</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="VILLE"/>
                        <enumeration value="RUE"/>
                        <enumeration value="ADRESSE"/>
                        <enumeration value="EXACTE"/>
                        <enumeration value="INCONNUE"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="contact">
        <sequence>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>Type de l'URI utilisée</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="TEL"/>
                        <enumeration value="EMAIL"/>
                        <enumeration value="FAX"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="details" type="string">
                <annotation>
                    <documentation>Valeur de l'URI utilisée pour contacter la ressource</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
