src/main/resources/xsd/RS-SAS-RDV.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:createAppointment" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:createAppointment" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="createAppointment" type="x:createAppointment"/>
    <complexType name="createAppointment">
        <sequence>
            <element name="appointmentId" type="string">
                <annotation>
                    <documentation>Un identifiant technique unique par RDV est transmis. 

Cet identifiant est défini par la plateforme numérique SAS et peut prendre la forme d’un UUID par exemple. 
La solution éditeur devra s’appuyer sur cet ID pour la gestion des requêtes de mises à jour.</documentation>
                </annotation>
            </element>
            <element name="created" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’heure de la prise de RDV</documentation>
                </annotation>
            </element>
            <element name="start" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’horaire de début du rendez-vous</documentation>
                </annotation>
            </element>
            <element name="end" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’horaire de fin du rendez-vous</documentation>
                </annotation>
            </element>
            <element name="status" type="string">
                <annotation>
                    <documentation>Indique le statut du rendez-vous</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="orientationCategory" type="string">
                <annotation>
                    <documentation>Indique la catégorie de l’orientation de rendez-vous</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="practitioner" type="x:practitioner"/>
            <element minOccurs="0" name="organization" type="x:organization"/>
        </sequence>
    </complexType>
    <complexType name="practitioner">
        <sequence>
            <element name="rppsId" type="string">
                <annotation>
                    <documentation>Identifiant national (RPPS) du PS</documentation>
                </annotation>
            </element>
            <element name="lastName" type="string">
                <annotation>
                    <documentation>Nom du professionnel de santé</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="firstName" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="speciality" type="string"/>
        </sequence>
    </complexType>
    <complexType name="organization">
        <sequence>
            <element name="organizationId" type="string">
                <annotation>
                    <documentation>Indique l'identifiant national de la structure</documentation>
                </annotation>
            </element>
            <element name="name" type="string">
                <annotation>
                    <documentation>Indique le nom de la structure</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
