src/main/resources/xsd/RS-SR.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:resourcesstatus" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:resourcesstatus" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="resourcesStatus" type="x:resourcesStatus"/>
    <complexType name="resourcesStatus">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé de l'affaire/dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="resourceId">
                <annotation>
                    <documentation>A valoriser avec l'identifiant partagé unique de la ressource engagée , normé comme suit :
{orgID}.R.{ID unique de la ressource partagée}
Ou, uniquement dans le cas où un ID unique de ressource ne peut pas être garanti par l'organisation propriétaire :
{orgID}.R.{ID du dossier partagé}.{numéro d’ordre chronologique ressource}

N.B. Il s'agit de l'orgId de l'organisation à qui appartient la ressource</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}resource(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="state" type="x:state"/>
        </sequence>
    </complexType>
    <complexType name="state">
        <sequence>
            <element name="datetime" type="dateTime">
                <annotation>
                    <documentation>A valoriser avec la date et heure d'engagement de changement vers le nouveau statut</documentation>
                </annotation>
            </element>
            <element name="status">
                <annotation>
                    <documentation>A valoriser avec le statut du vecteur. Cf nomenclature associée.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DECISION"/>
                        <enumeration value="DECLENCHE"/>
                        <enumeration value="DEPART"/>
                        <enumeration value="ANNULE"/>
                        <enumeration value="ARRIVEE"/>
                        <enumeration value="PEC"/>
                        <enumeration value="BILAN"/>
                        <enumeration value="ORIENTAT"/>
                        <enumeration value="TRANSP"/>
                        <enumeration value="ETAPE1"/>
                        <enumeration value="TRANSP2"/>
                        <enumeration value="ETAPE2"/>
                        <enumeration value="TRANSP3"/>
                        <enumeration value="DESTIN"/>
                        <enumeration value="FINPEC"/>
                        <enumeration value="RETOUR"/>
                        <enumeration value="RET-BASE"/>
                        <enumeration value="REN-BASE"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="availability" type="boolean">
                <annotation>
                    <documentation>A valoriser de manière à indiquer la disponibilité du vecteur.
TRUE = DISPONIBLE
FALSE = INDISPONIBLE
VIDE = INCONNU</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
