src/main/resources/xsd/RS-SAS-RDV.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:appointment" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:appointment" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="appointment" type="x:appointment"/>
    <complexType name="appointment">
        <sequence>
            <element name="appointmentId" type="string">
                <annotation>
                    <documentation>Un identifiant technique unique par RDV est transmis. 

Cet identifiant est défini par la plateforme numérique SAS et peut prendre la forme d’un UUID par exemple. 
La solution éditeur devra s’appuyer sur cet ID pour la gestion des requêtes de mises à jour.</documentation>
                </annotation>
            </element>
            <element name="method">
                <annotation>
                    <documentation>Indique un message de création ou de modification du rendez-vous</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CreateAppointment"/>
                        <enumeration value="UpdateAppointment"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="created" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’heure de la prise de RDV</documentation>
                </annotation>
            </element>
            <element name="start" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’horaire de début du rendez-vous</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="end" type="dateTime">
                <annotation>
                    <documentation>Indique la date et l’horaire de fin du rendez-vous</documentation>
                </annotation>
            </element>
            <element name="status">
                <annotation>
                    <documentation>Indique le statut du rendez-vous</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="pending"/>
                        <enumeration value="booked"/>
                        <enumeration value="fulfilled"/>
                        <enumeration value="noshow"/>
                        <enumeration value="cancelled"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="orientationCategory">
                <annotation>
                    <documentation>Indique la catégorie de l’orientation de rendez-vous</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="CPTS"/>
                        <enumeration value="MSP"/>
                        <enumeration value="CDS"/>
                        <enumeration value="SOS"/>
                        <enumeration value="PS"/>
                        <enumeration value="PDM"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="practitioner" type="x:practitioner"/>
            <element minOccurs="0" name="organization" type="x:organization"/>
        </sequence>
    </complexType>
    <complexType name="practitioner">
        <sequence>
            <element name="rppsId">
                <annotation>
                    <documentation>Identifiant national (RPPS) du PS</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="81[0-9]{10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="lastName" type="string">
                <annotation>
                    <documentation>Nom du professionnel de santé</documentation>
                </annotation>
            </element>
            <element name="firstName" type="string">
                <annotation>
                    <documentation>Prénom du professionnel de santé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="specialityCode" type="string">
                <annotation>
                    <documentation>Code de la spécialité du professionnel de santé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="specialityUrl" type="string">
                <annotation>
                    <documentation>Url de la terminologie utilisée pour la spécialité</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="professionCode" type="string">
                <annotation>
                    <documentation>Code de la profession du professionnel de santé</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="professionUrl" type="string">
                <annotation>
                    <documentation>Url de la terminologie utilisée pour la profession</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="organization">
        <sequence>
            <element name="organizationId" type="string">
                <annotation>
                    <documentation>Indique l'identifiant national de la structure</documentation>
                </annotation>
            </element>
            <element name="name" type="string">
                <annotation>
                    <documentation>Indique le nom de la structure</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
