src/main/resources/xsd/RS-URL.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="urn:emergency:eda:1.9:documentlink" elementFormDefault="qualified" targetNamespace="urn:emergency:eda:1.9:documentlink" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="documentLink" type="x:documentLink"/>
    <complexType name="documentLink">
        <sequence>
            <element name="caseId">
                <annotation>
                    <documentation>Identifiant partagé du dossier, généré une seule fois par le système du partenaire qui recoit la primo-demande de secours (créateur du dossier). 
Il est valorisé comme suit lors de sa création : 
{pays}.{domaine}.{organisation}.{senderCaseId}

Il doit pouvoir être généré de façon décentralisée et ne présenter aucune ambiguïté.
 Il doit être unique dans l'ensemble des systèmes : le numéro de dossier fourni par celui qui génère l'identifiant partagé doit donc être un numéro unique dans son système.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.?){4,10}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="patientId">
                <annotation>
                    <documentation>Indique l'identifiant partagé du patient auquel les documents sont rattachés</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <pattern value="([a-zA-Z0-9_-]+\.){3,8}patient(\.[a-zA-Z0-9_-]+){1,2}"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="code" type="string">
                <annotation>
                    <documentation>Code unitaire par bilan qui permet à l'utilisateur qui reçoit ce lien d'ouvrir le bilan lorsque celui ci ne nécessite pas une connexion nominative mais un code bilan </documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="document" type="x:document"/>
        </sequence>
    </complexType>
    <complexType name="document">
        <sequence>
            <element minOccurs="0" name="documentType" type="string">
                <annotation>
                    <documentation>Informe l'utilisateur du type de document que le lien URL permet d'ouvrir</documentation>
                </annotation>
            </element>
            <element name="url" type="string">
                <annotation>
                    <documentation>URL qui permet à l'utilisateur du LRM d'ouvrir le type de document précisé dans le champ précédent</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
