automatic-schema-generator/templates/RC-XML-ContentType.xsd.tmpl

<?xml version="1.0" encoding="UTF-8"?>
<!--
********************************************************************************************************************
    This file has been generated by the automatic schema generator script.
********************************************************************************************************************
-->
<schema xmlns:x="urn:emergency:{{ $namespace := "eda:1.9" }}{{ $namespace }}"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        {{ range (datasource "config").schemas }}{{if and (eq .automaticGeneration "Y") .xmlns}}xmlns:{{.rootElement}}="urn:emergency:{{.xmlns}}"{{end}}
        {{end -}}
        xmlns:error="urn:emergency:{{ $namespace }}:error"
        elementFormDefault="qualified"
        targetNamespace="urn:emergency:{{ $namespace }}" xmlns="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="RC-DE.xsd"/>
    <xs:include schemaLocation="customContent.xsd"/>
    {{ range (datasource "config").schemas }}
    {{- if and (eq .automaticGeneration "Y") .xmlns}}<{{if eq .xmlns $namespace }}xs:include{{else}}xs:import namespace="urn:emergency:{{.xmlns}}"{{end}} schemaLocation="{{.schema}}.xsd"/>{{end}}
    {{end}}<xs:import namespace="urn:emergency:{{ $namespace }}:error" schemaLocation="RS-ERROR.xsd"/>

    <xs:complexType name="cisuXMLContentType">
        <xs:sequence>
            <xs:element name="message" type="x:MessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cisuXMLContentTypeNoHeader">
        <xs:sequence>
            <xs:element name="message" type="x:NoHeaderMessageType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageType">
        <xs:complexContent>
            <xs:extension base="x:distributionElement">
                <xs:sequence>
                    <xs:choice>{{ range (datasource "config").schemas }}{{if and (eq .automaticGeneration "Y") (and (eq .header "Y") .xmlns)}}
                        <xs:element ref="{{.rootElement}}:{{.rootElement}}"/>{{end}}{{end}}
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NoHeaderMessageType">
        <xs:sequence>
            <xs:choice>{{ range (datasource "config").schemas }}{{if and (eq .automaticGeneration "Y") (and (eq .header "N") .xmlns)}}
                <xs:element ref="{{.rootElement}}:{{.rootElement}}"/>{{end}}{{end}}
                <xs:element ref="error:error"/>
                <xs:element ref="x:customContent"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</schema>
